distros/X/XSDSQL/t/xml_004/anonymous_sequence.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="anonymous_sequence">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="el0" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="el1" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="el2" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="el3" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

 
