distros/V/VMware-vCloud/etc/1.0/schemas/admin/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright © 2009 VMware, Inc. All rights reserved.

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Except as explicitly provided herein, no express or implied licenses, under any VMware patents, copyrights, trademarks, or any other intellectual property rights, are granted or waived by implication, exhaustion, estoppel, or otherwise, on modified versions of the Software.
-->
<xs:schema xmlns="http://www.vmware.com/vcloud/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.vmware.com/vcloud/v1" version="1.0">

    <xs:include schemaLocation="../vcloud/entity.xsd"/>

    <xs:element name="User" type="UserType"/>
    <xs:complexType name="UserType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents users in the vCloud system.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="FullName" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Full name of the user.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="EmailAddress" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                User s email address.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Telephone" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Telephone contacts of the user.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsEnabled" type="xs:boolean" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Not specifying this flag in the request to update a User
                                will result in disabling it (default value if flag is not
                                specified is false).
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IM" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                User's instant messaging address.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NameInSource" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                User name as retrieved from, and in the encoding used by, LDAP.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsAlertEnabled" type="xs:boolean" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if alerts are enabled for the user.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AlertEmailPrefix" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                String to prepend to alert message Subject line.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AlertEmail" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if this user should get alert email.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsExternal" type="xs:boolean" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Indicates whether a user is imported from an external source
                                or not. Set to true on user creation in order to import from
                                an external (LDAP) source.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsDefaultCached" type="xs:boolean" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if this user is cached.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsGroupRole" type="xs:boolean" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if this user has a group role.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="StoredVmQuota" type="xs:int" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Quota of vApps that this user can store. A value of
                                0 specifies an unlimited quota.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DeployedVmQuota" type="xs:int" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Quota of vApps that this user can deploy concurrently.
                                A value of 0 specifies an unlimited quota.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Role" type="ReferenceType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A reference to the user s role. When you are creating a User,
                                the request body must contain exactly one Role element.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Password" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The user s password. This value is never returned by
                                GET. It is inspected on create and modify. On modify,
                                the absence of this element indicates that the password
                                should not be changed.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="GroupReferences" type="GroupsListType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Container for ReferenceType elements that reference groups
                                of which this user is a member.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Group" type="GroupType"/>
    <xs:complexType name="GroupType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents group in the system.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="NameInSource" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Group name as retrieved from, and in the encoding used by, LDAP.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="UsersList" type="UsersListType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A list of references to users in the group.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Role" type="ReferenceType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The role that the users in this group.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UsersListType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for ReferenceType elements that reference users.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="UserReference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                ReferenceType element that references a user.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="GroupsListType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for ReferenceType elements that reference groups.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="GroupReference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                ReferenceType element that reference a catalog.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Right" type="RightType"/>
    <xs:complexType name="RightType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a right in the system.
                Rights are assigned to roles and are read only. They cannot be
                created, modified or deleted.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="Category" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Optional category name.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RightReferencesType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for ReferenceType elements that reference the
                predefined RightType objects.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="RightReference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                ReferenceType element that references a predefined RightType object.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Role" type="RoleType"/>
    <xs:complexType name="RoleType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Particular role that has a collection of rights.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="RightReferences" type="RightReferencesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Container for zero or more ReferenceType to right.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RoleReferencesType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for ReferenceType elements that reference RoleType objects.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="RoleReference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                ReferenceType element that references a role.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
