distros/V/VMware-vCloud/etc/1.0/schemas/admin/vCloudEntities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright © 2009 VMware, Inc. All rights reserved.

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Except as explicitly provided herein, no express or implied licenses, under any VMware patents, copyrights, trademarks, or any other intellectual property rights, are granted or waived by implication, exhaustion, estoppel, or otherwise, on modified versions of the Software.
-->
<xs:schema xmlns="http://www.vmware.com/vcloud/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.vmware.com/vcloud/v1" version="1.0">

    <xs:include schemaLocation="../vcloud/organization.xsd"/>
    <xs:include schemaLocation="../vcloud/vdc.xsd"/>
    <xs:include schemaLocation="user.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">
            Schema for the entry point into the vCloud Admin API.
        </xs:documentation>
    </xs:annotation>

    <xs:complexType name="OrganizationReferenceType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a reference to an Organization.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="ReferenceType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="VCloud" type="VCloudType"/>
    <xs:complexType name="OrganizationReferencesType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for OrganizationReferenceType elements that reference
                AdminOrgType objects.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="OrganizationReference" type="OrganizationReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A OrganizationReferenceType elements that reference AdminOrgType objects.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ProviderVdcReferencesType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for ReferenceType elements that reference ProviderVdcType objects.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="ProviderVdcReference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                ReferenceType element that references a ProviderVdcType object.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VCloudType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Top level container representing the cloud from the administrator's
                point of view. Contains Organizations and provider vDCs.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:annotation>
                        <xs:documentation xml:lang="id">
                            References to all Organizations in this cloud
                        </xs:documentation>
                    </xs:annotation>
                    <xs:element name="OrganizationReferences" type="OrganizationReferencesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Container for references to AdminOrg objects in the vCloud.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ProviderVdcReferences" type="ProviderVdcReferencesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A container for references to ProviderVdc objects in the vCloud.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RightReferences" type="RightReferencesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A container for references to Right objects in the vCloud.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                     <xs:element name="RoleReferences" type="RoleReferencesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A container for references to Role objects in the vCloud.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                     <xs:element name="Networks" type="NetworksType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A container for references to ExternalNetwork objects in the vCloud.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="AdminOrg" type="AdminOrgType"/>
    <xs:complexType name="AdminOrgType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                The AdminOrgType represents an administrative view of an organization.
                It includes all members of the Org element, and adds several
                elements that can be viewed and modified only by system administrators.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="OrgType">
                <xs:sequence>
                    <xs:element name="Settings" type="OrgSettingsType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Settings for this organization.
                                Establishes quotas and policies, specifies how the organization
                                connects to LDAP and email services.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Users" type="UsersListType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Container for ReferenceType elements that reference users
                                in the organization.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Groups" type="GroupsListType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Container for ReferenceType elements that reference groups
                                in the organization.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Catalogs" type="CatalogsListType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Container for ReferenceType elements that reference catalogs
                                in the organization.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Vdcs" type="VdcsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Container for ReferenceType elements that reference vDCs
                                in the organization.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Networks" type="NetworksType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Container for ReferenceType elements that reference networks
                                in the organization.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NetworksType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for ReferenceType elements that reference ExternalNetwork objects.
                This element is created by the server and is read only.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Network" type="ReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                ReferenceType element that references ExternalNetworkType object.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CatalogsListType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for ReferenceType elements that reference catalogs.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="CatalogReference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                ReferenceType element that reference a catalog.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="ExternalNetwork" type="ExternalNetworkType"/>
    <xs:complexType name="ExternalNetworkType">
        <xs:annotation>
            <xs:documentation source="since">1.0</xs:documentation>
            <xs:documentation xml:lang="en">
                Admin representation of external network.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="NetworkType">
                <xs:sequence>
                    <xs:element name="ProviderInfo" type="xs:string">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="id">
                                Shows VC server and port group moref used for external network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="OrgNetwork" type="OrgNetworkType"/>

    <xs:complexType name="OrgSettingsType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Describes various settings for some organization.
                This type establishes quotas and policies for the organization.
                It also contains elements that specify the details of
                how the organization connects to LDAP and email services.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="IsEnabled" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Not specifying this flag in the request to update the OrgSettings
                                will result in disabling the org (default value if flag is not
                                specified is false)

                                True if this organization is enabled. If enabled, the
                                organization allows login and all other operations.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CanPublishCatalogs" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if this organization is allowed to publish catalogs.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DeployedVMQuota" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Maximum number of virtual machines that can be deployed
                                simultaneously by a member of this organization.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="StoredVmQuota" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Maximum number of vApps or vApp templates that can
                                be stored (in an undeployed state) by a member of this organization.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="OrgLeaseSettings" type="OrgLeaseSettingsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Defines default lease durations and related policies.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="OrgLdapMode" type="LdapModeType" minOccurs="0" maxOccurs="1">
                        <xs:annotation xml:lang="en">
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="id">
                                Defines whether this organization is connected to an
                                LDAP service, and whether it uses the system default
                                LDAP service or a custom LDAP service.
                                If 'custom', ldap settings need to be present.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="OrgLdapSettings" type="OrgLdapSettingsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Defines the hostname and connection details for the organization
                                s primary LDAP service.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CustomUsersOu" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                If OrgLdapMode is SYSTEM, specifies an LDAP attribute=value
                                pair to use for OU (organizational unit).
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="OrgEmailSettings" type="OrgEmailSettingsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Defines the email settings for this organization.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="UseServerBootSequence" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if virtual machines in this organization use the
                                server boot sequence by default.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DelayAfterPowerOnSeconds" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Specifies an organization default for virtual machine
                                boot delay after power on.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
             </xs:extension>
         </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrgLeaseSettingsType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Defines default lease durations and policies for an organization.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="DeleteOnStorageLeaseExpiration" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                If true, storage for a vApp is deleted when the vApp
                                s lease expires.
                                If false, the storage is flagged for deletion, but not deleted.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DeploymentLeaseSeconds" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Default duration of a vApp deployment lease, in seconds.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="StorageLeaseSeconds" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Default duration of a storage lease, in seconds.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrgLdapSettingsType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Defines the hostname and connection details for the organization
                s LDAP service.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="HostName" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Hostname of the LDAP server.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Port" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Port at which to connect to the LDAP service.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsSsl" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if the LDAP service requires an SSL connection.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsSslAcceptAll" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if the LDAP service accepts all SSL certificates.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Realm" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP realm to use when looking up users.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SearchBase" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP search base.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="UserName" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Username to use when logging in to LDAP, specified using
                                LDAP attribute=value pairs (for example: cn="ldap-admin",
                                c="example", dc="com").
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Password" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                On modify, the presence of this element
                                indicates a change in the password, absence
                                indicates that the password should remain the same. Never
                                returned on a GET request.

                                Password for the user identified by UserName. This value
                                is never returned by GET. It is inspected on create
                                and modify. On modify, the absence of this element indicates
                                that the password should not be changed.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AuthenticationMechanism" type="LdapAuthenticationMechanismType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Defines the authentication mechanism used by the LDAP service.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="GroupSearchBase" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP group search base.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsGroupSearchBaseEnabled" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if the group search base is enabled.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ConnectorType" type="LdapConnectorType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Defines the type of the LDAP service.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="UserAttributes" type="OrgLdapUserAttributesType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Defines how LDAP attributes are used when importing a user.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="GroupAttributes" type="OrgLdapGroupAttributesType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Defines how LDAP attributes are used when importing a group.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
             </xs:extension>
         </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrgLdapGroupAttributesType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Defines how a group is imported from LDAP.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="ObjectClass" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP objectClass of which imported groups are members.
                                For example, group.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ObjectIdentifier" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use as the unique identifier for a
                                group. For example, objectGuid.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="GroupName" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use for the group name. For example, cn.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Membership" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use when getting the members of a
                                group. For example, member.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MembershipIdentifier" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute that identifies a group as a member of
                                another group. For example, dn.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="BackLinkIdentifier" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP group attribute used to identify a group member.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrgLdapUserAttributesType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Defines how LDAP attributes are used when importing a user.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="ObjectClass" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP objectClass of which imported users are members.
                                For example, user or person
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ObjectIdentifier" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use as the unique identifier for a
                                user. For example, objectGuid.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="UserName" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use when looking up a user name to
                                import. For example, userPrincipalName or samAccountName.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Email" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use for the user s email address.
                                For example mail.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="FullName" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use for the user s full name. For
                                example displayName.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="GivenName" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use for the user s given name. For
                                example, givenName.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Surname" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use for the user s surname. For example sn.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Telephone" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use for the user s telephone number.
                                For example telephoneNumber.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="GroupMembershipIdentifier" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute that identifies a user as a member of
                                a group. For example, dn.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="GroupBackLinkIdentifier" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute that returns the identifiers of all the
                                groups of which the user is a member.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrgEmailSettingsType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Defines the email settings for an organization.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="IsDefaultSmtpServer" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if this organization uses the system default SMTP server.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsDefaultOrgEmail" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if this organization uses the system default email properties.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="FromEmailAddress" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                If IsDefaultOrgEmail is false, specifies the sender s
                                email address that appears in email notifications.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultSubjectPrefix" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                If IsDefaultOrgEmail is false, specifies a prefix for
                                system email notifications.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsAlertEmailToAllAdmins" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if system email notifications should be sent to
                                all users who have the Administrator role.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AlertEmailTo" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                If IsAlertEmailToAllAdmins is false, specifies a list
                                of users to receive system email notifications.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SmtpServerSettings" type="SmtpServerSettingsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation xml:lang="en">
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="id">
                                If IsDefaultSmtpServer is false, this element specifies
                                connection details for an SMTP server to use.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
              </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SmtpServerSettingsType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Specifies connection details for the organization s SMTP server.
                If IsDefaultSmtpServer (in OrgEmailSettings) is false, the SmtpServerSettings
                element is taken into account.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="IsUseAuthentication" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if the SMTP server requires authentication.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Host" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Hostname of the SMTP server.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Username" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Username to use when logging in to the SMTP service.
                                (Required if IsUseAuthentication is True).
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Password" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Password for the user identified by Username. This value
                                is never returned by GET. It is inspected on create and modify.
                                On modify, the absence of this element indicates that
                                the password should not be changed.
                                Required if IsUseAuthentication is true.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="LdapAuthenticationMechanismType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Defines the authentication mechanism used by the LDAP service.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SIMPLE">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        LDAP connection uses simple authentication as specified
                        in RFC 2251 and RFC 2829.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KERBEROS">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        LDAP connection uses Kerberos authentication.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MD5DIGEST">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        LDAP connection uses Digest MD5 authentication as specified in RFC 2831.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NTLM">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        LDAP connection uses Windows NTLM authentication.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LdapConnectorType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Defines the type of the LDAP service.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTIVE_DIRECTORY">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        LDAP service is Active Directory.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPEN_LDAP">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        LDAP service is OpenLDAP.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LdapModeType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                The LDAP settings mode enumeration.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The LDAP is not used.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SYSTEM">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The LDAP uses system settings.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CUSTOM">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Custom LDAP settings.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
