distros/V/VMware-vCloud/etc/1.5/schemas/extension/settings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright © 2011 VMware, Inc. All rights reserved.

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Except as explicitly provided herein, no express or implied licenses, under any VMware patents, copyrights, trademarks, or any other intellectual property rights, are granted or waived by implication, exhaustion, estoppel, or otherwise, on modified versions of the Software.
-->
<xs:schema  xmlns="http://www.vmware.com/vcloud/extension/v1.5" xmlns:vcloud="http://www.vmware.com/vcloud/v1.5" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.vmware.com/vcloud/extension/v1.5" version="1.0">

    <xs:import schemaLocation="../vcloud/common.xsd" namespace="http://www.vmware.com/vcloud/v1.5"/>
    <xs:import schemaLocation="../vcloud/task.xsd" namespace="http://www.vmware.com/vcloud/v1.5"/>
    <xs:import schemaLocation="../vcloud/network.xsd" namespace="http://www.vmware.com/vcloud/v1.5"/>

    <xs:element name="SystemSettings" type="SystemSettingsType"/>
    <xs:complexType name="SystemSettingsType">
        <xs:annotation>
             <xs:documentation xml:lang="en">
                 Represents the settings of the system.
             </xs:documentation>
             <xs:documentation source="since">1.5</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:ResourceType">
                <xs:sequence>
                    <xs:element name="GeneralSettings" type="GeneralSettingsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                 The general settings.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>

                    <xs:element name="NotificationsSettings" type="NotificationsSettingsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                 Notifications settings.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>

                    <xs:element name="LdapSettings" type="LdapSettingsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                 LDAP settings.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>

                    <xs:element name="AmqpSettings" type="AmqpSettingsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                 AMQP settings.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>

                    <xs:element name="EmailSettings" type="EmailSettingsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                 Represent all the email related settings in the system.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>

                    <xs:element name="License" type="LicenseType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                 This is used by the API to update and retrieve site license specific information.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>

                    <xs:element name="BrandingSettings" type="BrandingSettingsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                BrandingSettings stores all information about how to brand the product for
                                vCloud service, like provider name, logo etc.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>

                    <xs:element name="BlockingTaskSettings" type="BlockingTaskSettingsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                 Blocking task settings.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>

                    <xs:element name="PasswordPolicySettings" type="SystemPasswordPolicySettingsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>
                                 Password policy settings for the cloud provider administrator. These are also inherited by
                                 organizations, unless overridden at the organization level.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
       </xs:complexContent>
    </xs:complexType>

    <xs:element name="GeneralSettings" type="GeneralSettingsType"/>
    <xs:complexType name="GeneralSettingsType">
        <xs:annotation>
             <xs:documentation xml:lang="en">
                 Represents the general part of the system settings.
             </xs:documentation>
             <xs:documentation source="since">1.5</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:ResourceType">
                <xs:sequence>
                <xs:element name="AbsoluteSessionTimeoutMinutes" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Absolute number of minutes to timeout client session.
                                This will trigger session timeout even when there are user activities.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ActivityLogDisplayDays" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Days of activities to be displayed to the users.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ActivityLogKeepDays" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Days of activities to keep in the system.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AllowOverlappingExtNets" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Boolean flag that allows/disallows creation of multiple external networks on the same LAN segment.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ChargebackEventsKeepDays" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Days for which events are to be kept in Chargeback Tables.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ChargebackTablesCleanupJobTimeInSeconds" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Time of the day at which the job should run.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ConsoleProxyExternalAddress" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Load balancer address configured for Console Proxy.
                                Leave empty to clear the address.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="HostCheckDelayInSeconds" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Frequency of checking the host status
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="HostCheckTimeoutSeconds" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Number of seconds to wait for a response from a host before marking it as hung.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="InstallationId" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The installation Id. The acceptable value is between 0 and 63.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IpReservationTimeoutSeconds" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Number of seconds to keep released IP addresses on hold before making them available for allocation again. This is typically set to 2 hours to allow old entries to expire from client ARP tables.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SyslogServerSettings" type="vcloud:SyslogServerSettingsType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Default syslog server settings for networks.
                                If logging is configured for firewall rules, the logs will be directed to these syslog servers.
                                If you change these values, you must
                                synchronize the syslog server settings for each
                                network in the system by running its
                                syncSyslogServerSettings action.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="LoginNameOnly" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                System login policy setting (automatic login or remember user name only).
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PrePopDefaultName" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Pre-populate default configuration and virtual machine name.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="QuarantineEnabled" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Flag to indicate whether uploads should be quarantined.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="QuarantineResponseTimeoutSeconds" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The length of time, in seconds, before a quarantined transfer is 'timedout'.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RestApiBaseUri" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Load balancer address configured for the REST API.
                                Leave empty to clear the address.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SessionTimeoutMinutes" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Number of minutes to timeout client session.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ShowStackTraces" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Boolean flag to turn on/off the display of exception stack traces.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SyncStartDate" type="xs:dateTime" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Number of minutes to timeout client session.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SyncIntervalInHours" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP sync repeats interval time in hours.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SystemExternalAddress" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The systemExternalAddress is the external web link address to system.
                                Leave empty to clear the address.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="TransferSessionTimeoutSeconds" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Transfer sessions time out in this number of seconds.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VerifyVcCertificates" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Boolean flag to apply a strict trust check to vCenter certificates.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VcTruststorePassword" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Password for the vCenter truststore, if used. If empty or no password is passed then no update is performed.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VcTruststoreContents" type="xs:hexBinary" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                vCenter truststore bytes (if used).
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VcTruststoreType" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                vCenter truststore type (JKS, JCEKS, PKCS12).
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VmrcVersion" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                VMRC version.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VerifyVsmCertificates" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Boolean flag to apply a strict trust check to vShield Manager certificates.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="AmqpSettings" type="AmqpSettingsType"/>
    <xs:complexType name="AmqpSettingsType">
        <xs:annotation>
             <xs:documentation xml:lang="en">
                 Represents the settings for the AMQP broker.
             </xs:documentation>
             <xs:documentation source="since">1.5</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:ResourceType">
                <xs:sequence>
                    <xs:element name="AmqpHost" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Hostname of the AMQP broker.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AmqpPort" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Port of the AMQP broker.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AmqpUsername" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Username for the AMQP broker.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AmqpPassword" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Password for the AMQP broker.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AmqpExchange" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                AMQP exchange for publishing.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AmqpVHost" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Virtual host for the AMQP broker.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AmqpUseSSL" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Use SSL for communication with the AMQP broker.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="AmqpSettingsTest" type="AmqpSettingsTestType"/>
    <xs:complexType name="AmqpSettingsTestType">
        <xs:annotation>
             <xs:documentation source="since">1.5</xs:documentation>
             <xs:documentation xml:lang="en">
                 Represents the result from AMQP settings test.
             </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:ResourceType">
                <xs:sequence>
                    <xs:element name="Valid" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                Result from AMQP settings test. True, if settings are valid.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="NotificationsSettings" type="NotificationsSettingsType"/>
    <xs:complexType name="NotificationsSettingsType">
        <xs:annotation>
             <xs:documentation xml:lang="en">
                 Represents the settings related to Notifications.
             </xs:documentation>
             <xs:documentation source="since">1.5</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:ResourceType">
                <xs:sequence>
                    <xs:element name="EnableNotifications" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Boolean flag to turn on/off notification messages.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="BlockingTaskSettings" type="BlockingTaskSettingsType"/>
    <xs:complexType name="BlockingTaskSettingsType">
        <xs:annotation>
             <xs:documentation xml:lang="en">
                 Represents the settings related to blocking tasks.
             </xs:documentation>
             <xs:documentation source="since">1.5</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:ResourceType">
                <xs:sequence>
                    <xs:element name="TimeoutAction" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Action to be taken by the automatic timeout policy processing when it
                                gets triggered due to timeout. One of:
                                resume (The task will be resumed.),
                                abort (The task will be aborted. Transient
                                objects are cleaned up. Task status is set to
                                ABORTED.),
                                fail (The task will be failed. Transient object
                                status and task status are set to ERROR.)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>

                    <xs:element name="BlockingTaskOperations" type="vcloud:TaskOperationListType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Task operations which are enabled for blocking.
                                If this element is empty or not supplied no operations will block.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>

                    <xs:element name="TimeoutInMilliseconds" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Value in milliseconds that defines how long to wait for a blocking
                                task to be processed before triggering automatic timeout policy.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:long">
                                <xs:minInclusive value="0"></xs:minInclusive>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="BlockingTaskOperations" type="vcloud:TaskOperationListType"/>

    <xs:element name="SystemPasswordPolicySettings" type="SystemPasswordPolicySettingsType"/>
    <xs:complexType name="SystemPasswordPolicySettingsType">
        <xs:annotation>
             <xs:documentation xml:lang="en">
                 Represents the settings related to Password Policy.
             </xs:documentation>
             <xs:documentation source="since">1.5</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:ResourceType">
                <xs:sequence>
                    <xs:element name="AccountLockoutEnabled" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Boolean flag to turn on/off the account lockout feature.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AdminAccountLockoutEnabled" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Boolean flag to indicate whether system administrator accounts can lockout.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="InvalidLoginsBeforeLockout" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Number of invalid login attempts that will trigger account lockout.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AccountLockoutIntervalMinutes" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Number of minutes an account that is locked out will remain locked.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:minInclusive value="1"></xs:minInclusive>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="LdapSettings" type="LdapSettingsType"/>
    <xs:complexType name="LdapSettingsType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Defines the hostname and connection details for system
                LDAP service.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:ResourceType">
                <xs:sequence>
                    <xs:element name="HostName" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Hostname of the LDAP server.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Port" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Port at which to connect to the LDAP service.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsSsl" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if the LDAP service requires an SSL connection.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsSslAcceptAll" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if the LDAP service accepts all SSL certificates.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Realm" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP realm to use when looking up users.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PagedSearchDisabled" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if paged search is disabled.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PageSize" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Size of the page.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MaxResults" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Maximum results returned.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MaxUserGroups" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Maximum results returned for user groups.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SearchBase" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP search base.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="UserName" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Username to use when logging in to LDAP, specified using
                                LDAP attribute=value pairs (for example: cn="ldap-admin",
                                c="example", dc="com").
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Password" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                On modify, the presence of this element
                                indicates a change in the password, absence
                                indicates that the password should remain the same. Never
                                returned on a GET request.

                                Password for the user identified by UserName. This value
                                is never returned by GET. It is inspected on create
                                and modify. On modify, the absence of this element indicates
                                that the password should not be changed.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AuthenticationMechanism" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Defines the authentication mechanism used by the LDAP service.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="GroupSearchBase" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP group search base.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsGroupSearchBaseEnabled" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if the group search base is enabled.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ConnectorType" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Defines the type of the LDAP service.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="UserAttributes" type="LdapUserAttributesType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Defines how LDAP attributes are used when importing a user.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="GroupAttributes" type="LdapGroupAttributesType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Defines how LDAP attributes are used when importing a group.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
             </xs:extension>
         </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LdapGroupAttributesType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Defines how a group is imported from LDAP.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:ResourceType">
                <xs:sequence>
                    <xs:element name="ObjectClass" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP objectClass of which imported groups are members.
                                For example, group.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ObjectIdentifier" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use as the unique identifier for a
                                group. For example, objectGuid.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="GroupName" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use for the group name. For example, cn.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Membership" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use when getting the members of a
                                group. For example, member.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MembershipIdentifier" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute that identifies a group as a member of
                                another group. For example, dn.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="BackLinkIdentifier" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP group attribute used to identify a group member.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LdapUserAttributesType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Defines how LDAP attributes are used when importing a user.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:ResourceType">
                <xs:sequence>
                    <xs:element name="ObjectClass" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP objectClass of which imported users are members.
                                For example, user or person
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ObjectIdentifier" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use as the unique identifier for a
                                user. For example, objectGuid.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="UserName" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use when looking up a user name to
                                import. For example, userPrincipalName or samAccountName.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Email" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use for the users email address.
                                For example mail.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="FullName" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use for the users full name. For
                                example displayName.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="GivenName" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use for the users given name. For
                                example, givenName.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Surname" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use for the user s surname. For example sn.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Telephone" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute to use for the users telephone number.
                                For example telephoneNumber.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="GroupMembershipIdentifier" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute that identifies a user as a member of
                                a group. For example, dn.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="GroupBackLinkIdentifier" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                LDAP attribute that returns the identifiers of all the
                                groups of which the user is a member.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="BrandingSettings" type="BrandingSettingsType"/>
    <xs:complexType name="BrandingSettingsType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                BrandingSettings stores all information about how to brand the product for
                vCloud service, like provider name, logo etc.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:ResourceType">
                <xs:sequence>
                    <xs:element name="CompanyName" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Your company name will be displayed in the header and footer.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Theme" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The online help provides information on how you can customize the VCD user interface theme.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AboutCompanyUrl" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                This URL provides information, such as your company information, copyrights, legal notices,
                                and so on about the VCD service you are hosting. The company name in the footer of this
                                application appear as a link using this URL.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SupportUrl" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                This URL provides VCD support information. A Support link, using this URL, will be inserted
                                into the Help menu in the banner of the application for all Organization Users.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SignUpUrl" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                This URL links to a Web site that allows a user to sign up for this VCD and get information
                                about your VCD, request or create a new organization, and so on. A sign-up link, using this URL,
                                will be inserted into the Login page for this application.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ForgotUserNameOrPasswordURL" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                This URL links to a Web site that allows the user to recover a forgotten user name or password.
                                A password recovery link, using this URL, will be inserted into the Login page for this application.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="License" type="LicenseType"/>
    <xs:complexType name="LicenseType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                 This is used by the API to update and retrieve site license specific information.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:ResourceType">
                <xs:sequence>
                    <xs:element name="SerialNumber" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The site wide serial number string.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="LicensedVMCount" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The number of VMs this product is licensed for.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ExpirationDate" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The expiration date for this serial number. This is a read only field.
                                for the API client. The license manager will set this field appropriately.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ValidSerial" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Flag indicating whether the provided serial is valid. This is a read only
                                field for the API client. The license manager will set this flag appropriately.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Expired" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Flag indicating whether the provided serial number has expired. This is a
                                read-only field for the API. The license manager will set this flag appropriately.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="LicenseMetricsInfo" type="LicenseMetricsInfoType" minOccurs="0" maxOccurs="1">
                       <xs:annotation>
                            <xs:documentation xml:lang="en">
                                Report of License usage metrics.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LicenseMetricsInfoType">
        <xs:annotation>
             <xs:documentation source="since">1.5</xs:documentation>
             <xs:documentation xml:lang="en">
                 Report of License usage metrics.
             </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:ResourceType">
                <xs:sequence>
                    <xs:element name="vRAM" type="xs:long" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Virtual memory allocation.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="vCPU" type="xs:long" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Number of virtual processors used.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RunningVMs" type="xs:long" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Number of VMs.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PhysicalMemoryUsed" type="xs:long" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Physical memory used during the observation period.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PhysicalSocketCount" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Network sockets use count.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AvailablePhysicalMemory" type="xs:long" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Total physical memory used during the observation period.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="LastUpdate" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Date that the report was collected.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="EmailSettings" type="EmailSettingsType"/>
    <xs:complexType name="EmailSettingsType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Represent all the email related settings in the system.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:ResourceType">
                <xs:sequence>
                    <xs:element name="SenderEmailAddress" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Sender email address in an email notification or alert.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="EmailSubjectPrefix" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The prefix used in the email subject line for all email notifications
                                and alerts from the system.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AlertEmailToAllAdmins" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A flag to indicate the choice between sending alert emails to all system
                                administrators in the system and designated list of email recipients.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AlertEmailTo" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A comma separated email addresses to send all alert messages to.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SmtpSettings" type="SmtpSettingsType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The SMTP server for email notifications and alerts.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SmtpSettingsType">
        <xs:annotation>
             <xs:documentation source="since">1.5</xs:documentation>
             <xs:documentation xml:lang="en">
                 The SMTP server for email notifications and alerts.
             </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="vcloud:ResourceType">
                <xs:sequence>
                    <xs:element name="UseAuthentication" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                A flag to indicate if the SMTP requires login authentication. If this
                                flag is set to true, caller must provide user name and password.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SmtpServerName" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                A host attribute for URL specified to reach the server.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SmtpServerPort" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                A port attribute for URL specified to reach the server.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ssl" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                True if connection is ssl.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="UserName" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                Username to login to server. Must be no longer than 128 symbols.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Password" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                Password to login to the server. Must be no longer than 128 symbols.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
