distros/V/VMware-vCloud/etc/1.5/schemas/admin/providerVdc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright © 2009 VMware, Inc. All rights reserved.

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Except as explicitly provided herein, no express or implied licenses, under any VMware patents, copyrights, trademarks, or any other intellectual property rights, are granted or waived by implication, exhaustion, estoppel, or otherwise, on modified versions of the Software.
-->
<xs:schema xmlns="http://www.vmware.com/vcloud/v1.5" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.vmware.com/vcloud/v1.5" version="1.0">

    <xs:include schemaLocation="../vcloud/vdc.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">
            Schema for Provider vDC. Provider vDC is allocated by the
            vCloud administrator. Organization level resource groups are
            carved out from the Provider vDC
        </xs:documentation>
    </xs:annotation>

    <xs:element name="ProviderVdc" type="ProviderVdcType"/>
    <xs:complexType name="ProviderVdcType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Provider vDC read only type.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="ComputeCapacity" type="RootComputeCapacityType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Read-only indicator of CPU and memory capacity.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="StorageCapacity" type="ProviderVdcCapacityType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Read-only indicator of datastore capacity.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AvailableNetworks" type="AvailableNetworksType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Read-only list of available networks.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Capabilities" type="CapabilitiesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Read-only list of VM hardware versions
                                supported by this vDC.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Vdcs" type="VdcsType" minOccurs="0" maxOccurs="1">
                       <xs:annotation>
                          <xs:documentation>
                             Read-only list of organization vDCs supported by
                             this provider vDC.
                          </xs:documentation>
                       </xs:annotation>
                    </xs:element>
                    <xs:element name="IsEnabled" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Flag to show the enabled status of provider VDC.
                                Note that the provider vDC is always enabled on creation,
                                but can be modified later through the isEnabled flag.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NetworkPoolReferences" type="NetworkPoolReferencesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Read-only list of network pools available to
                                this provider vDC.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="status" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Creation status of the provider VDC. One of:
                            -1 (creation failed),
                             0 (not ready),
                             1 (ready),
                             2 (unknown),
                             3 (unrecognized)
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="AdminVdc" type="AdminVdcType"/>
    <xs:complexType name="AdminVdcType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Provides an administrative view of a vDC. Includes all members
                of the Vdc element, and adds several elements that can be
                viewed and modified only by administrators.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VdcType">
                <xs:sequence>
                    <xs:element name="ResourceGuaranteedMemory" type="xs:double" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Percentage of allocated memory resources guaranteed to
                                vApps deployed in this vDC. For example, if this value
                                is 0.75, then 75% of allocated resources are guaranteed.
                                Required when AllocationModel is AllocationVApp or AllocationPool.
                                Value defaults to 1.0 if the element is empty.

                                Indicates how much VMs memory can be squeezed under the pay-per-vApp
                                model. A factor of 1 means that a VM is guaranteed to get the
                                resources it wants. A factor of 0.75 for example, means that
                                only 75% of the resources are guaranteed.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ResourceGuaranteedCpu" type="xs:double" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Percentage of allocated CPU resources guaranteed to vApps
                                deployed in this vDC. For example, if this value is
                                0.75, then 75% of allocated resources are guaranteed.
                                Required when AllocationModel is AllocationVApp or AllocationPool.
                                Value defaults to 1.0 if the element is empty.

                                Indicates how much VMs CPU can be squeezed under the pay-per-vApp
                                model. A factor of 1 means that a VM is guaranteed to get the
                                resources it wants. A factor of 0.75 for example, means that
                                only 75% of the resources are guaranteed.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VCpuInMhz" type="xs:long" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                This is the cpu rating for any virtual CPU that is allocted to a VM
                                in a AllocationVApp vDC. This is a clock frequency, in Megahertz,
                                for each virtual CPU core provisioned from this vDC.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsThinProvision" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                               Boolean to request thin provisioning.
                               Request will be honored only if the underlying
                               datastore supports it. Thin provisioning saves
                               storage space by committing it on demand. This
                               allows over-allocation of storage.
                           </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NetworkPoolReference" type="ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Reference to a network pool in the provider vDC.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ProviderVdcReference" type="ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A reference to the ProviderVdc from which this vDC is provisioned.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="UsesFastProvisioning" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                               Boolean to request fast provisioning.
                               Request will be honored only if the underlying
                               datastore supports it. Fast provisioning can
                               reduce the time it takes to create virtual
                               machines by using vSphere linked clones. If you
                               disable fast provisioning, all provisioning
                               operations will result in full clones.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ProviderVdcCapacityType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents resource capacity in a provider vDC.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Units" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Units in which the capacity is measured. For CPU devices,
                                this is always Megahertz, represented by the string MHz.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Allocation" type="xs:long" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Number of Units that have been allocated to consumers.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Total" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Total number of Units that can be allocated to all consumers.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Used" type="xs:long" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Percentage of the allocation in use.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Overhead" type="xs:long" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Number of Units allocated to vShield Manager virtual
                                machines provisioned from this provider vDC.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RootComputeCapacityType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents compute capacity with units.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Cpu" type="ProviderVdcCapacityType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Read-only indicator of CPU capacity available
                                in the provider vDC.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Memory" type="ProviderVdcCapacityType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Read-only indicator of memory capacity
                                available in the provider vDC.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsElastic" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Read-only indicator. True if compute capacity
                                can grow or shrink based on demand.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsHA" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Read-only indicator. True if compute capacity
                                is highly available.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NetworkPoolReferencesType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                List of network pools in this vDC.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="NetworkPoolReference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A reference to a network pool.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NetworkPoolType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a network pool.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="ResourceEntityType"/>
        </xs:complexContent>
    </xs:complexType>

  <xs:element name="VdcReferences" type="VdcReferencesType"/>
  <xs:complexType name="VdcReferencesType">
    <xs:annotation>
            <xs:documentation source="since">1.0</xs:documentation>
            <xs:documentation xml:lang="en">
                List of organization vDCs backed by this provider vDC.
            </xs:documentation>
        </xs:annotation>

         <xs:complexContent>
            <xs:extension base="ResourceType">
                <xs:sequence>
                  <xs:element name="VdcReference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A reference to an organizaiotn vDC.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
            </xs:sequence>
        </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
