distros/X/XSDSQL/t/xml_042/schema3.xsd

<?xml version="1.0"?>
<std:schema 
	xmlns:std="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="unqualified"
	attributeFormDefault="unqualified"
	>

	<std:complexType name="ct00">
		<std:sequence minOccurs="1" maxOccurs="1">
			<std:element name="el0" type="std:string"/>
		</std:sequence>
	</std:complexType>

	<std:element name="el00" type="std:string"/>
<!--
	<std:element name="el1">
		<std:complexType>
			<std:sequence>
				<std:element  name="elc" type="std:string"/>
			</std:sequence>
		</std:complexType>
	</std:element>
-->

</std:schema>
