distros/X/XSDSQL/t/xml_052/types_schema.xsd

<?xml version="1.0" encoding="iso-8859-15"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:simpleType name="NLstrLnMx20">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="Types">
		<xs:complexType>
			<xs:sequence minOccurs="1" maxOccurs="1">
				<xs:element name="customSimplèType2" type="NLstrLnMx20" minOccurs="0" maxOccurs="1" />
			</xs:sequence>	
		</xs:complexType>
	</xs:element>
</xs:schema>
