distros/C/CORBA-XMLSchemas/corba/corba.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
  
      WSDL for IDL to WSDL CORBA Namespace
       
    Name: corba.wsdl
-->
<definitions 
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:corba="http://www.omg.org/IDL-WSDL/1.0/" 
    targetNamespace="http://www.omg.org/IDL-WSDL/1.0/" 
    name="corba">
  <types>
    <xs:schema targetNamespace="http://www.omg.org/IDL-WSDL/1.0/">
      <xs:element name="SourceIDL">
        <xs:annotation>
          <xs:documentation>IDL/WSDL Mapping Info</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="source" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="version" type="xs:string" minOccurs="1" maxOccurs="1"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SourceRepositoryID">
        <xs:annotation>
          <xs:documentation>IDL Mapped Repository ID</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="repositoryID" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="version" type="xs:string" minOccurs="1" maxOccurs="1"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ObjectReference">
        <xs:sequence>
          <xs:element name="url" type="xs:anyURI" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CORBA.TypeCode">
        <xs:sequence>
          <xs:element name="definition" type="xs:anyURI" minOccurs="1" maxOccurs="1"/>
          <xs:element name="typename" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CORBA.Any">
        <xs:sequence>
          <xs:element name="type" type="corba:CORBA.TypeCode" minOccurs="1" maxOccurs="1"/>
          <xs:element name="value" type="xs:anyType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>  
      <xs:simpleType name="CORBA.completion_status">          
        <xs:restriction base="xs:token">
          <xs:enumeration value="COMPLETED_YES"/>
          <xs:enumeration value="COMPLETED_NO"/>
          <xs:enumeration value="COMPLETED_MAYBE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="CORBA.SystemException">
        <xs:sequence>
          <xs:element name="minor" type="xs:unsignedInt" minOccurs="1" maxOccurs="1"/>
          <xs:element name="completion_status" type="corba:CORBA.completion_status" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="CORBA.SystemExceptionMessage">
    <part name="_return" type="corba:CORBA.SystemException"/>
  </message>
</definitions>

