distros/B/Business-OnlinePayment-PaperlessTrans/share/svc.paperlesstrans.4.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/"><xs:import schemaLocation="http://svc.paperlesstrans.com:8888/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xs:complexType name="Execution"><xs:annotation><xs:appinfo><IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType></xs:appinfo></xs:annotation><xs:sequence><xs:element minOccurs="0" name="IsSuccess" type="xs:boolean"/><xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="Execution" nillable="true" type="tns:Execution"/></xs:schema>