distros/B/Business-OnlinePayment-PaperlessTrans/share/svc.paperlesstrans.5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://schemas.datacontract.org/2004/07/BackOffice.Requests"
    elementFormDefault="qualified"
    targetNamespace="http://schemas.datacontract.org/2004/07/BackOffice.Requests"
  ><xs:import
      schemaLocation="http://svc.paperlesstrans.com:8888/?xsd=xsd2"
      namespace="http://schemas.datacontract.org/2004/07/BackOffice"
  /><xs:complexType
      name="CardProcessRequest"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          xmlns:q1="http://schemas.datacontract.org/2004/07/BackOffice"
          base="q1:RequestObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="Amount"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Card"
              nillable="true"
              type="q1:Card"
          /><xs:element
              minOccurs="0"
              name="CardPresent"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Currency"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="ProfileNumber"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CardProcessRequest"
      nillable="true"
      type="tns:CardProcessRequest"
  /><xs:complexType
      name="CardRefundRequest"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          xmlns:q2="http://schemas.datacontract.org/2004/07/BackOffice"
          base="q2:RequestObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="CreditAmount"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="TransactionID"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CardRefundRequest"
      nillable="true"
      type="tns:CardRefundRequest"
  /><xs:complexType
      name="CardAuthorizationRequest"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:CardProcessRequest"
        ><xs:sequence
        /></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CardAuthorizationRequest"
      nillable="true"
      type="tns:CardAuthorizationRequest"
  /><xs:complexType
      name="CardSettlementRequest"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          xmlns:q3="http://schemas.datacontract.org/2004/07/BackOffice"
          base="q3:RequestObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="AuthorizationNumber"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="CaptureAmount"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CardSettlementRequest"
      nillable="true"
      type="tns:CardSettlementRequest"
  /><xs:complexType
      name="CardCreateProfileRequest"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          xmlns:q4="http://schemas.datacontract.org/2004/07/BackOffice"
          base="q4:RequestObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="Card"
              nillable="true"
              type="q4:Card"
          /><xs:element
              minOccurs="0"
              name="CardPresent"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="ListingName"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CardCreateProfileRequest"
      nillable="true"
      type="tns:CardCreateProfileRequest"
  /><xs:complexType
      name="CardScheduleSetupRequest"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:CardProcessRequest"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="EndingDateTime"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Frequency"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="ListingName"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Memo"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="StartDateTime"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CardScheduleSetupRequest"
      nillable="true"
      type="tns:CardScheduleSetupRequest"
  /><xs:complexType
      name="CardScheduleUpdateRequest"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:CardScheduleSetupRequest"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="ScheduleNumber"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CardScheduleUpdateRequest"
      nillable="true"
      type="tns:CardScheduleUpdateRequest"
  /><xs:complexType
      name="CardScheduleTerminationRequest"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          xmlns:q5="http://schemas.datacontract.org/2004/07/BackOffice"
          base="q5:RequestObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="DeleteProfile"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="ProfileNumber"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="ScheduleNumber"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CardScheduleTerminationRequest"
      nillable="true"
      type="tns:CardScheduleTerminationRequest"
  /><xs:complexType
      name="ACHProcessRequest"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          xmlns:q6="http://schemas.datacontract.org/2004/07/BackOffice"
          base="q6:RequestObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="Amount"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Check"
              nillable="true"
              type="q6:Check"
          /><xs:element
              minOccurs="0"
              name="CheckNumber"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Currency"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="ProfileNumber"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="ACHProcessRequest"
      nillable="true"
      type="tns:ACHProcessRequest"
  /><xs:complexType
      name="ACHVoidRequest"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          xmlns:q7="http://schemas.datacontract.org/2004/07/BackOffice"
          base="q7:RequestObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="TransactionID"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="ACHVoidRequest"
      nillable="true"
      type="tns:ACHVoidRequest"
  /><xs:complexType
      name="ACHCreateProfileRequest"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          xmlns:q8="http://schemas.datacontract.org/2004/07/BackOffice"
          base="q8:RequestObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="Check"
              nillable="true"
              type="q8:Check"
          /><xs:element
              minOccurs="0"
              name="CheckNumber"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="ListingName"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="ACHCreateProfileRequest"
      nillable="true"
      type="tns:ACHCreateProfileRequest"
  /><xs:complexType
      name="ACHScheduleSetupRequest"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:ACHProcessRequest"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="EndingDateTime"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Frequency"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="ListingName"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Memo"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="StartDateTime"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="ACHScheduleSetupRequest"
      nillable="true"
      type="tns:ACHScheduleSetupRequest"
  /><xs:complexType
      name="ACHScheduleUpdateRequest"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:ACHScheduleSetupRequest"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="ScheduleNumber"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="ACHScheduleUpdateRequest"
      nillable="true"
      type="tns:ACHScheduleUpdateRequest"
  /><xs:complexType
      name="ACHScheduleTerminationRequest"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          xmlns:q9="http://schemas.datacontract.org/2004/07/BackOffice"
          base="q9:RequestObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="DeleteProfile"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="ProfileNumber"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="ScheduleNumber"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="ACHScheduleTerminationRequest"
      nillable="true"
      type="tns:ACHScheduleTerminationRequest"
  /></xs:schema
>
