distros/C/Catalyst-Model-SOAP/t/hello3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:hello="http://example.com/hello"
    xmlns="http://example.com/hello"
    targetNamespace="http://example.com/hello">

  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://example.com/hello">
      <s:element name="GreetingSpecifier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="who" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="greeting" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GreetingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="greeting" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AskGreeting">
    <wsdl:part name="parameters" element="hello:GreetingSpecifier"/>
  </wsdl:message>
  <wsdl:message name="GiveGreeting">
    <wsdl:part name="details" element="hello:GreetingResponse"/>
  </wsdl:message>
  <wsdl:portType name="Greeting">
    <wsdl:operation name="Greet">
      <wsdl:input message="hello:AskGreeting"/>
      <wsdl:output message="hello:GiveGreeting"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Shouting">
    <wsdl:operation name="Shout">
      <wsdl:input message="hello:AskGreeting"/>
      <wsdl:output message="hello:GiveGreeting"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Greeting" type="hello:Greeting">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="Greet">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Shouting" type="hello:Shouting">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="Shout">
      <soap:operation style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Greet">
    <wsdl:port name="Greet" binding="hello:Greeting">
      <soap:address location="http://localhost:3000/hello/Greet"/>
    </wsdl:port>
    <wsdl:port name="Shout" binding="hello:Shouting">
      <soap:address location="http://localhost:3000/hello/Shout"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>