distros/C/Catalyst-Model-SOAP/t/hello5.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:hello="http://example.com/hello"
    xmlns="http://example.com/hello"
    targetNamespace="http://example.com/hello">

  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://example.com/hello">
      <s:element name="GreetingSpecifier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="who" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="greeting" type="s:string"/>
			<s:element minOccurs="0" maxOccurs="1" name="count" type="s:integer"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AskGreeting">
    <wsdl:part name="parameters" element="hello:GreetingSpecifier"/>
  </wsdl:message>
  <wsdl:portType name="GreetingPort">
    <wsdl:operation name="Greet">
      <wsdl:input message="hello:AskGreeting"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GreetingBind" type="hello:GreetingPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="Greet">
      <soap:operation soapAction="http://example.com/" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GreetService">
    <wsdl:port name="GreetPort" binding="hello:GreetingBind">
      <soap:address location="http://localhost:3000/hello"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
