distros/C/Catalyst-Model-SOAP/t/hello2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:hello="http://example.com/hello"
    xmlns="http://example.com/hello"
    targetNamespace="http://example.com/hello">

  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://example.com/hello">
      <s:element minOccurs="0" maxOccurs="1" name="who" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="greeting" type="s:string"/>
	  <s:element minOccurs="0" maxOccurs="1" name="count" type="s:integer"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AskGreeting">
    <wsdl:part name="who" element="hello:who"/>
    <wsdl:part name="greeting" element="hello:greeting"/>
    <wsdl:part name="count" element="hello:count"/>
  </wsdl:message>
  <wsdl:message name="GiveGreeting">
    <wsdl:part name="greeting" element="hello:greeting"/>
  </wsdl:message>
  <wsdl:portType name="GreetingPort">
    <wsdl:operation name="Greet">
      <wsdl:input message="hello:AskGreeting"/>
      <wsdl:output message="hello:GiveGreeting"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GreetingBind" type="hello:GreetingPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <wsdl:operation name="Greet">
      <soap:operation soapAction="http://example.com/" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://example.com/hello"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://example.com/hello"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GreetService">
    <wsdl:port name="GreetPort" binding="hello:GreetingBind">
      <soap:address location="http://localhost:3000/hello"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
