distros/X/XSDSQL/t/xml_012/named_simple_type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:element name="namedSimpleType">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="c" type="TimeType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="d" type="TimeType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="e" type="TimeType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="TimeType">
		<xs:restriction base="xs:string">
	  		<xs:pattern value="\d{2}:\d{2}" />
	  		<xs:length value="5" />
		</xs:restriction>
	</xs:simpleType>
 
</xs:schema>

