distros/A/Apache2-UploadProgress/extra/progress.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="upload">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="size" type="xs:positiveInteger" use="required"/>
        <xs:element name="received" type="xs:positiveInteger" use="required"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
