distros/X/XSDSQL/t/xml_033/attr_ref.xsd

<?xml version="1.0"?>

<!-- <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:attribute name="lang" type="xs:string"/>
	<xs:complexType name="c">
		<xs:attribute ref="lang" />
	</xs:complexType>

	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="c1" type="c"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>

