distros/X/XML-Compile-SOAP-Daemon-Dancer2/t/wsdl/calculator12.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Calculator"
 targetNamespace="http://www.parasoft.com/wsdl/calculator/"
 xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:tme="http://www.themindelectric.com/"
 xmlns:tns="http://www.parasoft.com/wsdl/calculator/"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.parasoft.com/wsdl/calculator/">
   <xsd:element name="add">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="x" type="xsd:float"/>
      <xsd:element name="y" type="xsd:float"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="addResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="Result" type="xsd:float"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="add0In">
  <wsdl:part element="tns:add" name="parameters"/>
 </wsdl:message>
 <wsdl:message name="add0Out">
  <wsdl:part element="tns:addResponse" name="parameters"/>
 </wsdl:message>
 <wsdl:portType name="ICalculator">
  <wsdl:operation name="add" parameterOrder="x y">
   <wsdl:input message="tns:add0In" name="add0In"/>
   <wsdl:output message="tns:add0Out" name="add0Out"/>
  </wsdl:operation>
 </wsdl:portType>
 <wsdl:binding name="ICalculator" type="tns:ICalculator">
  <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="add">
   <soap12:operation soapAction="add" style="document"/>
   <wsdl:input name="add0In">
    <soap12:body use="literal"/>
   </wsdl:input>
   <wsdl:output name="add0Out">
    <soap12:body use="literal"/>1
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
 <wsdl:service name="Calculator">
  <wsdl:port binding="tns:ICalculator" name="ICalculator">
   <soap12:address location="http://localhost/calculator"/>
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>
