distros/V/VM-Virtuozzo/xsd/v4/VZLBackupm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vzlp="http://www.swsoft.com/webservices/vzl/4.0.0/protocol" xmlns="http://www.swsoft.com/webservices/vzl/4.0.0/backupm" xmlns:vzlt="http://www.swsoft.com/webservices/vzl/4.0.0/types" xmlns:vzlds="http://www.swsoft.com/webservices/vzl/4.0.0/data_storagem" targetNamespace="http://www.swsoft.com/webservices/vzl/4.0.0/backupm" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.swsoft.com/webservices/vzl/4.0.0/types" schemaLocation="VZLCommonTypes.xsd"/>
	<xs:import namespace="http://www.swsoft.com/webservices/vzl/4.0.0/protocol" schemaLocation="VZLProtocol.xsd"/>
	<xs:import namespace="http://www.swsoft.com/webservices/vzl/4.0.0/data_storagem" schemaLocation="VZLData_storagem.xsd"/>
	<xs:element name="backupm" type="backupmType" substitutionGroup="vzlp:operator">
		<xs:annotation>
			<xs:documentation>Backup Management.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="backupmType" mixed="false">
		<xs:complexContent mixed="false">
			<xs:extension base="vzlp:operator_functionalType">
				<xs:choice>
					<xs:choice minOccurs="0">
						<xs:annotation>
							<xs:documentation>Input</xs:documentation>
						</xs:annotation>
						<xs:element ref="backup_env"/>
						<xs:element ref="restore_env"/>
						<xs:element ref="selective_restore_env"/>
						<xs:element ref="list"/>
						<xs:element ref="remove"/>
						<xs:element ref="search"/>
						<xs:element ref="get_info"/>
						<xs:element ref="set_config"/>
						<xs:element ref="get_config"/>
					</xs:choice>
					<xs:choice minOccurs="0">
						<xs:annotation>
							<xs:documentation>Output</xs:documentation>
						</xs:annotation>
						<xs:element ref="backup" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="info"/>
						<xs:element ref="backupm_config"/>
					</xs:choice>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="backupid_type">
		<xs:annotation>
			<xs:documentation>Backup identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="vzlds:ds_object_path_type"/>
	</xs:simpleType>
	<xs:complexType name="exclude_listType">
		<xs:sequence>
			<xs:element name="path" type="xs:base64Binary" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Exclude specified files or directories. Wildcards may be specified here.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hidden" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Exclude hidden files.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="system" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Exclude system files.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="backup_optionsType">
		<xs:complexContent>
			<xs:extension base="backup_options_baseType">
				<xs:sequence>
					<xs:element name="type" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Backup type (full=0, incremental=1, differential=2)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="policy" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ignore_error" minOccurs="0">
									<xs:annotation>
										<xs:documentation>In case of multiple environments backup. Don't terminate on first error. Reports mix of "backups" and Error. </xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ignore_unexistent" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Ignore unexistent environments from list.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="remove" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Remove old backup</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="backup" type="backupid_type" minOccurs="0">
									<xs:annotation>
										<xs:documentation>If absent, remove oldest backup.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="include_list" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Path list to include in backup.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="path" type="xs:base64Binary" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>File paths.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="exclude_list" type="exclude_listType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Elements to exclude from backup.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="compression" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Compression level: 0 - none, 1 - normal, 2 - high, 3 - maximum</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="xs:base64Binary" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Backup description</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="restore_optionsType">
		<xs:annotation>
			<xs:documentation>Options passed to restore_env command</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="force" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Force restore. If presents, resolve all conflicts if possible, and ignore otherwise.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="selective_restore_optionsType">
		<xs:annotation>
			<xs:documentation>Options passed to selective_restore_env command</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="skip_locked" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Don't stop on error during restore of locked files.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="backupType" mixed="false">
		<xs:annotation>
			<xs:documentation>Information about backup.
Generic backup types:
0 - full
1 - incremental</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="vzlds:ds_object_infoType">
				<xs:sequence>
					<xs:element name="eid" type="vzlt:eid_type">
						<xs:annotation>
							<xs:documentation>Environment ID.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="xs:base64Binary" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Backup desription.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="count" type="xs:int">
						<xs:annotation>
							<xs:documentation>Total number of backups for this environment in this storage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="capability" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Backup capabilities. Specifies extra properties of backup.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="browsable" minOccurs="0">
									<xs:annotation>
										<xs:documentation>The content of this backup can be listed using filer and restored with selective restore operation.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="list_optionsType">
		<xs:annotation>
			<xs:documentation>Options passed to list command</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="eid" type="vzlt:eid_type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Environment ID to list backups for.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="latest" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Report information on last backup for given environment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="info" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fill info filed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="storage_eid" type="vzlt:eid_type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List only backups located on specified server.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="search_optionsType">
		<xs:annotation>
			<xs:documentation>Options passed to search command</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hostname" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Environment hostname (wildcards supported).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ip" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Environment IP address. (wildcards supported).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="start_date" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Search with specified backup creation date range.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="end_date" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Search with specified backup creation date range.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="remove_optionsType">
		<xs:annotation>
			<xs:documentation>Options passed to remove command</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="eid" type="vzlt:eid_type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Environment ID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="prev" minOccurs="0">
				<xs:annotation>
					<xs:documentation>In addition, remove all backups of this environment older than the specified backup.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="get_info_optionsType">
		<xs:annotation>
			<xs:documentation>Basic options for get_info command.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="get_env_info_optionsType" mixed="false">
		<xs:annotation>
			<xs:documentation>Environment backup-specific options for get_info command.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="get_info_optionsType">
				<xs:sequence>
					<xs:element name="env" minOccurs="0">
						<xs:annotation>
							<xs:documentation>If present, returns full information about environment.</xs:documentation>
						</xs:annotation>
						<xs:complexType/>
					</xs:element>
					<xs:element name="excludes" minOccurs="0">
						<xs:annotation>
							<xs:documentation>If present, returns exclude/include paths which were specified in backup options.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="backup_dataType">
		<xs:annotation>
			<xs:documentation>Information about data stored in backup.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="env_backup_dataType" mixed="false">
		<xs:annotation>
			<xs:documentation>Information about Environment backup.</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="backup_dataType">
				<xs:sequence>
					<xs:element name="env" type="vzlt:envType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Information about environment in backup</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="include_list" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Path list to include in backup.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="path" type="xs:base64Binary" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>File paths.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="exclude_list" type="exclude_listType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Elements to exclude from backup.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="backupm_configType">
		<xs:annotation>
			<xs:documentation>Backup Manager configuration</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="backup_server" type="vzlt:connection_infoType">
				<xs:annotation>
					<xs:documentation>The default backup server, used then "global" tag specified in backup command.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="chain_length" type="xs:int">
				<xs:annotation>
					<xs:documentation>Maximum number of incremental backups  before  creating  a  new full  backup.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="chain_days" type="xs:int">
				<xs:annotation>
					<xs:documentation>Maximum  period of time before creating a new full backup.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="keep_max" type="xs:int">
				<xs:annotation>
					<xs:documentation>Number  of  backup  files to keep. After successful creation of the (KEEP_MAX+1) backup the oldest backup  will  be  removed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="compression" type="xs:int">
				<xs:annotation>
					<xs:documentation>The default compression level: 0 - none, 1 - normal, 2 - high, 3 - maximum.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="xs:int">
				<xs:annotation>
					<xs:documentation>The default backup type (full=0, incremental=1, differential=2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pe_backups_limit">
				<xs:annotation>
					<xs:documentation>Maximum number of user's backups per Environment.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="backup_env">
		<xs:annotation>
			<xs:documentation>Backups set of environments. Returns "backup" or Error.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="env_list" type="vzlt:eid_listType">
					<xs:annotation>
						<xs:documentation>List of environments to backup.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="backup_options" minOccurs="0"/>
				<xs:element ref="backup_server" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="backup" type="backupType"/>
	<xs:element name="restore_env">
		<xs:annotation>
			<xs:documentation>Restores environment.
Returns OK/Error.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="backup_id" type="backupid_type">
					<xs:annotation>
						<xs:documentation>Restore from given backup id.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="restore_options" minOccurs="0"/>
				<xs:element ref="backup_server" minOccurs="0"/>
				<xs:element name="parent_eid" type="vzlt:eid_type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The Environment where restore backup to. This will be taken into account only if request is processed by master and backed up Environment was not found in cluster.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="selective_restore_env">
		<xs:annotation>
			<xs:documentation>Selectively restores files from backup.
Returns OK/Error.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="eid" type="vzlt:eid_type">
					<xs:annotation>
						<xs:documentation>Environment id to restore files to.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="backup_id" type="backupid_type">
					<xs:annotation>
						<xs:documentation>Backup id to restore from.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="path" type="xs:base64Binary" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Path list to restore.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="selective_restore_options" minOccurs="0"/>
				<xs:element ref="backup_server" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="list">
		<xs:annotation>
			<xs:documentation>Gets information about backups.
Returns "backup" or Error.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="backup_id" type="backupid_type" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>List of backup ids.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="options" type="list_optionsType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>List options</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="remove">
		<xs:annotation>
			<xs:documentation>Removes backup.
Returns OK/Error.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="backup_id" type="backupid_type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Backup ID to remove.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="options" type="remove_optionsType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Remove options.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="search">
		<xs:annotation>
			<xs:documentation>Finds environment in backups.
Returns "backup" or Error.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="options" type="search_optionsType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="get_info">
		<xs:annotation>
			<xs:documentation>Gets extended information about backup.
Returns "info" or Error.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element name="backup_id" type="backupid_type">
					<xs:annotation>
						<xs:documentation>The backup ID.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="options" type="get_info_optionsType">
					<xs:annotation>
						<xs:documentation>Options. Specify how to report information.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="set_config">
		<xs:annotation>
			<xs:documentation>Sets Backup Manager configuration.
Returns OK/Error.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="backupm_config" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="get_config">
		<xs:annotation>
			<xs:documentation>Gets Backup Manager configuration.
Returns "configuration" or Error.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="local" minOccurs="0">
					<xs:annotation>
						<xs:documentation>If presents, returns only local configuration or ERROR_VZL_NO_CONFIG=308 if not configured. In other case returns actual configuration (fetched from master if necessary).</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="backup_options" type="backup_options_baseType">
		<xs:annotation>
			<xs:documentation>Backup options.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="restore_options" type="restore_optionsType">
		<xs:annotation>
			<xs:documentation>Restore options</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="selective_restore_options" type="selective_restore_optionsType">
		<xs:annotation>
			<xs:documentation>Selective restore options</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="info" type="backup_dataType"/>
	<xs:element name="backupm_config" type="backupm_configType">
		<xs:annotation>
			<xs:documentation>Backup Manager configuration</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="backup_envResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="backup" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="listResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="backup" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="searchResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="backup" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="get_infoResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="info"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="set_configResponse">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="get_configResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="backupm_config"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="backup_options_baseType">
		<xs:annotation>
			<xs:documentation>Base type for make backup_optionsType polymorphic</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:element name="backup_server" type="vzlt:connection_infoType">
		<xs:annotation>
			<xs:documentation>Backup server connectivity information for remote backups. If not specified, defaults will be used.
This can also be special shortcut: "agent" protocol. In this case there are 2 possible variants of address (other fields are ignored): "local" (backup will be placed on the same node as Container) or valid EID (all backups will be stored on specified Environment).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="restore_envResponse">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="backupm_configurationType">
		<xs:complexContent>
			<xs:extension base="vzlp:configurationType">
				<xs:sequence>
					<xs:element name="timeouts">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="backup" type="xs:int"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
