distros/X/XSDSQL/t/xml_024/simple_attribute.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="c">
		<xs:attribute name="attr1" type="xs:string"/>
	</xs:complexType>

	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
					<xs:element name="c1" type="c"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>



</xs:schema>



