distros/P/PITA-XML/share/pita-xml.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by bg (bg) -->
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="report">
		<xs:annotation>
			<xs:documentation>The root tag for the file</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="install"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="install" nillable="false">
		<xs:annotation>
			<xs:documentation>The results of a single dist/platform install instance</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="platform"/>
				<xs:element ref="distribution"/>
				<xs:element ref="output"/>
				<xs:element ref="analysis" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="platform" nillable="false">
		<xs:annotation>
			<xs:documentation>The platform the installation was performed on</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="perlpath"/>
				<xs:element ref="osname" minOccurs="0"/>
				<xs:element ref="archname" minOccurs="0"/>
				<xs:element ref="perlv"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="perlpath">
		<xs:annotation>
			<xs:documentation>The path to the perl executable on the platform</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="collapse"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="osname">
		<xs:annotation>
			<xs:documentation>The operating system name (e.g. linux)</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="archname" nillable="false">
		<xs:annotation>
			<xs:documentation>The name of the architecture being testing (e.g. i386-linux-thread-multi)</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="perlv" type="xs:string">
		<xs:annotation>
			<xs:documentation>The results of perl -V for the platform, providing the raw platform data</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="distribution" nillable="false">
		<xs:annotation>
			<xs:documentation>Information about the distribution being tested</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="distname"/>
				<xs:element ref="filename"/>
				<xs:element ref="md5sum"/>
				<xs:element ref="cpanpath" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="distname" nillable="false">
		<xs:annotation>
			<xs:documentation>The name of the distribution</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
				<xs:enumeration value="Params-Util"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="filename" nillable="false">
		<xs:annotation>
			<xs:documentation>The name of the distribution package being tested</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:enumeration value="Params-Util-0.07.tar.gz"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="md5sum" abstract="false">
		<xs:annotation>
			<xs:documentation>The 32 character hexidecimal MD5 sum of the dist package for confirmation purposes</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:hexBinary">
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cpanpath" nillable="false">
		<xs:annotation>
			<xs:documentation>Optional path for CPAN distributions</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="output">
		<xs:annotation>
			<xs:documentation>Contains the actual output of the testing process</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="makefilepl"/>
						<xs:element ref="make"/>
						<xs:element ref="maketest"/>
						<xs:element ref="makeinstall"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="buildpl"/>
						<xs:element ref="buildtest"/>
						<xs:element ref="buildinstall"/>
					</xs:sequence>
				</xs:choice>
				<xs:element ref="test" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="makefilepl" type="xs:string">
		<xs:annotation>
			<xs:documentation>The output of the "perl Makefile.PL" command</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="make" type="xs:string">
		<xs:annotation>
			<xs:documentation>The output of the "make" command</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="maketest" type="xs:string">
		<xs:annotation>
			<xs:documentation>The output of the "make test" command</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="makeinstall" type="xs:string">
		<xs:annotation>
			<xs:documentation>The output of the "make install" command</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="buildpl" type="xs:string">
		<xs:annotation>
			<xs:documentation>The output of the "perl Build.PL" command</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="buildtest" type="xs:string">
		<xs:annotation>
			<xs:documentation>The output of the "Build test" command</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="buildinstall" type="xs:string">
		<xs:annotation>
			<xs:documentation>The output of the "Build install" command</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="test" nillable="false">
		<xs:annotation>
			<xs:documentation>The verbose output of a specific named test script</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="file" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="analysis" nillable="false">
		<xs:annotation>
			<xs:documentation>An analysis of the installation</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="result">
		<xs:annotation>
			<xs:documentation>The result code for the installation</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="PASS"/>
				<xs:enumeration value="FAIL"/>
				<xs:enumeration value="NA"/>
				<xs:enumeration value="UNKNOWN"/>
				<xs:enumeration value="DEPFAIL"/>
				<xs:enumeration value="DEPNA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
