distros/W/WSDL-Generator/WSDLTest.wsdl

<?xml version="1.0"?>
<definitions name="WSDLTest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.itrelease.net/SOAP/" xmlns:tns="http://www.itrelease.net/SOAP/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsdl="http://www.itrelease.net/ITReleaseWSDLTest.xsd">
	<types>
		<xsd:schema targetNamespace="http://www.itrelease.net/ITReleaseWSDLTest.xsd">
			<xsd:element name="test1Request" type="xsd:string" />
			<xsd:element minOccurs="1" maxOccurs="unbounded" name="myelement0" wsdl:arrayType="xsd:string[]" />
			<xsd:element minOccurs="1" maxOccurs="unbounded" name="test1Response" wsdl:arrayType="xsd:xsdl:myelement0[]" />
			<xsd:element name="test2Request" type="xsd:string" />
			<xsd:complexType name="myelement2">
				<xsd:sequence>
					<xsd:element name="key1" type="xsd:string" />
					<xsd:element name="key2" type="xsd:string" />
					<xsd:element name="key3" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element minOccurs="1" maxOccurs="unbounded" name="myelement1" wsdl:arrayType="xsd:xsdl:myelement2[]" />
			<xsd:complexType name="test2Response">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:string" />
					<xsd:element name="param1" type="xsd:string" />
					<xsd:element name="param2" type="xsd:xsdl:myelement1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="myelement4">
				<xsd:sequence>
					<xsd:element name="key1" type="xsd:string" />
					<xsd:element name="key2" type="xsd:string" />
					<xsd:element name="key3" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element minOccurs="1" maxOccurs="unbounded" name="myelement3" wsdl:arrayType="xsd:xsdl:myelement4[]" />
			<xsd:complexType name="newRequest">
				<xsd:sequence>
					<xsd:element name="param1" type="xsd:string" />
					<xsd:element name="param2" type="xsd:xsdl:myelement3" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="myelement6">
				<xsd:sequence>
					<xsd:element name="key1" type="xsd:string" />
					<xsd:element name="key2" type="xsd:string" />
					<xsd:element name="key3" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element minOccurs="1" maxOccurs="unbounded" name="myelement5" wsdl:arrayType="xsd:xsdl:myelement6[]" />
			<xsd:complexType name="newResponse">
				<xsd:sequence>
					<xsd:element name="param1" type="xsd:string" />
					<xsd:element name="param2" type="xsd:xsdl:myelement5" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="newRequest">
		<part name="newRequestSoapMsg" element="xsdl:newRequest"/>
	</message>
	<message name="newResponse">
		<part name="newResponseSoapMsg" element="xsdl:newResponse"/>
	</message>
	<message name="test1Request">
		<part name="test1RequestSoapMsg" element="xsdl:test1Request"/>
	</message>
	<message name="test1Response">
		<part name="test1ResponseSoapMsg" element="xsdl:test1Response"/>
	</message>
	<message name="test2Request">
		<part name="test2RequestSoapMsg" element="xsdl:test2Request"/>
	</message>
	<message name="test2Response">
		<part name="test2ResponseSoapMsg" element="xsdl:test2Response"/>
	</message>
	<portType name="ITReleaseWSDLTestPortType">
		<operation name="new">
			<input message="tns:newRequest" />
			<output message="tns:newResponse" />
		</operation>
		<operation name="test1">
			<input message="tns:test1Request" />
			<output message="tns:test1Response" />
		</operation>
		<operation name="test2">
			<input message="tns:test2Request" />
			<output message="tns:test2Response" />
		</operation>
	</portType>
	<binding name="ITReleaseWSDLTestBinding" type="tns:ITReleaseWSDLTestPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
			<operation name="new">
				<soap:operation style="document" soapAction=""/>
				<input>
					<soap:body use="literal"/>
				</input>
				<output>
					<soap:body use="literal"/>
				</output>
			</operation>
			<operation name="test1">
				<soap:operation style="document" soapAction=""/>
				<input>
					<soap:body use="literal"/>
				</input>
				<output>
					<soap:body use="literal"/>
				</output>
			</operation>
			<operation name="test2">
				<soap:operation style="document" soapAction=""/>
				<input>
					<soap:body use="literal"/>
				</input>
				<output>
					<soap:body use="literal"/>
				</output>
			</operation>
	</binding>
	<service name="WSDLTest">
		<documentation>
			Test of WSDL::Generator
		</documentation>
		<port name="ITReleaseWSDLTestPort" binding="tns:ITReleaseWSDLTestBinding">
			<soap:address location="http://pics.work-itrelease.net/SOAP/WSDLTest"/>
		</port>
	</service>
</definitions>
