distros/X/XSDSQL/t/xml_046/schema1.xsd

<?xml version="1.0"?> 
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.book.org"
	xmlns="http://www.book.org"
>
	<xs:attribute name="id" type="xs:integer"/>
	<xs:element name="born" type="xs:date"/>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>

	<xs:group name="character">
		<xs:sequence>
			<xs:element ref="born"/>
			<xs:element ref="title"/>
		</xs:sequence>
	</xs:group>
</xs:schema>

