distros/V/VMware-vCloud/etc/1.0/schemas/vcloud/network.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright © 2009 VMware, Inc. All rights reserved.

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Except as explicitly provided herein, no express or implied licenses, under any VMware patents, copyrights, trademarks, or any other intellectual property rights, are granted or waived by implication, exhaustion, estoppel, or otherwise, on modified versions of the Software.
-->
<xs:schema xmlns="http://www.vmware.com/vcloud/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.vmware.com/vcloud/v1" version="1.0">

    <xs:include schemaLocation="common.xsd"/>
    <xs:include schemaLocation="entity.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">
            Schema for the vCloud Network types.
        </xs:documentation>
    </xs:annotation>

    <xs:complexType abstract="true" name="NetworkType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a Network in the vCloud model.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="Configuration" type="NetworkConfigurationType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Network configuration.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrgNetworkType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents an organization network in the vCloud model.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="NetworkType">
                <xs:sequence>
                    <xs:element name="NetworkPool" type="ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Network Pool from which this organization network is created.
                                Not present if it is bridged to an external network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AllowedExternalIpAddresses" type="IpAddressesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Optional set of IP addresses that this organization network is
                                limited to using for purposes of NAT.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NetworkFeaturesType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents features of a network.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="DhcpService" type="DhcpServiceType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                DHCP service settings.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="FirewallService" type="FirewallServiceType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Firewall service settings.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NatService" type="NatServiceType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                NAT service settings.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DhcpServiceType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a DHCP network service.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="IsEnabled" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Flag to enable DHCP service. Defualt value is true.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultLeaseTime" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Default lease in seconds for DHCP addresses.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MaxLeaseTime" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Max lease in seconds for DHCP addresses.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IpRange" type="IpRangeType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                IP range for DHCP addresses.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NatServiceType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a NAT network service.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="IsEnabled" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Flag to enable NAT network service. Default value is true.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NatType" type="NatTypeType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                NAT type.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Policy" type="NatPolicyType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A policy if the NAT.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NatRule" type="NatRuleType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A NAT rule.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="NatTypeType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Enumeration of NAT type values.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ipTranslation">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        IP translation NAT type.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="portForwarding">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Port forwarding NAT type.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NatPolicyType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Enumeration of NAT policy values.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="allowTraffic">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Allow all traffic for NAT.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="allowTrafficIn">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Allow only inbound traffic for NAT.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NatMappingModeType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Enumeration of NAT mapping mode types.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="automatic">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Automatic mapping of IP addresses in NAT.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="manual">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Manual mapping of IP addresses in NAT.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="NatRuleType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a NAT rule.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Description of NAT rule.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:choice>
                        <xs:element name="OneToOneBasicRule" type="NatOneToOneBasicRuleType">
                            <xs:annotation>
                                <xs:documentation source="modifiable">always</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    Mapping one to one internal to external IP addresses.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="OneToOneVmRule" type="NatOneToOneVmRuleType">
                            <xs:annotation>
                                <xs:documentation source="modifiable">always</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    Mapping one to one VM NIC to external IP addresses.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="PortForwardingRule" type="NatPortForwardingRuleType">
                            <xs:annotation>
                                <xs:documentation source="modifiable">always</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    Port forwarding internal to external IP addresses.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="VmRule" type="NatVmRuleType">
                            <xs:annotation>
                                <xs:documentation source="modifiable">always</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    Port forwarding VM NIC to external IP addresses.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NatOneToOneBasicRuleType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents the NAT basic rule for one to one mapping of internal
                and external IP addresses from a network.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="MappingMode" type="NatMappingModeType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Mapping mode.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ExternalIP" type="IpAddressType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                External IP address to map.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="InternalIP" type="IpAddressType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Internal IP address to map.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NatOneToOneVmRuleType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents the NAT rule for one to one mapping of VM NIC and
                external IP addresses from a network.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="MappingMode" type="NatMappingModeType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Mapping mode.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ExternalIP" type="IpAddressType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                External IP address to map to VM.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VAppScopedVmId" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                VM ID scoped to vApp to map.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VmNicId" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                VM NIC ID to map.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NatPortForwardingRuleType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents the NAT rule for port forwarding between internal
                IP/port and external IP/port.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="ExternalIP" type="IpAddressType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                External IP address to forward port.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ExternalPort" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                External port to forward.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="InternalIP" type="IpAddressType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Internal IP address to forward port.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="InternalPort" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Internal port to forward.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Protocol" type="Layer4ProtocolType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Protocol to forward TPC/UDP.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NatVmRuleType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents the NAT rule for port forwarding between VM NIC/port
                and external IP/port.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="ExternalIP" type="IpAddressType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                External IP address to forward port.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ExternalPort" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                External port to forward.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VAppScopedVmId" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                VM ID scoped to vApp to forward port.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VmNicId" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                VM NIC ID to forward port.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="InternalPort" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Internal port to forward.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Protocol" type="Layer4ProtocolType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Protocol to forward TPC/UDP.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FirewallServiceType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a firewall network service.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="IsEnabled" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Flag to enable the firewall service. Defualt value is true.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="FirewallRule" type="FirewallRuleType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A firewall rule.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

     <xs:complexType name="FirewallRuleType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a firewall rule.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="IsEnabled" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Used to enable or disable the firewall rule. Default value is true.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Describes what is the reason or used for.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Policy" type="FirewallPolicyType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                What is the firewall rule policy.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Protocols" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Specify on which protocol TCP or/and UDP to apply the firewall rule.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="1" minOccurs="0" name="Tcp" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:documentation source="modifiable">always</xs:documentation>
                                        <xs:documentation xml:lang="en">
                                            Used to specify if the firewall rule should be used for TCP protocol.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element maxOccurs="1" minOccurs="0" name="Udp" type="xs:boolean">
                                    <xs:annotation>
                                        <xs:documentation source="modifiable">always</xs:documentation>
                                        <xs:documentation xml:lang="en">
                                            Used to specify if the firewall rule should be used for UDP protocol.
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Port" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The fire wall rule port, -1 for any.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DestinationIp" type="IpAddressType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Destination IP to which to apply to firewall rule.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="FirewallPolicyType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                The policy enumeration type for a firewall rule.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="drop">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Policy to drop packets for a firewall rule.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="allow">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Policy to allow packets for a firewall rule.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FenceModeValuesType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Enumeration of fence mode values.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="bridged">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Fence mode for a network which is bridged to parent network.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="isolated">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Fence mode for a network which is isolated from all other networks.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="natRouted">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Fence mode for a network which is NAT routed to parent network.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="NetworkConfigurationType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                The configurations applied to a network. This is an
                abstract base type. The concrete types include those for vApp and
                Organization wide networks.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="IpScope" type="IpScopeType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Includes IP level configuration items such as gateway, dns, subnet,
                                IP address pool to be used for allocation. Note that the pool
                                of IP addresses needs to fall within the subnet/mask of the IpScope.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ParentNetwork" type="ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Contains reference to parent network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="FenceMode" type="FenceModeValuesType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Isolation type of the network.
                                If a parent network exists, this property determines
                                the connectivity to the parent.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Features" type="NetworkFeaturesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Network features like DHCP, firewall and NAT rules.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="IpAddressType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                An IPv4 address with validation restriction.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="((25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\.){3}(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="IpAddressesType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                A list of IP addresses.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="IpAddress" type="IpAddressType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                An IP address.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="IpRangeType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a range of IP addresses, start and end inclusive.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="StartAddress" type="IpAddressType">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Start address of the IP range.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="EndAddress" type="IpAddressType">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                End address of the IP range.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="IpRangesType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a list of IP ranges.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="IpRange" type="IpRangeType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                IP range.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="IpScopeType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Specify network settings like gateway, network mask, DNS servers, IP ranges, etc.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="IsInherited" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                If the IP scope is inherit from parent network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Gateway" type="IpAddressType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Gateway of the network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Netmask" type="IpAddressType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Network mask.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Dns1" type="IpAddressType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                DNS server one.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Dns2" type="IpAddressType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                DNS server two.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DnsSuffix" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                DNS suffix.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IpRanges" type="IpRangesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                IP ranges used for static pool allocation in the network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AllocatedIpAddresses" type="IpAddressesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Read only list of allocated IP addresses in the network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
             </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="Layer4ProtocolType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Enumeration of layer 4 protocols used for NAT rules.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="TCP">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        TCP to be used in NAT rule.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UDP">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        UDP to be used in NAT rule.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TCP_UDP">
                <xs:annotation>
                    <xs:documentation source="since">1.0</xs:documentation>
                    <xs:documentation xml:lang="en">
                        TCP and UDP to be used in NAT rule.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
