distros/B/Business-CAMT/lib/Business/CAMT/xsd/camt.041.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.12) on 2017 Jan 31 09:37:06, ISO 20022 version : 2004-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.041.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.041.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalReference3">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode"/>
                <xs:element name="PrtryIdSrc" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BelgianIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="BloombergIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CUSIPIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="CashInForecast6">
        <xs:sequence>
            <xs:element name="CshSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubTtlAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubTtlUnitsNb" type="FinancialInstrumentQuantity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcptnlCshFlowInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlBal" type="FundBalance1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashInOutForecast7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CshSttlmDt" type="ISODate"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashOutForecast6">
        <xs:sequence>
            <xs:element name="CshSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubTtlAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubTtlUnitsNb" type="FinancialInstrumentQuantity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcptnlCshFlowInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlBal" type="FundBalance1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyDesignation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyDsgnt" type="CurrencyDesignation1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lctn" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CurrencyDesignation1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ONSH"/>
            <xs:enumeration value="OFFS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate"/>
                <xs:element name="DtTm" type="ISODateTime"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DistributionPolicy1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST"/>
            <xs:enumeration value="ACCU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FndConfdCshFcstRpt" type="FundConfirmedCashForecastReportV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DutchIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="EuroclearClearstreamIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Txt" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument9">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SplmtryId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdNAVCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrbtnPlcy" type="DistributionPolicy1Code"/>
            <xs:element name="DualFndInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1">
        <xs:sequence>
            <xs:element name="Unit" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FlowDirectionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INCG"/>
            <xs:enumeration value="OUTG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ForeignExchangeTerms19">
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR"/>
            <xs:enumeration value="REGD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Fund2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglNttyIdr" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="OtherIdentification4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsTradDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNAV" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsTtlNAV" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlUnitsNb" type="FinancialInstrumentQuantity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsTtlUnitsNb" type="FinancialInstrumentQuantity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PctgOfFndTtlNAV" type="PercentageRate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshInFcstDtls" type="CashInOutForecast7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshOutFcstDtls" type="CashInOutForecast7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NetCshFcstDtls" type="NetCashForecast5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundBalance1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlUnitsFrUnitOrdrs" type="FinancialInstrumentQuantity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlUnitsFrCshOrdrs" type="FinancialInstrumentQuantity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlCshFrUnitOrdrs" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlCshFrCshOrdrs" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundCashForecast7">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="TradDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsTradDtTm" type="DateAndDateTimeChoice"/>
            <xs:element name="FinInstrmDtls" type="FinancialInstrument9"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TtlNAV" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvsTtlNAV" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlUnitsNb" type="FinancialInstrumentQuantity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsTtlUnitsNb" type="FinancialInstrumentQuantity1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNAVChngRate" type="PercentageRate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InvstmtCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcySts" type="CurrencyDesignation1"/>
            <xs:element name="XcptnlNetCshFlowInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pric" type="UnitPrice19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXRate" type="ForeignExchangeTerms19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PctgOfShrClssTtlNAV" type="PercentageRate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshInFcstDtls" type="CashInForecast6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshOutFcstDtls" type="CashOutForecast6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NetCshFcstDtls" type="NetCashForecast4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundConfirmedCashForecastReportV04">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolRef" type="AdditionalReference3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvsRef" type="AdditionalReference3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RltdRef" type="AdditionalReference3"/>
            <xs:element name="MsgPgntn" type="Pagination"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FndOrSubFndDtls" type="Fund2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FndCshFcstDtls" type="FundCashForecast7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CnsltdNetCshFcst" type="NetCashForecast3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification47">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode"/>
                <xs:element name="PrtryIdSrc" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetCashForecast3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NetAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetUnitsNb" type="FinancialInstrumentQuantity1"/>
            <xs:element name="FlowDrctn" type="FlowDirectionType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetCashForecast4">
        <xs:sequence>
            <xs:element name="CshSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetUnitsNb" type="FinancialInstrumentQuantity1"/>
            <xs:element name="FlowDrctn" type="FlowDirectionType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlBal" type="FundBalance1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetCashForecast5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CshSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetUnitsNb" type="FinancialInstrumentQuantity1"/>
            <xs:element name="FlowDrctn" type="FlowDirectionType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="IdentificationSource5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification1"/>
                <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceValue1">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QUICKIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="RICIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SEDOLIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification3Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier"/>
                <xs:element name="SEDOL" type="SEDOLIdentifier"/>
                <xs:element name="CUSIP" type="CUSIPIdentifier"/>
                <xs:element name="RIC" type="RICIdentifier"/>
                <xs:element name="TckrSymb" type="TickerIdentifier"/>
                <xs:element name="Blmbrg" type="BloombergIdentifier"/>
                <xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier"/>
                <xs:element name="QUICK" type="QUICKIdentifier"/>
                <xs:element name="Wrtppr" type="WertpapierIdentifier"/>
                <xs:element name="Dtch" type="DutchIdentifier"/>
                <xs:element name="Vlrn" type="ValorenIdentifier"/>
                <xs:element name="SCVM" type="SicovamIdentifier"/>
                <xs:element name="Belgn" type="BelgianIdentifier"/>
                <xs:element name="Cmon" type="EuroclearClearstreamIdentifier"/>
                <xs:element name="OthrPrtryId" type="AlternateSecurityIdentification1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SicovamIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="TickerIdentifier">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfPrice10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BIDE"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="NAVL"/>
            <xs:enumeration value="CREA"/>
            <xs:enumeration value="CANC"/>
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="SWNG"/>
            <xs:enumeration value="MIDD"/>
            <xs:enumeration value="RINV"/>
            <xs:enumeration value="SWIC"/>
            <xs:enumeration value="DDVR"/>
            <xs:enumeration value="ACTU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnitPrice19">
        <xs:sequence>
            <xs:element name="PricTp" type="UnitPriceType2Choice"/>
            <xs:element name="Val" type="PriceValue1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnitPriceType2Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="TypeOfPrice10Code"/>
                <xs:element name="Prtry" type="GenericIdentification47"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ValorenIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="WertpapierIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
