distros/B/Business-CAMT/lib/Business/CAMT/xsd/camt.062.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.2_DEV) on 2015 Feb 12 16:36:03, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.062.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.062.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgreedRate2">
        <xs:sequence>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element name="UnitCcy" type="CurrencyCode"/>
            <xs:element name="QtdCcy" type="CurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceStatus2">
        <xs:sequence>
            <xs:element name="Bal" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyFactors1">
        <xs:sequence>
            <xs:element name="Ccy" type="CurrencyCode"/>
            <xs:element name="ShrtPosLmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="MinPayInAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="VoltlyMrgn" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="AgreedRate2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="PayInSchdl" type="PayInScheduleV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Entry2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TRIA"/>
            <xs:enumeration value="OFFI"/>
            <xs:enumeration value="REQU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress8">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification44">
        <xs:sequence>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification59">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyNm" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="PartyIdentification44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNb" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglNttyIdr" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification73Choice">
        <xs:choice>
            <xs:element name="NmAndAdr" type="NameAndAddress8"/>
            <xs:element name="AnyBIC" type="PartyIdentification44"/>
            <xs:element name="PtyId" type="PartyIdentification59"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PayInFactors1">
        <xs:sequence>
            <xs:element name="AggtShrtPosLmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="CcyFctrs" type="CurrencyFactors1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PayInScheduleItems1">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Ddln" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PayInScheduleV03">
        <xs:sequence>
            <xs:element name="PtyId" type="PartyIdentification73Choice"/>
            <xs:element name="RptData" type="ReportData4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PayInSchdlLngBal" type="BalanceStatus2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PayInSchdlItm" type="PayInScheduleItems1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PayInFctrs" type="PayInFactors1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportData4">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element name="ValDt" type="ISODate"/>
            <xs:element name="DtAndTmStmp" type="ISODateTime"/>
            <xs:element name="Tp" type="Entry2Code"/>
            <xs:element name="SchdlTp" type="Exact4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSsnIdr" type="Exact4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
