distros/B/Business-CAMT/lib/Business/CAMT/xsd/camt.088.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor on 2025 Feb 17 18:18:51, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.088.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.088.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="NetRpt" type="NetReportV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress8">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetObligation3">
        <xs:sequence>
            <xs:element name="OblgtnId" type="Max35Text"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="PtcptNetgId" type="NettingIdentification2Choice"/>
            <xs:element name="OblgtnDrctn" type="PaymentReceipt1Code"/>
            <xs:element name="CtrPtyNetgId" type="NettingIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetSvcCtrPtyId" type="PartyIdentification242Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtySttlmInstrs" type="SettlementParties120"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtClrCentr" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxsNb" type="Max10NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetReportData2">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="NetgCutOffTm" type="ISOTime"/>
            <xs:element name="RptDt" type="ISODate"/>
            <xs:element name="ValDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetRptSvcr" type="PartyIdentification242Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetSvcTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgPgntn" type="Pagination1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetReportV03">
        <xs:sequence>
            <xs:element name="NetRptData" type="NetReportData2"/>
            <xs:element name="NetSvcPtcptId" type="PartyIdentification242Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetSvcCtrPtyId" type="PartyIdentification242Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NetOblgtn" type="NetObligation3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NettingIdentification2Choice">
        <xs:choice>
            <xs:element name="TradPty" type="PartyIdentification242Choice"/>
            <xs:element name="NetgGrpId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification242Choice">
        <xs:choice>
            <xs:element name="NmAndAdr" type="NameAndAddress8"/>
            <xs:element name="AnyBIC" type="PartyIdentification265"/>
            <xs:element name="PtyId" type="PartyIdentification266"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification265">
        <xs:sequence>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification266">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyNm" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="PartyIdentification265"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNb" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglNttyIdr" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PaymentReceipt1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PAYM"/>
            <xs:enumeration value="RECE"/>
            <xs:enumeration value="NONE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties120">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryAgt" type="PartyIdentification242Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Intrmy" type="PartyIdentification242Choice"/>
            <xs:element name="RcvgAgt" type="PartyIdentification242Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BnfcryInstn" type="PartyIdentification242Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
