distros/B/Business-CAMT/lib/Business/CAMT/xsd/camt.079.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor on 2024 Mar 16 20:31:23, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.079.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.079.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AcknowledgedAcceptedStatus21Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="AcknowledgementReason9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AcknowledgementReason12Choice">
        <xs:choice>
            <xs:element name="Cd" type="AcknowledgementReason5Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AcknowledgementReason5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="SMPG"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CDCY"/>
            <xs:enumeration value="CDRG"/>
            <xs:enumeration value="CDRE"/>
            <xs:enumeration value="NSTP"/>
            <xs:enumeration value="RQWV"/>
            <xs:enumeration value="LATE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AcknowledgementReason9">
        <xs:sequence>
            <xs:element name="Cd" type="AcknowledgementReason12Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="AddressType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Amount2Choice">
        <xs:choice>
            <xs:element name="AmtWthtCcy" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtWthCcy" type="ActiveCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection5">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbt" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndQuantityBreakdown1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LotNb" type="GenericIdentification37"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotAmt" type="AmountAndDirection5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshSubBalTp" type="GenericIdentification30"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification8">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchData5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress27"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationReason19Choice">
        <xs:choice>
            <xs:element name="Cd" type="CancelledStatusReason13Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancellationReason9">
        <xs:sequence>
            <xs:element name="Cd" type="CancellationReason19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationStatus14Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="CancellationReason9"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI"/>
            <xs:enumeration value="CANS"/>
            <xs:enumeration value="CSUB"/>
            <xs:enumeration value="CXLR"/>
            <xs:enumeration value="CANT"/>
            <xs:enumeration value="CANZ"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="SCEX"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccount40">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="AccountIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prxy" type="ProxyAccountIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalCashAccountType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CashBalanceType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalBalanceType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CashSubBalanceTypeAndQuantityBreakdown3">
        <xs:sequence>
            <xs:element name="Tp" type="CashBalanceType3Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="QtyBrkdwn" type="AmountAndQuantityBreakdown1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice"/>
            <xs:element name="MmbId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CopyDuplicate1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CODU"/>
            <xs:enumeration value="COPY"/>
            <xs:enumeration value="DUPL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="IntraBalMvmntQryRspn" type="IntraBalanceMovementQueryResponseV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification51">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgOrgtr" type="PartyIdentification136"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgRcpt" type="PartyIdentification136"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber5Choice">
        <xs:choice>
            <xs:element name="ShrtNb" type="Exact3NumericText"/>
            <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
            <xs:element name="PrtryNb" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ErrorHandling3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalSystemErrorHandling1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ErrorHandling5">
        <xs:sequence>
            <xs:element name="Err" type="ErrorHandling3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalBalanceType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCashAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalProxyAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalSystemErrorHandling1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FailingReason3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWMO"/>
            <xs:enumeration value="BYIY"/>
            <xs:enumeration value="CLAT"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CANR"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="OBJT"/>
            <xs:enumeration value="AWSH"/>
            <xs:enumeration value="PHSE"/>
            <xs:enumeration value="STCD"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="MLAT"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="CHAS"/>
            <xs:enumeration value="NEWI"/>
            <xs:enumeration value="CLAC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="CMON"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="DEPO"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="INCA"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="NCON"/>
            <xs:enumeration value="REFS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CYCL"/>
            <xs:enumeration value="SBLO"/>
            <xs:enumeration value="CPEC"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="IAAD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PHCK"/>
            <xs:enumeration value="BENO"/>
            <xs:enumeration value="BOTH"/>
            <xs:enumeration value="CLHT"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="DISA"/>
            <xs:enumeration value="DKNY"/>
            <xs:enumeration value="FROZ"/>
            <xs:enumeration value="LAAW"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="PRCY"/>
            <xs:enumeration value="REGT"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="PRSY"/>
            <xs:enumeration value="INBC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FailingReason7">
        <xs:sequence>
            <xs:element name="Cd" type="FailingReason7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FailingReason7Choice">
        <xs:choice>
            <xs:element name="Cd" type="FailingReason3Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FailingStatus9Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="FailingReason7"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification23">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress27"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="FinancialIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification37">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IntraBalanceMovement6">
        <xs:sequence>
            <xs:element name="BalFr" type="CashSubBalanceTypeAndQuantityBreakdown3"/>
            <xs:element name="BalTo" type="CashSubBalanceTypeAndQuantityBreakdown3"/>
            <xs:element name="SttlmAmt" type="Amount2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttldAmt" type="Amount2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrevslySttldAmt" type="Amount2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmngSttlmAmt" type="Amount2Choice"/>
            <xs:element name="IntnddSttlmDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvSttlmDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshSubBalId" type="GenericIdentification37"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Lnkgs" type="Linkages57"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="PriorityNumeric4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgOrgtr" type="SystemPartyIdentification8"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrPrcgAddtlDtls" type="Max350Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraBalanceMovement7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccount40"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcctOwnr" type="SystemPartyIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcctSvcr" type="BranchAndFinancialInstitutionIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsAndRsn" type="IntraBalanceStatusAndReason2"/>
            <xs:element name="AcctOwnrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnEvtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MvmntDtls" type="IntraBalanceMovement6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraBalanceMovementQueryResponseV02">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="DocumentIdentification51"/>
            <xs:element name="Pgntn" type="Pagination1"/>
            <xs:element name="RptGnlDtls" type="MovementReport1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptOrErr" type="IntraBalanceOrOperationalError11Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraBalanceMovements4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccount40"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcctOwnr" type="SystemPartyIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcctSvcr" type="BranchAndFinancialInstitutionIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsAndRsn" type="IntraBalanceStatusAndReason2"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Mvmnt" type="IntraBalanceMovement7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraBalanceOrOperationalError11Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Mvmnts" type="IntraBalanceMovements4"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="OprlErr" type="ErrorHandling5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IntraBalanceStatusAndReason2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrcgSts" type="ProcessingStatus67Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmSts" type="SettlementStatus16Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sttld" type="ProprietaryReason4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Linkages57">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgPos" type="ProcessingPosition7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNb" type="DocumentNumber5Choice"/>
            <xs:element name="Ref" type="References34Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefOwnr" type="PartyIdentification127Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MovementReport1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="QryRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptId" type="Max35Text"/>
            <xs:element name="QryTp" type="MovementResponseType1Code"/>
            <xs:element name="ActvtyInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MovementResponseType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="STTS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification120Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification127Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification136">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingReason10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWMO"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="REFU"/>
            <xs:enumeration value="AWSH"/>
            <xs:enumeration value="PHSE"/>
            <xs:enumeration value="TAMM"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="CHAS"/>
            <xs:enumeration value="NEWI"/>
            <xs:enumeration value="CLAC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NMAS"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="CMON"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="DEPO"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="INCA"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="FUTU"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="NCON"/>
            <xs:enumeration value="REFS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CYCL"/>
            <xs:enumeration value="SBLO"/>
            <xs:enumeration value="CPEC"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="IAAD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PHCK"/>
            <xs:enumeration value="BENO"/>
            <xs:enumeration value="BOTH"/>
            <xs:enumeration value="CLHT"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="DISA"/>
            <xs:enumeration value="DKNY"/>
            <xs:enumeration value="FROZ"/>
            <xs:enumeration value="LAAW"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="PRCY"/>
            <xs:enumeration value="REGT"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="PRSY"/>
            <xs:enumeration value="INBC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingReason14">
        <xs:sequence>
            <xs:element name="Cd" type="PendingReason26Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason26Choice">
        <xs:choice>
            <xs:element name="Cd" type="PendingReason10Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PendingStatus36Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingReason14"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress27">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CareOf" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriorityNumeric4Choice">
        <xs:choice>
            <xs:element name="Nmrc" type="Exact4NumericText"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProcessingPosition3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFTE"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="BEFO"/>
            <xs:enumeration value="INFO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingPosition7Choice">
        <xs:choice>
            <xs:element name="Cd" type="ProcessingPosition3Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProcessingStatus67Choice">
        <xs:choice>
            <xs:element name="Rjctd" type="RejectionOrRepairStatus38Choice"/>
            <xs:element name="Rpr" type="RejectionOrRepairStatus38Choice"/>
            <xs:element name="Canc" type="CancellationStatus14Choice"/>
            <xs:element name="AckdAccptd" type="AcknowledgedAcceptedStatus21Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryStatusAndReason6">
        <xs:sequence>
            <xs:element name="PrtrySts" type="GenericIdentification30"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtryRsn" type="ProprietaryReason4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProxyAccountIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ProxyAccountType1Choice"/>
            <xs:element name="Id" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProxyAccountType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalProxyAccountType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="References34Choice">
        <xs:choice>
            <xs:element name="SctiesSttlmTxId" type="Max35Text"/>
            <xs:element name="IntraPosMvmntId" type="Max35Text"/>
            <xs:element name="IntraBalMvmntId" type="Max35Text"/>
            <xs:element name="AcctSvcrTxId" type="Max35Text"/>
            <xs:element name="MktInfrstrctrTxId" type="Max35Text"/>
            <xs:element name="PoolId" type="Max35Text"/>
            <xs:element name="OthrTxId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionAndRepairReason32Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason33Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairReason32">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cd" type="RejectionAndRepairReason32Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairStatus38Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionOrRepairReason32"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RejectionReason33Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="INVL"/>
            <xs:enumeration value="INVB"/>
            <xs:enumeration value="INVN"/>
            <xs:enumeration value="VALR"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="CAEV"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="MUNO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementStatus16Choice">
        <xs:choice>
            <xs:element name="Pdg" type="PendingStatus36Choice"/>
            <xs:element name="Flng" type="FailingStatus9Choice"/>
            <xs:element name="Prtry" type="ProprietaryStatusAndReason6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemPartyIdentification8">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification136"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnsblPtyId" type="PartyIdentification136"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
