distros/B/Business-CAMT/lib/Business/CAMT/xsd/camt.017.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2021 May 12 15:51:58, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.017.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.017.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyExchange20">
        <xs:sequence>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element name="QtdCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element name="QtnDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LwLmt" type="ExchangeRateOrPercentage1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HghLmt" type="ExchangeRateOrPercentage1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CurrencyExchangeReport4">
        <xs:sequence>
            <xs:element name="CcyRef" type="CurrencySourceTarget1"/>
            <xs:element name="CcyXchgOrErr" type="ExchangeRateReportOrError4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CurrencySourceTarget1">
        <xs:sequence>
            <xs:element name="SrcCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element name="TrgtCcy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RtrCcyXchgRate" type="ReturnCurrencyExchangeRateV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ErrorHandling1Code"/>
            <xs:element name="Prtry" type="Max4AlphaNumericText"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ErrorHandling1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="X020"/>
            <xs:enumeration value="X030"/>
            <xs:enumeration value="X050"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ErrorHandling3">
        <xs:sequence>
            <xs:element name="Err" type="ErrorHandling1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExchangeRateOrPercentage1Choice">
        <xs:choice>
            <xs:element name="Rate" type="BaseOneRate"/>
            <xs:element name="Pctg" type="PercentageRate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ExchangeRateReportOrError3Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="CcyXchgRpt" type="CurrencyExchangeReport4"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="OprlErr" type="ErrorHandling3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ExchangeRateReportOrError4Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BizErr" type="ErrorHandling3"/>
            <xs:element name="CcyXchg" type="CurrencyExchange20"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ExternalEnquiryRequestType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPaymentControlRequestType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader7">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqTp" type="RequestType4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlBizQry" type="OriginalBusinessQuery1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QryNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalBusinessQuery1">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNmId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestType4Choice">
        <xs:choice>
            <xs:element name="PmtCtrl" type="ExternalPaymentControlRequestType1Code"/>
            <xs:element name="Enqry" type="ExternalEnquiryRequestType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ReturnCurrencyExchangeRateV05">
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader7"/>
            <xs:element name="RptOrErr" type="ExchangeRateReportOrError3Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
