distros/B/Business-CAMT/lib/Business/CAMT/xsd/camt.077.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R2.4.6) on 2025 Dec 22 12:46:25, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.077.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.077.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification38Choice">
        <xs:choice>
            <xs:element name="SctiesAcctId" type="SecuritiesAccount19"/>
            <xs:element name="CshAcctId" type="AccountIdentification4Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="AddressType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Adjustment5">
        <xs:sequence>
            <xs:element name="Drctn" type="AdjustmentDirection1Code"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AdjustmentDirection1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDD"/>
            <xs:enumeration value="SUBS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndForeignExchange1">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FX" type="ForeignExchangeTerms24"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BillingCancellationReport3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RgltryData" type="InvoiceLegalIssue5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Svc" type="SystemAndCurrency1"/>
            <xs:element name="InvcDt" type="ISODate"/>
            <xs:element name="BllgId" type="Max35Text"/>
            <xs:element name="BllgPrd" type="DatePeriod2"/>
            <xs:element name="CxlRsn" type="CancellationReason16Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingFeeRecord1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max4Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingReport6">
        <xs:sequence>
            <xs:element name="RgltryData" type="InvoiceLegalIssue5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Svc" type="SystemAndCurrency1"/>
            <xs:element name="InvcDt" type="ISODate"/>
            <xs:element name="BllgId" type="Max35Text"/>
            <xs:element name="BllgPrd" type="DatePeriod2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnsblPtyId" type="PartyIdentification136"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyId" type="PartyIdentification136"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctInvcTtls" type="InvoiceTotals8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvcTtls" type="InvoiceTotals7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvcCtgyTtls" type="ServiceCategoryTotals8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingReportOrError6Choice">
        <xs:choice>
            <xs:element name="BllgRpt" type="BillingReport6"/>
            <xs:element name="CxlRpt" type="BillingCancellationReport3"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="OprlErr" type="ErrorHandling5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BillingReportV01">
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader11"/>
            <xs:element name="BllgRptOrErr" type="BillingReportOrError6Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingTaxRecord2">
        <xs:sequence>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max40Text"/>
            <xs:element name="TaxblAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxXmptn" type="TaxExemption1"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ChrgsAndFees" type="BillingFeeRecord1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationReason16Choice">
        <xs:choice>
            <xs:element name="Cd" type="Max4AlphaNumericText"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Contact13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailPurp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="JobTitl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rspnsblty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="OtherContact1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrefrdMtd" type="PreferredContactMethod2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndPlaceOfBirth1">
        <xs:sequence>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"/>
            <xs:element name="CityOfBirth" type="Max35Text"/>
            <xs:element name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriod2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BllgRpt" type="BillingReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalSystemErrorHandling1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ErrorHandling5">
        <xs:sequence>
            <xs:element name="Err" type="ErrorHandling3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalEnquiryRequestType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalMarketInfrastructure1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalOrganisationIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPaymentControlRequestType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPaymentMethode1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPersonIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalServiceCategory1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalSystemErrorHandling1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ForeignExchangeTerms24">
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RsltgAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="PersonIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="InvoiceLegalIssue5">
        <xs:sequence>
            <xs:element name="Invcr" type="PartyIdentification272"/>
            <xs:element name="Invcee" type="PartyIdentification272"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvcLglStmt" type="Max210Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtMtd" type="PaymentMethod3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvoiceTotals7">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tax" type="BillingTaxRecord2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adjstmnt" type="Adjustment5"/>
            <xs:element name="TtlInvcAmt" type="AmountAndForeignExchange1"/>
            <xs:element name="PmtDueDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="AccountIdentification4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvoiceTotals8">
        <xs:sequence>
            <xs:element name="AcctId" type="AccountIdentification38Choice"/>
            <xs:element name="InvcTtls" type="InvoiceTotals7"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SvcCtgyTtls" type="ServiceCategoryTotals7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketInfrastructureIdentification1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalMarketInfrastructure1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max128Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,20}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max40Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="40"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader11">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqTp" type="RequestType4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlBizQry" type="OriginalBusinessQuery1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NamePrefix2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MADM"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MIKS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification39">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericOrganisationIdentification3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OriginalBusinessQuery1">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNmId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherContact1">
        <xs:sequence>
            <xs:element name="ChanlTp" type="Max4Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max128Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party52Choice">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification39"/>
            <xs:element name="PrvtId" type="PersonIdentification18"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification120Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification136">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification272">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress27"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party52Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="Contact13"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentMethod3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalPaymentMethode1Code"/>
            <xs:element name="Prtry" type="Max210Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PersonIdentification18">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericPersonIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress27">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CareOf" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PreferredContactMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAIL"/>
            <xs:enumeration value="FAXX"/>
            <xs:enumeration value="LETT"/>
            <xs:enumeration value="CELL"/>
            <xs:enumeration value="ONLI"/>
            <xs:enumeration value="PHON"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestType4Choice">
        <xs:choice>
            <xs:element name="PmtCtrl" type="ExternalPaymentControlRequestType1Code"/>
            <xs:element name="Enqry" type="ExternalEnquiryRequestType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServiceCategory1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalServiceCategory1Code"/>
            <xs:element name="Prtry" type="Max4AlphaNumericText"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ServiceCategoryTotals7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BlldCstmrId" type="PartyIdentification136"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tax" type="BillingTaxRecord2"/>
            <xs:element name="TtlInvcAmt" type="AmountAndForeignExchange1"/>
            <xs:element name="SvcCtgy" type="ServiceCategory1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvcItmTtls" type="ServiceItemTotals10"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvcItmCrrctn" type="ServiceItemTotals11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServiceCategoryTotals8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="AccountIdentification38Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrntAcctId" type="AccountIdentification38Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlldCstmrId" type="PartyIdentification136"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tax" type="BillingTaxRecord2"/>
            <xs:element name="TtlInvcAmt" type="AmountAndForeignExchange1"/>
            <xs:element name="SvcCtgy" type="ServiceCategory1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvcItmTtls" type="ServiceItemTotals12"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvcItmCrrctn" type="ServiceItemTotals13"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServiceItemTotals10">
        <xs:sequence>
            <xs:element name="ItmTp" type="Max20AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max350Text"/>
            <xs:element name="Qty" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BalCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitPric" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tax" type="BillingTaxRecord2"/>
            <xs:element name="TtlInvcAmt" type="AmountAndForeignExchange1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServiceItemTotals11">
        <xs:sequence>
            <xs:element name="ItmTp" type="Max20AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element name="Qty" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BalCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitPric" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tax" type="BillingTaxRecord2"/>
            <xs:element name="TtlInvcAmt" type="AmountAndForeignExchange1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServiceItemTotals12">
        <xs:sequence>
            <xs:element name="ItmTp" type="Max20AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max350Text"/>
            <xs:element name="Qty" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitPric" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tax" type="BillingTaxRecord2"/>
            <xs:element name="TtlInvcAmt" type="AmountAndForeignExchange1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ServiceItemTotals13">
        <xs:sequence>
            <xs:element name="ItmTp" type="Max20AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element name="Qty" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitPric" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tax" type="BillingTaxRecord2"/>
            <xs:element name="TtlInvcAmt" type="AmountAndForeignExchange1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemAndCurrency1">
        <xs:sequence>
            <xs:element name="SysId" type="SystemIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SysCcy" type="ActiveCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemIdentification2Choice">
        <xs:choice>
            <xs:element name="MktInfrstrctrId" type="MarketInfrastructureIdentification1Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TaxExemption1">
        <xs:sequence>
            <xs:element name="XmptdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
