distros/B/Business-OnlinePayment-IPayment/t/ipayment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
  name="ip_service_extern"
  targetNamespace="https://ipayment.de/service_v3/extern"
  xmlns:ipayment="https://ipayment.de/service_v3/extern"
  xmlns:tns="https://ipayment.de/service_v3/extern"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema
      targetNamespace="https://ipayment.de/service_v3/extern"
      xmlns:ipayment="https://ipayment.de/service_v3/extern"
      xmlns="http://schemas.xmlsoap.org/wsdl/"
      xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="OptionHashItem">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="key" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="value" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OptionHash">
        <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="option" type="ipayment:OptionHashItem"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BrowserData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="browserUserAgent" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="browserAcceptHeaders" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ClientData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="clientName" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="clientVersion" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OptionData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="fromIp" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="advancedStrictIdCheck" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="checkFraudattack" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="checkDoubleTrx" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="errorLang" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="trxLongsafe" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="otherOptions" type="ipayment:OptionHash"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="browserData" type="ipayment:BrowserData"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="clientData" type="ipayment:ClientData"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddressData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrName" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrStreet" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrStreet2" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrCity" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrZip" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrState" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrCountry" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrEmail" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrTelefon" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrTelefax" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="RecurringTyp">
          <xsd:restriction base="xsd:string">
              <xsd:enumeration value="initial"/>
              <xsd:enumeration value="sequencial"/>
          </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="RecurringData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="recurringTyp" type="ipayment:RecurringTyp" />
          <xsd:element maxOccurs="1" minOccurs="0" name="recurringFrequency" type="xsd:int" />
          <xsd:element maxOccurs="1" minOccurs="0" name="recurringExpiry" type="xsd:string" />
          <xsd:element maxOccurs="1" minOccurs="0" name="recurringAllowExpiryCorrection" type="xsd:boolean" />
          <xsd:element maxOccurs="1" minOccurs="0" name="recurringIgnoreMissingInitial" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="InstallmentTyp">
          <xsd:restriction base="xsd:string">
              <xsd:enumeration value="initial"/>
              <xsd:enumeration value="sequencial"/>
          </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="InstallmentData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="installmentTyp" type="ipayment:InstallmentTyp" />
          <xsd:element maxOccurs="1" minOccurs="0" name="installmentMaxNumber" type="xsd:int" />
          <xsd:element maxOccurs="1" minOccurs="0" name="installmentIgnoreMissingInitial" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TransactionData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="trxAmount" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="trxCurrency" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="invoiceText" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="trxUserComment" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="recurringData" type="ipayment:RecurringData" />
          <xsd:element maxOccurs="1" minOccurs="0" name="installmentData" type="ipayment:InstallmentData" />
          <xsd:element maxOccurs="1" minOccurs="0" name="shopperId" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ThreeDSecureData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="MD" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="PaRes" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CCData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="ccNumber" type="xsd:string" />
          <xsd:element maxOccurs="1" minOccurs="1" name="ccExpdateMonth" type="xsd:int" />
          <xsd:element maxOccurs="1" minOccurs="1" name="ccExpdateYear" type="xsd:int" />
          <xsd:element maxOccurs="1" minOccurs="0" name="ccCheckcode" type="xsd:string" />
          <xsd:element maxOccurs="1" minOccurs="0" name="ccStartdateMonth" type="xsd:int" />
          <xsd:element maxOccurs="1" minOccurs="0" name="ccStartdateYear" type="xsd:int" />
          <xsd:element maxOccurs="1" minOccurs="0" name="ccIssuenumber" type="xsd:string" />
        </xsd:sequence>      </xsd:complexType>
      <xsd:complexType name="ELVData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="bankCode" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="bankAccountnumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="bankName" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="bankCountry" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="bankIban" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="bankBic" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="StorageData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="useDatastorage" type="xsd:boolean" />
          <xsd:element maxOccurs="1" minOccurs="0" name="fromDatastorageId" type="xsd:int" />
          <xsd:element maxOccurs="1" minOccurs="0" name="expireDatastorage" type="xsd:boolean" />
          <xsd:element maxOccurs="1" minOccurs="0" name="datastorageReference" type="xsd:string" />
          <xsd:element maxOccurs="1" minOccurs="0" name="datastorageExpirydate" type="xsd:string" />
          <xsd:element maxOccurs="1" minOccurs="0" name="datastorageReuseMethod" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PaymentData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ccData" type="ipayment:CCData" />
          <xsd:element maxOccurs="1" minOccurs="0" name="elvData" type="ipayment:ELVData" />
          <xsd:element maxOccurs="1" minOccurs="0" name="storageData" type="ipayment:StorageData" />
          <xsd:element maxOccurs="1" minOccurs="0" name="addressData" type="ipayment:AddressData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AccountData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="accountId" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="trxuserId" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="trxpassword" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="adminactionpassword" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExpireStorageData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="datastorageId" type="xsd:int" />
          <xsd:element maxOccurs="1" minOccurs="0" name="datastorageExpirydate" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="PaymentReturnStatus">
          <xsd:restriction base="xsd:string">
              <xsd:enumeration value="SUCCESS"/>
              <xsd:enumeration value="ERROR"/>
              <xsd:enumeration value="REDIRECT"/>
          </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PaymentType">
          <xsd:restriction base="xsd:string">
              <xsd:enumeration value="cc"/>
              <xsd:enumeration value="elv"/>
              <xsd:enumeration value="pp"/>
          </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="TransactionType">
          <xsd:restriction base="xsd:string">
              <xsd:enumeration value="auth"/>
              <xsd:enumeration value="base_check"/>
              <xsd:enumeration value="check_save"/>
              <xsd:enumeration value="grefund_cap"/>
              <xsd:enumeration value="preauth"/>
          </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="PaymentReturnError">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="retErrorcode" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="retFatalerror" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="retErrorMsg" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="retAdditionalMsg" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PaymentReturnRedirect">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="redirectAction" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="redirectData" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PaymentReturnSuccess">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="retTransDate" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="retTransTime" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="retTrxNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="retAuthCode" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="retStorageId" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="trxIssuerAvsResponse" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="trxPayauthStatus" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PaymentReturn">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="status" type="ipayment:PaymentReturnStatus"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="errorDetails" type="ipayment:PaymentReturnError"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="successDetails" type="ipayment:PaymentReturnSuccess"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="redirectDetails" type="ipayment:PaymentReturnRedirect"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addressData" type="ipayment:AddressData"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addresscheckResult" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="paymentMethod" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="trxPaymentDataCountry" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="trxRemoteIpCountry" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddresscheckData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="addrStreet" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrStreetNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrStreet2" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrCity" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrZip" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrState" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="addrCountry" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SuggestionArray">
        <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="suggestion" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="AddresscheckFieldstatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="OK"/>
          <xsd:enumeration value="CORRECTED"/>
          <xsd:enumeration value="SUGGESTIONS"/>
          <xsd:enumeration value="ERROR"/>
          <xsd:enumeration value="UNCHECKED"/>
          <xsd:enumeration value="NORMALIZED"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="AddresscheckFieldresult">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="origValue" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="status" type="ipayment:AddresscheckFieldstatus"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="suggestionList" type="ipayment:SuggestionArray"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="statusDetail" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddresscheckReturn">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="status" type="ipayment:AddresscheckFieldstatus"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrStreet" type="ipayment:AddresscheckFieldresult"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrStreetNumber" type="ipayment:AddresscheckFieldresult"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrStreet2" type="ipayment:AddresscheckFieldresult"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrCity" type="ipayment:AddresscheckFieldresult"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrZip" type="ipayment:AddresscheckFieldresult"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addrState" type="ipayment:AddresscheckFieldresult"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="EmailcheckStatus">
          <xsd:restriction base="xsd:string">
              <xsd:enumeration value="OK"/>
              <xsd:enumeration value="ERROR"/>
          </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="EmailcheckReturn">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="status" type="ipayment:EmailcheckStatus"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="statusDetail" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProcessorUrlData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="redirectUrl" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="silentErrorUrl" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="hiddenTriggerUrl" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="basecheckRequest">
    <part name="accountData" type="tns:AccountData"/>
    <part name="paymentData" type="tns:PaymentData"/>
    <part name="transactionData" type="tns:TransactionData"/>
  </message>
  <message name="checksaveRequest">
    <part name="accountData" type="tns:AccountData"/>
    <part name="paymentData" type="tns:PaymentData"/>
    <part name="transactionData" type="tns:TransactionData"/>
    <part name="options" type="tns:OptionData"/>
  </message>
  <message name="preAuthorizeRequest">
    <part name="accountData" type="tns:AccountData"/>
    <part name="paymentData" type="tns:PaymentData"/>
    <part name="transactionData" type="tns:TransactionData"/>
    <part name="options" type="tns:OptionData"/>
  </message>
  <message name="captureRequest">
    <part name="accountData" type="tns:AccountData"/>
    <part name="origTrxNumber" type="xsd:string"/>
    <part name="transactionData" type="tns:TransactionData"/>
    <part name="options" type="tns:OptionData"/>
  </message>
  <message name="refundRequest">
    <part name="accountData" type="tns:AccountData"/>
    <part name="origTrxNumber" type="xsd:string"/>
    <part name="transactionData" type="tns:TransactionData"/>
    <part name="options" type="tns:OptionData"/>
  </message>
  <message name="reverseRequest">
    <part name="accountData" type="tns:AccountData"/>
    <part name="origTrxNumber" type="xsd:string"/>
    <part name="transactionData" type="tns:TransactionData"/>
    <part name="options" type="tns:OptionData"/>
  </message>
  <message name="authorizeRequest">
    <part name="accountData" type="tns:AccountData"/>
    <part name="paymentData" type="tns:PaymentData"/>
    <part name="transactionData" type="tns:TransactionData"/>
    <part name="options" type="tns:OptionData"/>
  </message>
  <message name="reAuthorizeRequest">
    <part name="accountData" type="tns:AccountData"/>
    <part name="origTrxNumber" type="xsd:string"/>
    <part name="transactionData" type="tns:TransactionData"/>
    <part name="options" type="tns:OptionData"/>
  </message>
  <message name="voiceAuthorizeCCRequest">
    <part name="accountData" type="tns:AccountData"/>
    <part name="paymentData" type="tns:PaymentData"/>
    <part name="voiceAuthcode" type="xsd:string"/>
    <part name="transactionData" type="tns:TransactionData"/>
    <part name="options" type="tns:OptionData"/>
  </message>
  <message name="paymentAuthenticationReturnRequest">
    <part name="threedsecureData" type="tns:ThreeDSecureData"/>
  </message>
  <message name="rePreAuthorizeRequest">
    <part name="accountData" type="tns:AccountData"/>
    <part name="origTrxNumber" type="xsd:string"/>
    <part name="transactionData" type="tns:TransactionData"/>
    <part name="options" type="tns:OptionData"/>
  </message>
  <message name="generalRefundRequest">
    <part name="accountData" type="tns:AccountData"/>
    <part name="paymentData" type="tns:PaymentData"/>
    <part name="transactionData" type="tns:TransactionData"/>
    <part name="options" type="tns:OptionData"/>
  </message>
  <message name="voiceGeneralRefundCCRequest">
    <part name="accountData" type="tns:AccountData"/>
    <part name="paymentData" type="tns:PaymentData"/>
    <part name="voiceAuthcode" type="xsd:string"/>
    <part name="transactionData" type="tns:TransactionData"/>
    <part name="options" type="tns:OptionData"/>
  </message>
  <message name="ipaymentResponse">
    <part name="ipaymentReturn" type="tns:PaymentReturn"/>
  </message>
  <message name="checkAddressRequest">
    <part name="accountData" type="tns:AccountData"/>
    <part name="addressData" type="tns:AddresscheckData"/>
    <part name="maxSuggestions" type="xsd:int"/>
    <part name="requestId" type="xsd:string"/>
  </message>
  <message name="addresscheckResponse">
    <part name="addresscheckReturn" type="tns:AddresscheckReturn"/>
  </message>
  <message name="checkEmailRequest">
    <part name="accountData" type="tns:AccountData"/>
    <part name="email" type="xsd:string"/>
    <part name="checkPort" type="xsd:boolean"/>
  </message>
  <message name="emailcheckResponse">
    <part name="emailcheckReturn" type="tns:EmailcheckReturn"/>
  </message>
  <message name="createSessionRequest">
    <part name="accountData" type="tns:AccountData"/>
    <part name="transactionData" type="tns:TransactionData"/>
    <part name="transactionType" type="tns:TransactionType"/>
    <part name="paymentType" type="tns:PaymentType"/>
    <part name="options" type="tns:OptionData"/>
    <part name="processorUrls" type="tns:ProcessorUrlData"/>
  </message>
  <message name="createSessionResponse">
    <part name="sessionId" type="xsd:string"/>
  </message>
  <message name="setDatastorageExpirydateRequest">
    <part name="accountData" type="tns:AccountData"/>
    <part name="expireStorageData" type="tns:ExpireStorageData"/>
  </message>
  <message name="setDatastorageExpirydateResponse">
    <part name="setDatastorageExpirydateReturn" type="xsd:boolean"/>
  </message>
  <message name="expireDatastorageRequest">
    <part name="accountData" type="tns:AccountData"/>
    <part name="datastorageId" type="xsd:int"/>
  </message>
  <message name="expireDatastorageResponse">
    <part name="expireDatastorageReturn" type="xsd:boolean"/>
  </message>
  <portType name="ipaymentPortType">
    <operation name="authorize">
      <input message="tns:authorizeRequest"/>
      <output message="tns:ipaymentResponse"/>
    </operation>
    <operation name="checksave">
      <input message="tns:checksaveRequest"/>
      <output message="tns:ipaymentResponse"/>
    </operation>
    <operation name="generalRefund">
      <input message="tns:generalRefundRequest"/>
      <output message="tns:ipaymentResponse"/>
    </operation>
    <operation name="basecheck">
      <input message="tns:basecheckRequest"/>
      <output message="tns:ipaymentResponse"/>
    </operation>
    <operation name="capture">
      <input message="tns:captureRequest"/>
      <output message="tns:ipaymentResponse"/>
    </operation>
    <operation name="preAuthorize">
      <input message="tns:preAuthorizeRequest"/>
      <output message="tns:ipaymentResponse"/>
    </operation>
    <operation name="reAuthorize">
      <input message="tns:reAuthorizeRequest"/>
      <output message="tns:ipaymentResponse"/>
    </operation>
    <operation name="rePreAuthorize">
      <input message="tns:rePreAuthorizeRequest"/>
      <output message="tns:ipaymentResponse"/>
    </operation>
    <operation name="reverse">
      <input message="tns:reverseRequest"/>
      <output message="tns:ipaymentResponse"/>
    </operation>
    <operation name="refund">
      <input message="tns:refundRequest"/>
      <output message="tns:ipaymentResponse"/>
    </operation>
    <operation name="paymentAuthenticationReturn">
      <input message="tns:paymentAuthenticationReturnRequest"/>
      <output message="tns:ipaymentResponse"/>
    </operation>
    <operation name="checkAddress">
      <input message="tns:checkAddressRequest"/>
      <output message="tns:addresscheckResponse"/>
    </operation>
    <operation name="checkEmail">
      <input message="tns:checkEmailRequest"/>
      <output message="tns:emailcheckResponse"/>
    </operation>
    <operation name="voiceAuthorizeCC">
      <input message="tns:voiceAuthorizeCCRequest"/>
      <output message="tns:ipaymentResponse"/>
    </operation>
    <operation name="voiceGeneralRefundCC">
      <input message="tns:voiceGeneralRefundCCRequest"/>
      <output message="tns:ipaymentResponse"/>
    </operation>
    <operation name="createSession">
      <input message="tns:createSessionRequest"/>
      <output message="tns:createSessionResponse"/>
    </operation>
    <operation name="setDatastorageExpirydate">
      <input message="tns:setDatastorageExpirydateRequest"/>
      <output message="tns:setDatastorageExpirydateResponse"/>
    </operation>
    <operation name="expireDatastorage">
      <input message="tns:expireDatastorageRequest"/>
      <output message="tns:expireDatastorageResponse"/>
    </operation>
  </portType>
  <binding name="ipaymentBinding" type="tns:ipaymentPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="authorize">
      <soap:operation soapAction="authorize"/>
      <input>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </input>
      <output>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </output>
    </operation>
    <operation name="checksave">
      <soap:operation soapAction="checksave"/>
      <input>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </input>
      <output>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </output>
    </operation>
    <operation name="generalRefund">
      <soap:operation soapAction="generalRefund"/>
      <input>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </input>
      <output>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </output>
    </operation>
    <operation name="basecheck">
      <soap:operation soapAction="basecheck"/>
      <input>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </input>
      <output>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </output>
    </operation>
    <operation name="capture">
      <soap:operation soapAction="capture"/>
      <input>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </input>
      <output>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </output>
    </operation>
    <operation name="preAuthorize">
      <soap:operation soapAction="preAuthorize"/>
      <input>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </input>
      <output>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </output>
    </operation>
    <operation name="reAuthorize">
      <soap:operation soapAction="reAuthorize"/>
      <input>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </input>
      <output>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </output>
    </operation>
    <operation name="rePreAuthorize">
      <soap:operation soapAction="rePreAuthorize"/>
      <input>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </input>
      <output>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </output>
    </operation>
    <operation name="reverse">
      <soap:operation soapAction="reverse"/>
      <input>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </input>
      <output>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </output>
    </operation>
    <operation name="refund">
      <soap:operation soapAction="refund"/>
      <input>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </input>
      <output>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </output>
    </operation>
    <operation name="paymentAuthenticationReturn">
      <soap:operation soapAction="paymentAuthenticationReturn"/>
      <input>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </input>
      <output>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </output>
    </operation>
    <operation name="checkAddress">
      <soap:operation soapAction="checkAddress"/>
      <input>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </input>
      <output>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </output>
    </operation>
    <operation name="checkEmail">
      <soap:operation soapAction="checkEmail"/>
      <input>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </input>
      <output>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </output>
    </operation>
    <operation name="voiceAuthorizeCC">
      <soap:operation soapAction="voiceAuthorizeCC"/>
      <input>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </input>
      <output>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </output>
    </operation>
    <operation name="voiceGeneralRefundCC">
      <soap:operation soapAction="voiceGeneralRefundCC"/>
      <input>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </input>
      <output>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </output>
    </operation>
    <operation name="createSession">
      <soap:operation soapAction="createSession"/>
      <input>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </input>
      <output>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </output>
    </operation>
    <operation name="setDatastorageExpirydate">
      <soap:operation soapAction="setDatastorageExpirydate"/>
      <input>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </input>
      <output>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </output>
    </operation>
    <operation name="expireDatastorage">
      <soap:operation soapAction="expireDatastorage"/>
      <input>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </input>
      <output>
        <soap:body use="literal" namespace="https://ipayment.de/service_v3/binding"/>
      </output>
    </operation>
  </binding>
  <service name="IpaymentWebserviceV3.0">
    <port name="ipayment" binding="tns:ipaymentBinding">
      <soap:address location="https://ipayment.de/service/3.0/"/>
    </port>
  </service>
</definitions>