distros/W/WebService-AngelXML-Auth/docs/angelxml-dtd.xml

<!ELEMENT ANGELXML (MESSAGE | QUESTION | TRANSFER | VOICEMAIL) >
<!ATTLIST ANGELXML
bargein (true | false) "true"
xmlns CDATA #IMPLIED
xmlns:xsd CDATA #IMPLIED
xmlns:xsi CDATA #IMPLIED
>
<!ELEMENT MESSAGE (COMMENT*, PLAY, (LINK* | ACTION | GOTO), ERROR_STRATEGY*) >
<!ELEMENT QUESTION (COMMENT*, PLAY, RESPONSE, ERROR_STRATEGY*) >
<!ELEMENT RESPONSE (KEYWORD | NUMBER | YES_NO | CREDITCARD | CCEXP | CURRENCY | DATE | TIME) >
<!ATTLIST RESPONSE
confirm (true | false) "false"
>
<!ELEMENT VOICEMAIL (COMMENT*, PLAY, (ACTION | GOTO)? , ERROR_STRATEGY*) >
<!ATTLIST VOICEMAIL
mailbox CDATA #REQUIRED
confirm (true | false) "false"
finalSilence CDATA #IMPLIED
>
<!ELEMENT TRANSFER (COMMENT*, PLAY, ERROR_STRATEGY*) >
<!ATTLIST TRANSFER
destination CDATA #REQUIRED
rings CDATA "4"
if_fail CDATA "hangup"
if_completed CDATA #REQUIRED
out_caller_id CDATA #IMPLIED
>
<!ELEMENT ERROR_STRATEGY (PROMPT+, (ACTION | GOTO)?)>
<!ATTLIST ERROR_STRATEGY
type (noinput | nomatch) #REQUIRED
reprompt (true | false) #IMPLIED
>
<!ELEMENT COMMENT (#PCDATA) >
<!ELEMENT PLAY (PROMPT+) >
<!ELEMENT PROMPT (#PCDATA) >
<!ATTLIST PROMPT type (text | audio | externalaudio) "text">
<!ELEMENT ACTION EMPTY>
<!ATTLIST ACTION
type (back | hangup) #REQUIRED
>
<!ELEMENT GOTO EMPTY>
<!ATTLIST GOTO
destination CDATA #REQUIRED
>
<!ELEMENT LINK EMPTY>
<!ATTLIST LINK
keyword CDATA #IMPLIED
dtmf CDATA #IMPLIED
returnValue CDATA #IMPLIED
destination CDATA #REQUIRED
>
<!ELEMENT KEYWORD (LINK+)>
<!ELEMENT CREDITCARD ((MASTERCARD | VISA | AMEX | DISCOVER | DINERSCLUB)+, VALID, INVALID)>
<!ELEMENT MASTERCARD EMPTY>
<!ELEMENT VISA EMPTY>
<!ELEMENT AMEX EMPTY>
<!ELEMENT DISCOVER EMPTY>
<!ELEMENT DINERSCLUB EMPTY>
<!ELEMENT CCEXP (VALID, INVALID)>
<!ELEMENT NUMBER EMPTY>
<!ATTLIST NUMBER
numberType (natural | variable | fixed | range) #IMPLIED
numberLength CDATA "5"
minNumberLength CDATA "1"
maxNumberLength CDATA "5"
destination CDATA #REQUIRED
>
<!ELEMENT YES_NO (YES, NO)>
<!ELEMENT YES EMPTY>
<!ATTLIST YES
destination CDATA #REQUIRED
>
<!ELEMENT NO EMPTY>
<!ATTLIST NO
destination CDATA #REQUIRED
>
<!ELEMENT VALID EMPTY>
<!ATTLIST VALID
destination CDATA #REQUIRED
>
<!ELEMENT INVALID EMPTY>
<!ATTLIST INVALID
destination CDATA #REQUIRED
>
<!ELEMENT CURRENCY EMPTY>
<!ATTLIST CURRENCY
destination CDATA #REQUIRED
>
<!ELEMENT DATE EMPTY>
<!ATTLIST DATE
destination CDATA #REQUIRED
>
<!ELEMENT TIME EMPTY>
<!ATTLIST TIME
destination CDATA #REQUIRED
>
