distros/T/Tags/t/dtd/test11.dtd

<!ELEMENT MAIN (CHILD1+)>
<!ATTLIST MAIN
	id ID #REQUIRED
>
<!ELEMENT CHILD1 %child;>
<!ATTLIST CHILD1
	id ID #REQUIRED
	par CDATA #IMPLIED
	par2 CDATA #IMPLIED
>
<!ENTITY % child "(#PCDATA|CHILD2)*">
<!ELEMENT CHILD2 (#PCDATA)>
<!ATTLIST CHILD2
	id ID #REQUIRED
	par CDATA #IMPLIED
	par2 CDATA #IMPLIED
>
