distros/A/Authen-NZRealMe/t/test-conf/metadata-icms.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions
        name="iCMS"
        targetNamespace="urn:nzl:govt:ict:stds:authn:deployment:igovt:gls:iCMS:1_0"
        xmlns:iCMS="urn:nzl:govt:ict:stds:authn:deployment:igovt:gls:iCMS:1_0"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:wsap="http://www.w3.org/2006/05/addressing/wsdl"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema
                targetNamespace="urn:nzl:govt:ict:stds:authn:deployment:igovt:gls:iCMS:1_0"
                xmlns:iCMS="urn:nzl:govt:ict:stds:authn:deployment:igovt:gls:iCMS:1_0"
                xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
                xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                xmlns:wsap="http://www.w3.org/2006/05/addressing/wsdl"
                xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import
                    namespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                    schemaLocation="http://ws.test.logon.fakeme.govt.nz/icms/Issue_v1_1?xsd=http://docs.oasis-open.org/ws-sx/ws-trust/200512"/>
                <xsd:element name="ICMSFault">
                    <xsd:complexType/>
                </xsd:element>
                <xsd:element name="AllowCreateFLT">
                    <xsd:complexType/>
                </xsd:element>
                <xsd:element name="Consent">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:anyURI">
                            <xsd:enumeration value="urn:oasis:names:tc:SAML:2.0:consent:current-explicit"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="TokenSubType">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:anyURI">
                            <xsd:enumeration value="urn:nzl:govt:ict:stds:authn:deployment:igovt:gls:iCMS:1_0:SAMLV2.0:Authenticated"/>
                            <xsd:enumeration value="urn:nzl:govt:ict:stds:authn:deployment:igovt:gls:iCMS:1_0:SAMLV2.0:Delayed"/>
                            <xsd:enumeration value="urn:nzl:govt:ict:stds:authn:deployment:igovt:gls:iCMS:1_0:SAMLV2.0:Seamless"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IssueTokenResponse">
        <wsdl:part element="wst:RequestSecurityTokenResponseCollection" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="IssueTokenRequest">
        <wsdl:part element="wst:RequestSecurityToken" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ValidateTokenResponse">
        <wsdl:part element="wst:RequestSecurityTokenResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ValidateTokenRequest">
        <wsdl:part element="wst:RequestSecurityToken" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ICMSFault">
        <wsdl:part element="iCMS:ICMSFault" name="ICMSFault"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Validate">
        <wsdl:operation name="ValidateToken">
            <wsdl:input message="iCMS:ValidateTokenRequest" wsam:Action="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Validate"></wsdl:input>
            <wsdl:output message="iCMS:ValidateTokenResponse" wsam:Action="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RSTR/ValidateFinal"></wsdl:output>
            <wsdl:fault message="iCMS:ICMSFault" name="ICMSFault"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="Issue">
        <wsdl:operation name="IssueToken">
            <wsdl:input message="iCMS:IssueTokenRequest" wsam:Action="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue"></wsdl:input>
            <wsdl:output message="iCMS:IssueTokenResponse" wsam:Action="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RSTRC/IssueFinal"></wsdl:output>
            <wsdl:fault message="iCMS:ICMSFault" name="ICMSFault"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Validate" type="iCMS:Validate">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsap:UsingAddressing/>
        <wsdl:operation name="ValidateToken">
            <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Validate"/>
            <wsdl:input>
                <wsp:PolicyReference URI="#iCMS_Message_Policy"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsp:PolicyReference URI="#iCMS_Message_Policy"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ICMSFault">
                <soap:fault name="ICMSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Issue" type="iCMS:Issue">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsap:UsingAddressing/>
        <wsdl:operation name="IssueToken">
            <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue"/>
            <wsdl:input>
                <wsp:PolicyReference URI="#iCMS_Message_Policy"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsp:PolicyReference URI="#iCMS_Message_Policy"/>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ICMSFault">
                <soap:fault name="ICMSFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="igovtContextMappingService">
      <wsdl:port binding="iCMS:Issue" name="Issue">
          <soap:address location="https://ws.test.logon.fakeme.govt.nz/icms/Issue_v1_1"/>
      </wsdl:port>
      <wsdl:port binding="iCMS:Validate" name="Validate">
          <soap:address location="https://ws.test.logon.fakeme.govt.nz/icms/Validate_v1_1"/>
      </wsdl:port>
    </wsdl:service>
    <wsp:Policy wsu:Id="iCMS_Message_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:AsymmetricBinding>
                    <wsp:Policy>
                        <sp:InitiatorToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10/>
                                        <sp:RequireThumbprintReference/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:InitiatorToken>
                        <sp:RecipientToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10/>
                                        <sp:RequireThumbprintReference/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:RecipientToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:OnlySignEntireHeadersAndBody/>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128Sha256/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                    </wsp:Policy>
                </sp:AsymmetricBinding>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefThumbprint/>
                    </wsp:Policy>
                </sp:Wss11>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
