distros/X/XSDSQL/t/xml_010/named_complex_type_with_sequence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">


	<xs:complexType name="ct0">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="el0" type="xs:string"/>
			<xs:element name="el1" type="xs:string"  minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="complexType">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="c" type="ct0" minOccurs="0" maxOccurs="1"/>
				<xs:element name="d" type="ct0" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

