distros/X/XSDSQL/t/xml_049/dtd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Types">
		<xs:complexType>
			<xs:sequence minOccurs="1" maxOccurs="1">
				<xs:element name="entity">
				  <xs:complexType>
					<xs:attribute name="location" type="xs:ENTITY"/>
				  </xs:complexType>
				</xs:element>				
			</xs:sequence>	
		</xs:complexType>
	</xs:element>
</xs:schema>
