distros/V/VMware-vCloud/etc/1.5/schemas/vcloud/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright © 2009 VMware, Inc. All rights reserved.

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Except as explicitly provided herein, no express or implied licenses, under any VMware patents, copyrights, trademarks, or any other intellectual property rights, are granted or waived by implication, exhaustion, estoppel, or otherwise, on modified versions of the Software.
-->
<xs:schema xmlns="http://www.vmware.com/vcloud/v1.5" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.vmware.com/vcloud/v1.5" version="1.0">

    <xs:annotation>
        <xs:documentation xml:lang="en">
            Defines types common to most or all of the vCloud
            request/response schemas.
        </xs:documentation>
    </xs:annotation>

    <xs:complexType name="VCloudExtensionType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Cloud API extension type with any elements and any attributes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>

        <xs:attribute name="required" type="xs:boolean" default="true" use="optional">
            <xs:annotation>
                <xs:documentation source="modifiable">always</xs:documentation>
                <xs:documentation xml:lang="en">
                    Determines whether server should fail if extension is not understood.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>

    <xs:complexType abstract="true" name="VCloudExtensibleType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                A base abstract type for all complex types that support extensions.
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="VCloudExtension" type="VCloudExtensionType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation source="modifiable">always</xs:documentation>
                    <xs:documentation xml:lang="en">
                        An optional extension element that can contain an
                        arbitrary number of elements and attributes.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>

        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>


    <xs:element name="Error" type="ErrorType"/>
    <xs:complexType name="ErrorType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                The standard error message type used in the vCloud REST API.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:attribute name="message" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            An one line, human-readable message describing the error that occurred.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="majorErrorCode" type="xs:int" use="required">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            The class of the error. Matches the HTTP status
                            code.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="minorErrorCode" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Specific API error code (for example - can indicate that vApp
                            power on failed by some reason)
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="vendorSpecificErrorCode" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            A vendor/implementation specific error code that point to specific
                            modules/parts of the code and can make problem diagnostics easier.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="stackTrace" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation source="since">1.0</xs:documentation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            The stack trace of the exception which when examined might make
                            problem diagnostics easier.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Link" type="LinkType"/>
    <xs:complexType name="LinkType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Extends reference type by adding relation attribute.
                Defines a hyper-link with a relationship, hyper-link reference,
                and an optional media type.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="ReferenceType">
                <xs:attribute name="rel" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation source="modifiable">always</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Defines the relationship of the link to the object
                            that contains it. A relationship can be the name of
                            an operation on the object, a reference to a
                            contained or containing object, or a reference to
                            an alternate representation of the object. The
                            relationship value implies the HTTP verb to use
                            when you use the link's href as a request URL.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ResourceType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                The base type for all objects in the vCloud model.
                Has an optional list of links and href and type attributes.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Link" type="LinkType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Optional link to an entity or operation associated
                                with this object.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="href" type="xs:anyURI" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">always</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Contains the URI to the entity.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="type" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">always</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Contains the type of the entity.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ParamsType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                A basic type used to specify parameters for operations.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Description" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Optional description.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="name" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">always</xs:documentation>
                        <xs:documentation xml:lang="en">
                            A name as parameter.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ReferenceType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                A reference to a resource. Contains an href attribute and
                optional name and type attributes.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:attribute name="href" type="xs:anyURI" use="required">
                    <xs:annotation>
                        <xs:documentation source="modifiable">always</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Contains the URI to the entity.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="id" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">always</xs:documentation>
                        <xs:documentation xml:lang="en">
                            The resource identifier, expressed in URN format.
                            The value of this attribute uniquely identifies
                            the resource, persists for the life of the resource,
                            and is never reused.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="type" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">always</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Contains the type of the the entity.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="name" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">always</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Contains the name of the the entity.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ResourceReferenceType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a reference to a resource.
                Reference that contains an href attribute, an optional name and
                type attributes, and a resource status attribute.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="ReferenceType">
                <xs:attribute name="status" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Status of a resource.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ContainerType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
               Container for query result sets.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ResourceType">
                <xs:attribute name="name" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Query name that generated this result set.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="page" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Page of the result set that this container holds.
                            The first page is page number 1.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="pageSize" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Page size, as a number of records or references.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="total" type="xs:long" use="optional">
                    <xs:annotation>
                       <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Total number of records or references in the
                            container.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CapacityType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a capacity of a given resource.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Units" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Units of capacity.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Allocated" type="xs:long" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Allocated capacity value.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Limit" type="xs:long" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Limit capacity value.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CapacityWithUsageType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a capacity and usage of a given resource.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="CapacityType">
                <xs:sequence>
                    <xs:element name="Used" type="xs:long" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Capacity usage value.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Overhead" type="xs:long" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Overhead value of capacity.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AccessSettingType">
        <xs:annotation xml:lang="en">
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Specifies who can access the resource.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Subject" type="ReferenceType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The user or group to whom these settings apply.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AccessLevel" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The access level for the subject. One of:
                                FullControl, Change, ReadOnly
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AccessSettingsType">
        <xs:annotation xml:lang="en">
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                A list of access settings for a resource.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="AccessSetting" type="AccessSettingType" minOccurs="1" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Access setting for a resource.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="ControlAccessParams" type="ControlAccessParamsType"/>
    <xs:complexType name="ControlAccessParamsType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Used to control access to resources.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="IsSharedToEveryone" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                If true, this means that the resource is shared with everyone
                                in the organization. Defaults to false. Sharing settings must
                                be manipulated through the organization.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>

                    <xs:element name="EveryoneAccessLevel" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                If IsSharedToEveryone is true, this element must be present and
                                determines the access level.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>

                    <xs:element name="AccessSettings" type="AccessSettingsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The access settings to be applied if
                                IsSharedToEveryone is false. Required on create
                                and modify if IsSharedToEveryone is false.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Owner" type="OwnerType"/>
    <xs:complexType name="OwnerType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents the owner of this entity.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="ResourceType">
                <xs:sequence>
                    <xs:element name="User" type="ReferenceType">
                        <xs:annotation>
                            <xs:documentation source="since">0.9</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Reference to the user who is the owner of this
                                entity.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ReferencesType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
               This is the container for returned elements in referenceView
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ContainerType">
                <xs:sequence>
                    <xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="References" type="ReferencesType" />
    <xs:element name="Reference" type="ReferenceType"/>

    <xs:complexType name="QueryListType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
               Container for the list of typed queries available to the
               requesting user.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ContainerType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="QueryList" type="QueryListType" />

	<xs:complexType name="MetadataEntryType">
		<xs:complexContent>
			<xs:extension base="ResourceType">
				<xs:sequence>
					<xs:element name="Key" type="xs:string" maxOccurs="1" minOccurs="1">
					</xs:element>
					<xs:element name="Value" type="xs:string" maxOccurs="1" minOccurs="1">
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <xs:complexType name="MetadataType">
		<xs:complexContent>
			<xs:extension base="ResourceType">
				<xs:sequence>
					<xs:element name="MetadataEntry" type="MetadataEntryType" maxOccurs="unbounded" minOccurs="0"></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="Metadata" type="MetadataType"></xs:element>

	<xs:complexType name="MetadataValueType">
		<xs:complexContent>
			<xs:extension base="ResourceType">
				<xs:sequence>
					<xs:element name="Value" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <xs:element name="MetadataValue" type="MetadataValueType"></xs:element>
</xs:schema>
