distros/V/VMware-vCloud/etc/1.5/schemas/vcloud/network.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright © 2009 VMware, Inc. All rights reserved.

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Except as explicitly provided herein, no express or implied licenses, under any VMware patents, copyrights, trademarks, or any other intellectual property rights, are granted or waived by implication, exhaustion, estoppel, or otherwise, on modified versions of the Software.
-->
<xs:schema xmlns="http://www.vmware.com/vcloud/v1.5" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.vmware.com/vcloud/v1.5" version="1.0">

    <xs:include schemaLocation="common.xsd"/>
    <xs:include schemaLocation="entity.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">
            Schema for the vCloud Network types.
        </xs:documentation>
    </xs:annotation>

    <xs:complexType abstract="true" name="NetworkType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a Network in the vCloud model.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="Configuration" type="NetworkConfigurationType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Network configuration.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OrgNetworkType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents an organization network in the vCloud model.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="NetworkType">
                <xs:sequence>
                    <xs:element name="NetworkPool" type="ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Network Pool from which this organization network is created.
                                Not present if it is bridged to an external network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AllowedExternalIpAddresses" type="IpAddressesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Optional set of IP addresses that this organization network is
                                limited to using for purposes of NAT.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="VAppNetwork" type="VAppNetworkType"/>
    <xs:complexType name="VAppNetworkType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a vApp network.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="NetworkType">
                <xs:attribute name="deployed" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation source="since">1.5</xs:documentation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            True if the network is deployed.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="NetworkService" type="NetworkServiceType">
        <xs:annotation>
            <xs:documentation>
               This is the root of the substitution group for network
               services. Replace it with any of DhcpService, NatService,
               IpsecVpnService, DhcpService, or StaticRoutingService.
           </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="NetworkServiceType">
        <xs:annotation>
            <xs:documentation>This is the root type of all NetworkServices</xs:documentation>
        </xs:annotation>
       <xs:complexContent>
                <xs:extension base="VCloudExtensibleType">
                    <xs:sequence>
                        <xs:element name="IsEnabled" type="xs:boolean" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation source="modifiable">always</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    Enable or disable the service using this flag
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
               </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="DhcpService" type="DhcpServiceType" substitutionGroup="NetworkService">
        <xs:annotation>
            <xs:documentation source="modifiable">always</xs:documentation>
            <xs:documentation xml:lang="en">
                DHCP service settings
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="FirewallService" type="FirewallServiceType" substitutionGroup="NetworkService">
        <xs:annotation>
            <xs:documentation source="modifiable">always</xs:documentation>
            <xs:documentation xml:lang="en">
                Firewall service settings
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="NatService" type="NatServiceType" substitutionGroup="NetworkService">
        <xs:annotation>
            <xs:documentation source="modifiable">always</xs:documentation>
            <xs:documentation xml:lang="en">
                NAT service settings
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="IpsecVpnService" type="IpsecVpnServiceType" substitutionGroup="NetworkService">
        <xs:annotation>
            <xs:documentation source="modifiable">always</xs:documentation>
            <xs:documentation xml:lang="en">
                Ipsec Vpn service settings
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="StaticRoutingService" type="StaticRoutingServiceType" substitutionGroup="NetworkService">
        <xs:annotation>
            <xs:documentation source="modifiable">always</xs:documentation>
            <xs:documentation xml:lang="en">
                Static Routing service settings
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="NetworkFeaturesType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Represents features of a network.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="NetworkService" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RouterInfoType">
        <xs:sequence>
            <xs:element name="ExternalIp" type="IpAddressType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="modifiable">none</xs:documentation>
                    <xs:documentation xml:lang="en">
                        Specifies the external IP of the router. Applicable for NAT Routed / Fenced networks only.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DhcpServiceType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Represents a DHCP network service.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="NetworkServiceType">
                <xs:sequence>
                    <xs:element name="DefaultLeaseTime" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Default lease in seconds for DHCP addresses.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MaxLeaseTime" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Max lease in seconds for DHCP addresses.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IpRange" type="IpRangeType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                IP range for DHCP addresses.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NatServiceType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Represents a NAT network service.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="NetworkServiceType">
                <xs:sequence>
                    <xs:element name="NatType" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                One of:
                                ipTranslation (use IP translation),
                                portForwarding (use port forwarding)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Policy" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                One of:
                                allowTraffic (Allow all traffic),
                                allowTrafficIn (Allow inbound traffic only)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NatRule" type="NatRuleType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A NAT rule.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NatRuleType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a NAT rule.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Description of NAT rule.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:choice>
                        <xs:element name="OneToOneBasicRule" type="NatOneToOneBasicRuleType">
                            <xs:annotation>
                                <xs:documentation source="modifiable">always</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    Maps one internal IP address to one external IP address.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="OneToOneVmRule" type="NatOneToOneVmRuleType">
                            <xs:annotation>
                                <xs:documentation source="modifiable">always</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    Maps one VM NIC to one external IP addresses.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="PortForwardingRule" type="NatPortForwardingRuleType">
                            <xs:annotation>
                                <xs:documentation source="modifiable">always</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    Port forwarding internal to external IP addresses.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="VmRule" type="NatVmRuleType">
                            <xs:annotation>
                                <xs:documentation source="modifiable">always</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    Port forwarding VM NIC to external IP addresses.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NatOneToOneBasicRuleType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents the NAT basic rule for one to one mapping of internal
                and external IP addresses from a network.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="MappingMode" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                One of:
                                automatic (map IP addresses automatically),
                                manual (map IP addresses manually using
                                ExternalIpAddress and InternalIpAddress)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ExternalIpAddress" type="IpAddressType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                External IP address to map.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="InternalIpAddress" type="IpAddressType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Internal IP address to map.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NatOneToOneVmRuleType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents the NAT rule for one to one mapping of VM NIC and
                external IP addresses from a network.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="MappingMode" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Mapping mode.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ExternalIpAddress" type="IpAddressType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                External IP address to map to VM.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VAppScopedVmId" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                VAppScopedVmId of the VM to which this rule
                                applies.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VmNicId" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                VM NIC ID to which this rule applies.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NatPortForwardingRuleType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents the NAT rule for port forwarding between internal
                IP/port and external IP/port.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="ExternalIpAddress" type="IpAddressType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                External IP address to forward to.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ExternalPort" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                External port to forward to.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="InternalIpAddress" type="IpAddressType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Internal IP address to forward to.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="InternalPort" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Internal port to forward to.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Protocol" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Protocol to forward. One of:
                                TCP (forward TCP packets),
                                UDP (forward UDP packets),
                                TCP_UDP (forward TCP and UDP packets).
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NatVmRuleType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents the NAT rule for port forwarding between VM NIC/port
                and external IP/port.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="ExternalIpAddress" type="IpAddressType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                External IP address to forward to.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ExternalPort" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                External port to forward to.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VAppScopedVmId" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                VAppScopedVmId of VM to which this rule
                                applies.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VmNicId" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                VM NIC ID to which this rule applies.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="InternalPort" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Internal port to forward.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Protocol" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Protocol to forward. One of:
                                TCP (forward TCP packets),
                                UDP (forward UDP packets),
                                TCP_UDP (forward TCP and UDP packets).
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FirewallServiceType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Represents a network firewall service.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="NetworkServiceType">
                <xs:sequence>
                    <xs:element name="DefaultAction" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Default action of the firewall. One of:
                                drop (Default. Drop packets that match the
                                rule.),
                                allow (Allow packets that match the rule to pass
                                through the firewall)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="LogDefaultAction" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Flag to enable logging for default action. Default value is false.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="FirewallRule" type="FirewallRuleType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A firewall rule.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

     <xs:complexType name="FirewallRuleType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a firewall rule.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="IsEnabled" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Used to enable or disable the firewall rule. Default value is true.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A description of the rule.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Policy" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                One of:
                                drop (drop packets that match the rule),
                                allow (allow packets that match the rule to pass
                                through the firewall)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Protocols" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Specify the protocols to which the rule should be applied.
                            </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:choice>
                                <xs:sequence>
                                    <xs:element maxOccurs="1" minOccurs="0" name="Tcp" type="xs:boolean">
                                        <xs:annotation>
                                            <xs:documentation source="modifiable">always</xs:documentation>
                                            <xs:documentation xml:lang="en">
                                                True if the rule applies to the
                                                TCP protocol.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element maxOccurs="1" minOccurs="0" name="Udp" type="xs:boolean">
                                        <xs:annotation>
                                            <xs:documentation source="modifiable">always</xs:documentation>
                                            <xs:documentation xml:lang="en">
                                                True if the rule applies to the
                                                UDP protocol.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                                <xs:element maxOccurs="1" minOccurs="0" name="Icmp" type="xs:boolean">
                                     <xs:annotation>
                                         <xs:documentation source="modifiable">always</xs:documentation>
                                         <xs:documentation xml:lang="en">
                                                True if the rule applies to the
                                                ICMP protocol.
                                         </xs:documentation>
                                     </xs:annotation>
                                </xs:element>
                                <xs:element maxOccurs="1" minOccurs="0" name="Any" type="xs:boolean">
                                     <xs:annotation>
                                         <xs:documentation source="modifiable">always</xs:documentation>
                                         <xs:documentation xml:lang="en">
                                                True if the rule applies to any
                                                protocol.
                                         </xs:documentation>
                                     </xs:annotation>
                                </xs:element>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Port" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The port to which this rule applies. A value of
                                -1 matches any port.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DestinationIp" type="FirewallIpAddressType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Destination IP address to which the rule
                                applies. A value of Any matches any IP address.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SourcePort" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Destination port to which this rule applies.
                                A value of -1 matches any port.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SourceIp" type="FirewallIpAddressType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Source IP address to which the rule applies.
                                A value of Any matches any IP address.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Direction" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Direction of traffic to which rule applies. One
                                of:
                                in (rule applies to incoming traffic. This is
                                the default value),
                                out (rule applies to outgoing traffic).
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="EnableLogging" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Used to enable or disable firewall rule logging. Default value is false.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="IpsecVpnServiceType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents an IPSec-VPN network service.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="NetworkServiceType">
                <xs:sequence>
                    <xs:element name="ExternalIpAddress" type="IpAddressType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                IP address of external enterface of the Edge.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PublicIpAddress" type="IpAddressType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Public IP address of the Edge.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IpsecVpnTunnel" type="IpsecVpnTunnelType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Details of an IPSec-VPN tunnel.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="IpsecVpnTunnelType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents details of an IPSec-VPN tunnel.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A name for the tunnel.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A description of the tunnel.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="IpsecVpnPeer" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Details about the peer network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PeerIpAddress" type="IpAddressType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                IP address of the peer Edge device.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PeerNetworkAddress" type="IpAddressType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Address of the peer network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PeerNetworkMask" type="IpAddressType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Netmask of the peer network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SharedSecret" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Shared secret used for authentication.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="EncryptionProtocol" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Encryption protocol to be used. One of:
                                AES, TRIPLEDES
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Mtu" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                MTU for the tunnel.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsEnabled" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Specifies if the IPSec-VPN Tunnel should be enabled.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsOperational" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Specifies if the IPSec-VPN Tunnel is operational.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ErrorDetails" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Details, in case the tunnel state is set to error.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="IpsecVpnPeer" type="IpsecVpnPeerType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                This is the root type for all Ipsec-VPN peers.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="IpsecVpnPeerType" abstract="true">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Gives more details of peer end point.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="IpsecVpnManagedPeerType" abstract="true">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Gives more details of peer end point.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="IpsecVpnPeerType">
                <xs:sequence>
                    <xs:element name="Id" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                ID of peer network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Name of the peer network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="IpsecVpnLocalPeer" type="IpsecVpnLocalPeerType" substitutionGroup="IpsecVpnPeer"/>

    <xs:complexType name="IpsecVpnLocalPeerType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Gives more details of local peer end point.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="IpsecVpnManagedPeerType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="IpsecVpnRemotePeer" type="IpsecVpnRemotePeerType" substitutionGroup="IpsecVpnPeer"/>

    <xs:complexType name="IpsecVpnRemotePeerType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Gives more details of remote peer end point.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="IpsecVpnManagedPeerType">
                <xs:sequence>
                    <xs:element name="VcdUrl" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                REST API URL of the peer cloud.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VcdOrganization" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Organization which contains the peer network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VcdUsername" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Username to be used to log in to peer cloud.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="IpsecVpnUnmanagedPeerType" abstract="true">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Gives more details of peer end point not managed by vCloud Director.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="IpsecVpnPeerType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="IpsecVpnThirdPartyPeer" type="IpsecVpnThirdPartyPeerType" substitutionGroup="IpsecVpnPeer"/>

    <xs:complexType name="IpsecVpnThirdPartyPeerType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Gives more details of third party peer end point.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="IpsecVpnUnmanagedPeerType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="StaticRoutingServiceType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents Static Routing network service.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="NetworkServiceType">
                <xs:sequence>
                    <xs:element name="StaticRoute" type="StaticRouteType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Details of each Static Route.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="StaticRouteType">
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Name for the static route.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Network" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Network specification in CIDR.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NextHopIp" type="IpAddressType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                IP Address of Next Hop router/gateway.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Interface" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Interface to use for static routing. Internal and External are the supported values.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NetworkConfigurationType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                The configurations applied to a network. This is an
                abstract base type. The concrete types include those for vApp and
                Organization wide networks.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="IpScope" type="IpScopeType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Includes IP level configuration items such as gateway, dns, subnet,
                                IP address pool to be used for allocation. Note that the pool
                                of IP addresses needs to fall within the subnet/mask of the IpScope.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ParentNetwork" type="ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Contains reference to parent network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="FenceMode" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Isolation type of the network. If ParentNetwork
                                is specified, this property controls
                                connectivity to the parent. One of:
                                bridged (connected directly to the
                                ParentNetwork),
                                isolated (not connected to any other network),
                                natRouted (connected to the ParentNetwork via a
                                NAT service)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RetainNetInfoAcrossDeployments" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Specifies whether the network resources such as IP/MAC of router
                                will be retained across deployments. Default is false.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Features" type="NetworkFeaturesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Network features like DHCP, firewall and NAT rules.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SyslogServerSettings" type="SyslogServerSettingsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Syslog server settings for the network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RouterInfo" type="RouterInfoType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Specifies router information.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="IpAddressType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                A valid IPv4 address or "Any".
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FirewallIpAddressType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
               A valid IPv4 address or "Any".
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="IpAddressesType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                A list of IP addresses.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="IpAddress" type="IpAddressType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                An IP address.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="IpRangeType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a range of IP addresses, start and end inclusive.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="StartAddress" type="IpAddressType">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Start address of the IP range.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="EndAddress" type="IpAddressType">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                End address of the IP range.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="IpRangesType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a list of IP ranges.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="IpRange" type="IpRangeType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                IP range.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="IpScopeType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Specify network settings like gateway, network mask, DNS servers, IP ranges, etc.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="IsInherited" type="xs:boolean" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if the IP scope is inherit from parent network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Gateway" type="IpAddressType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Gateway of the network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Netmask" type="IpAddressType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Network mask.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Dns1" type="IpAddressType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Primary DNS server.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Dns2" type="IpAddressType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Secondary DNS server.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DnsSuffix" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                DNS suffix.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IpRanges" type="IpRangesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                IP ranges used for static pool allocation in the network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AllocatedIpAddresses" type="IpAddressesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Read-only list of allocated IP addresses in the network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
             </xs:extension>
        </xs:complexContent>
    </xs:complexType>

     <xs:complexType name="SyslogServerSettingsType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Syslog server settings.
                If logging is configured for firewall rules, the logs will be directed to these syslog servers.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SyslogServerIp1" type="IpAddressType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="modifiable">always</xs:documentation>
                    <xs:documentation xml:lang="en">
                        Primary syslog server.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SyslogServerIp2" type="IpAddressType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation source="modifiable">always</xs:documentation>
                    <xs:documentation xml:lang="en">
                        Secondary syslog server.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
