distros/V/VMware-vCloud/etc/1.5/schemas/vcloud/task.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright © 2009 VMware, Inc. All rights reserved.

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Except as explicitly provided herein, no express or implied licenses, under any VMware patents, copyrights, trademarks, or any other intellectual property rights, are granted or waived by implication, exhaustion, estoppel, or otherwise, on modified versions of the Software.
-->
<xs:schema xmlns="http://www.vmware.com/vcloud/v1.5" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.vmware.com/vcloud/v1.5" version="1.0">

    <xs:include schemaLocation="entity.xsd"/>
    <xs:include schemaLocation="common.xsd"/>
    <xs:annotation>
        <xs:documentation xml:lang="en">
            Schema for the vCloud task object.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="Task" type="TaskType"/>
    <xs:complexType name="TaskType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents an asynchronous or long-running task in the vCloud environment.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="Owner" type="ReferenceType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Reference to the owner of the task.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Error" type="ErrorType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Represents an error information if the task failed.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="User" type="ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation>
                                The user who started the task.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Organization" type="ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation>
                                The organization that started the task.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Progress" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The progress of a long running asynchronous task. The value is between 0 - 100.
                                Not all tasks have progress, the value is not present for task which progress is not available.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Params" type="xs:anyType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.5</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The parameters with which this task has been run.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="status" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            The execution status of the task. One of:
                            queued (The task has been queued for execution.),
                            preRunning (The task is awaiting preprocessing or,
                            if it is a blocking task, administrative action.),
                            running (The task is runnning.),
                            success (The task completed with a status of
                            success.),
                            error (The task encountered an error while
                            running.),
                            canceled (The task was canceled by the owner or an
                            administrator.),
                            aborted (The task was aborted by an administrative
                            action.)
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="operation" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            The display name of the operation that is tracked
                            by this task.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="operationName" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            The name of the operation that is tracked by this task.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="startTime" type="xs:dateTime" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            The date and time the system started executing the task. May
                            not be present if the task hasn't been executed yet.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="endTime" type="xs:dateTime" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            The date and time that processing of the task was completed.
                            May not be present if the task is still being executed.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="expiryTime" type="xs:dateTime" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            The date and time at which the task resource will be destroyed
                            and no longer available for retrieval. May not be present if
                            the task has not been executed or is still being executed.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TaskOperationListType">
        <xs:annotation>
             <xs:documentation xml:lang="en">
                 List of operation names.
             </xs:documentation>
             <xs:documentation source="since">1.5</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ResourceType">
                <xs:sequence>
                    <xs:element name="Operation" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                       <xs:annotation>
                          <xs:documentation source="since">1.5</xs:documentation>
                          <xs:documentation>
                             An operation that will be enabled as a blocking
                             task. See the vCloud API Programming Guide for
                             the operation names.
                          </xs:documentation>
                       </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
