distros/V/VMware-vCloud/etc/1.5/schemas/vcloud/vdc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright © 2009 VMware, Inc. All rights reserved.

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Except as explicitly provided herein, no express or implied licenses, under any VMware patents, copyrights, trademarks, or any other intellectual property rights, are granted or waived by implication, exhaustion, estoppel, or otherwise, on modified versions of the Software.
-->
<xs:schema xmlns="http://www.vmware.com/vcloud/v1.5" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.vmware.com/vcloud/v1.5" version="1.0">

    <xs:include schemaLocation="common.xsd"/>
    <xs:include schemaLocation="entity.xsd"/>
    <xs:include schemaLocation="network.xsd"/>
    <xs:include schemaLocation="resourceEntity.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">
            Schema for the vCloud vDC type.
        </xs:documentation>
    </xs:annotation>

    <xs:complexType name="ResourceEntitiesType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a list of references to resource entities.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="ResourceEntity" type="ResourceReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Reference to a resource entity.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AvailableNetworksType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a list of references to available networks.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Network" type="ReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Reference to a network.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VdcsType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a list of references to virtual data centers.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Vdc" type="ReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Reference to a virtual data center.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Vdc" type="VdcType"/>
    <xs:complexType name="VdcType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a virtual data center (vDC).
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="AllocationModel" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The allocation model used by this vDC. One of:
                                AllocationVApp (Pay as you go. Resources are
                                committed to a vDC only when vApps are created
                                in it. When you use this allocation model, any
                                Limit values you specify for Memory and CPU are
                                ignored on create and returned as 0 on
                                retrieve.),
                                AllocationPool (Only a percentage of the
                                resources you allocate are committed to the
                                organization vDC.),
                                ReservationPool (All the resources you allocate
                                are committed as a pool to the organization
                                vDC. vApps in vDCs that support this allocation
                                model can specify values for resource and
                                limit.)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="StorageCapacity" type="CapacityWithUsageType" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The storage capacity allocated to this vDC.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ComputeCapacity" type="ComputeCapacityType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The compute capacity allocated to this vDC.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ResourceEntities" type="ResourceEntitiesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Read only list of resource entities in this vDC.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AvailableNetworks" type="AvailableNetworksType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Read only list of available networks accessible from this vDC.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Capabilities" type="CapabilitiesType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Read only list of supported VM hardware capabilities for this vDC.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NicQuota" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Maximum number of virtual NICs allowed in this vDC. Defaults
                                to 0, which specifies an unlimited number.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NetworkQuota" type="xs:int" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Maximum number of network objects that can be deployed in this
                                vDC. Defaults to 0, which specifies an unlimited number.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VmQuota" type="xs:int" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The quota of VMs that can be created in this vDC. Includes VMs
                                in both vApps and vApp templates, deployed, or otherwise. Defaults
                                to 0, which specifies an unlimited number.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsEnabled" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Flag to indicates if this vDC is enabled for use or not, default value is true.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="status" type="xs:int" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Creation status of vDC could be:
                            READY(1) if it is ready for use
                            NOT_READY(0) if it is in process of creation
                            FAILED_CREATION(-1) in case of creation error
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ComputeCapacityType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a compute capacity with units.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Cpu" type="CapacityWithUsageType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                CPU capacity usage.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Memory" type="CapacityWithUsageType" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Memory capacity usage.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CapabilitiesType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Collection of supported hardware capabilities.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="SupportedHardwareVersions" type="SupportedHardwareVersionsType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Read only list of supported VM hardware versions for this vDC.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SupportedHardwareVersionsType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a list of supported VM hardware versions.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="SupportedHardwareVersion" type="SupportedHardwareVersionType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Supported hardware version.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="SupportedHardwareVersionType">
        <xs:annotation>
            <xs:documentation source="since">1.5</xs:documentation>
            <xs:documentation xml:lang="en">
                Supported hardware version.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"></xs:restriction>
    </xs:simpleType>
</xs:schema>
