distros/X/XSDSQL/t/xml_043/redefine_simpletype.xsd

<?xml version="1.0"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
 	targetNamespace="http://www.camera.org" 
	xmlns="http://www.camera.org"
>
<!-- ROOT_SCHEMA -->


	<xs:redefine schemaLocation="schema1.xsd"> 
		<xs:simpleType name="DressSizeType">
		  <xs:restriction base="DressSizeType">
			<xs:minInclusive value="2"/> <!-- substitute minInclusive but maxInclusive is unchanged -->
		  </xs:restriction>
		</xs:simpleType>
	</xs:redefine> <!-- the element size is also included in schema --> 

	<xs:element name="newSize" type="DressSizeType"/>
	<xs:element name="size1" type="xs:integer"/>

</xs:schema>
