distros/W/WWW-Correios-SIGEP/share/sandbox/scol.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.scol.correios.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.scol.correios.com.br/" name="WebServiceScol">
<types>
<xs:schema xmlns:tns="http://webservice.scol.correios.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.scol.correios.com.br/">
<xs:element name="acompanharPedido" type="tns:acompanharPedido"/>
<xs:element name="acompanharPedidoResponse" type="tns:acompanharPedidoResponse"/>
<xs:element name="calcularDigitoVerificador" type="tns:calcularDigitoVerificador"/>
<xs:element name="calcularDigitoVerificadorResponse" type="tns:calcularDigitoVerificadorResponse"/>
<xs:element name="cancelarPedido" type="tns:cancelarPedido"/>
<xs:element name="cancelarPedidoResponse" type="tns:cancelarPedidoResponse"/>
<xs:element name="solicitarPostagem" type="tns:solicitarPostagem"/>
<xs:element name="solicitarPostagemResponse" type="tns:solicitarPostagemResponse"/>
<xs:element name="solicitarPostagemReversa" type="tns:solicitarPostagemReversa"/>
<xs:element name="solicitarPostagemReversaResponse" type="tns:solicitarPostagemReversaResponse"/>
<xs:element name="solicitarPostagemSimultanea" type="tns:solicitarPostagemSimultanea"/>
<xs:element name="solicitarPostagemSimultaneaResponse" type="tns:solicitarPostagemSimultaneaResponse"/>
<xs:element name="solicitarRange" type="tns:solicitarRange"/>
<xs:element name="solicitarRangeResponse" type="tns:solicitarRangeResponse"/>
<xs:element name="validarPostagemReversa" type="tns:validarPostagemReversa"/>
<xs:element name="validarPostagemReversaResponse" type="tns:validarPostagemReversaResponse"/>
<xs:element name="validarPostagemSimultanea" type="tns:validarPostagemSimultanea"/>
<xs:element name="validarPostagemSimultaneaResponse" type="tns:validarPostagemSimultaneaResponse"/>
<xs:complexType name="solicitarRange">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="senha" type="xs:string" minOccurs="0"/>
<xs:element name="codAdministrativo" type="xs:int" minOccurs="0"/>
<xs:element name="contrato" type="xs:long" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
<xs:element name="servico" type="xs:string" minOccurs="0"/>
<xs:element name="quantidade" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="solicitarRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:retornoFaixaNumericaTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="retornoFaixaNumericaTO">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
<xs:element name="hora" type="xs:string" minOccurs="0"/>
<xs:element name="cod_erro" type="xs:string" minOccurs="0"/>
<xs:element name="msg_erro" type="xs:string" minOccurs="0"/>
<xs:element name="faixa_inicial" type="xs:int" minOccurs="0"/>
<xs:element name="faixa_final" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="calcularDigitoVerificador">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="senha" type="xs:string" minOccurs="0"/>
<xs:element name="codAdministrativo" type="xs:int" minOccurs="0"/>
<xs:element name="numero" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="calcularDigitoVerificadorResponse">
<xs:sequence>
<xs:element name="return" type="tns:retornoDigitoVerificadorTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="retornoDigitoVerificadorTO">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
<xs:element name="hora" type="xs:string" minOccurs="0"/>
<xs:element name="cod_erro" type="xs:string" minOccurs="0"/>
<xs:element name="msg_erro" type="xs:string" minOccurs="0"/>
<xs:element name="digito" type="xs:int" minOccurs="0"/>
<xs:element name="numero" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="validarPostagemReversa">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="senha" type="xs:string" minOccurs="0"/>
<xs:element name="codAdministrativo" type="xs:int" minOccurs="0"/>
<xs:element name="codigo_servico" type="xs:int" minOccurs="0"/>
<xs:element name="cep_destinatario" type="xs:string" minOccurs="0"/>
<xs:element name="coleta" type="tns:coletaReversaTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="coletaReversaTO">
<xs:complexContent>
<xs:extension base="tns:coletaTO">
<xs:sequence>
<xs:element name="numero" type="xs:int" minOccurs="0"/>
<xs:element name="ag" type="xs:string" minOccurs="0"/>
<xs:element name="cartao" type="xs:long" minOccurs="0"/>
<xs:element name="servico_adicional" type="xs:string" minOccurs="0"/>
<xs:element name="ar" type="xs:int" minOccurs="0"/>
<xs:element name="obj_col" type="tns:objetoTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="coletaTO">
<xs:sequence>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
<xs:element name="id_cliente" type="xs:string" minOccurs="0"/>
<xs:element name="valor_declarado" type="xs:string" minOccurs="0"/>
<xs:element name="descricao" type="xs:string" minOccurs="0"/>
<xs:element name="cklist" type="xs:string" minOccurs="0"/>
<xs:element name="remetente" type="tns:remetenteTO" minOccurs="0"/>
<xs:element name="produto" type="tns:produtoTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="objetoTO">
<xs:sequence>
<xs:element name="item" type="xs:string" minOccurs="0"/>
<xs:element name="desc" type="xs:string" minOccurs="0"/>
<xs:element name="entrega" type="xs:string" minOccurs="0"/>
<xs:element name="num" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="remetenteTO">
<xs:complexContent>
<xs:extension base="tns:pessoaTO">
<xs:sequence>
<xs:element name="identificacao" type="xs:string" minOccurs="0"/>
<xs:element name="ddd_celular" type="xs:string" minOccurs="0"/>
<xs:element name="celular" type="xs:string" minOccurs="0"/>
<xs:element name="sms" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="pessoaTO">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="logradouro" type="xs:string" minOccurs="0"/>
<xs:element name="numero" type="xs:string" minOccurs="0"/>
<xs:element name="complemento" type="xs:string" minOccurs="0"/>
<xs:element name="bairro" type="xs:string" minOccurs="0"/>
<xs:element name="referencia" type="xs:string" minOccurs="0"/>
<xs:element name="cidade" type="xs:string" minOccurs="0"/>
<xs:element name="uf" type="xs:string" minOccurs="0"/>
<xs:element name="cep" type="xs:string" minOccurs="0"/>
<xs:element name="ddd" type="xs:string" minOccurs="0"/>
<xs:element name="telefone" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="produtoTO">
<xs:sequence>
<xs:element name="codigo" type="xs:long" minOccurs="0"/>
<xs:element name="tipo" type="xs:long" minOccurs="0"/>
<xs:element name="qtd" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="validarPostagemReversaResponse">
<xs:sequence>
<xs:element name="return" type="tns:retornoValidacaoTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="retornoValidacaoTO">
<xs:sequence>
<xs:element name="cod_erro" type="xs:long" minOccurs="0"/>
<xs:element name="msg_erro" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="validarPostagemSimultanea">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="senha" type="xs:string" minOccurs="0"/>
<xs:element name="codAdministrativo" type="xs:int" minOccurs="0"/>
<xs:element name="codigo_servico" type="xs:int" minOccurs="0"/>
<xs:element name="cep_destinatario" type="xs:string" minOccurs="0"/>
<xs:element name="coleta" type="tns:coletaSimultaneaTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="coletaSimultaneaTO">
<xs:complexContent>
<xs:extension base="tns:coletaTO">
<xs:sequence>
<xs:element name="obs" type="xs:string" minOccurs="0"/>
<xs:element name="obj" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="validarPostagemSimultaneaResponse">
<xs:sequence>
<xs:element name="return" type="tns:retornoValidacaoTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="solicitarPostagemSimultanea">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="senha" type="xs:string" minOccurs="0"/>
<xs:element name="codAdministrativo" type="xs:int" minOccurs="0"/>
<xs:element name="contrato" type="xs:long" minOccurs="0"/>
<xs:element name="codigo_servico" type="xs:int" minOccurs="0"/>
<xs:element name="cartao" type="xs:long" minOccurs="0"/>
<xs:element name="destinatario" type="tns:pessoaTO" minOccurs="0"/>
<xs:element name="coletas_solicitadas" type="tns:coletaSimultaneaTO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="solicitarPostagemSimultaneaResponse">
<xs:sequence>
<xs:element name="return" type="tns:retornoPostagemTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="retornoPostagemTO">
<xs:sequence>
<xs:element name="status_processamento" type="xs:string" minOccurs="0"/>
<xs:element name="data_processamento" type="xs:string" minOccurs="0"/>
<xs:element name="hora_processamento" type="xs:string" minOccurs="0"/>
<xs:element name="cod_erro" type="xs:string" minOccurs="0"/>
<xs:element name="msg_erro" type="xs:string" minOccurs="0"/>
<xs:element name="resultado_solicitacao" type="tns:resultadoSolicitacaoTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="resultadoSolicitacaoTO">
<xs:sequence>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
<xs:element name="id_cliente" type="xs:string" minOccurs="0"/>
<xs:element name="numero_coleta" type="xs:string" minOccurs="0"/>
<xs:element name="numero_etiqueta" type="xs:string" minOccurs="0"/>
<xs:element name="id_obj" type="xs:string" minOccurs="0"/>
<xs:element name="status_objeto" type="xs:string" minOccurs="0"/>
<xs:element name="prazo" type="xs:string" minOccurs="0"/>
<xs:element name="data_solicitacao" type="xs:string" minOccurs="0"/>
<xs:element name="hora_solicitacao" type="xs:string" minOccurs="0"/>
<xs:element name="codigo_erro" type="xs:long"/>
<xs:element name="descricao_erro" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="solicitarPostagemReversa">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="senha" type="xs:string" minOccurs="0"/>
<xs:element name="codAdministrativo" type="xs:int" minOccurs="0"/>
<xs:element name="contrato" type="xs:long" minOccurs="0"/>
<xs:element name="codigo_servico" type="xs:int" minOccurs="0"/>
<xs:element name="cartao" type="xs:long" minOccurs="0"/>
<xs:element name="destinatario" type="tns:pessoaTO" minOccurs="0"/>
<xs:element name="coletas_solicitadas" type="tns:coletaReversaTO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="solicitarPostagemReversaResponse">
<xs:sequence>
<xs:element name="return" type="tns:retornoPostagemTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="solicitarPostagem">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="senha" type="xs:string" minOccurs="0"/>
<xs:element name="codAdministrativo" type="xs:int" minOccurs="0"/>
<xs:element name="xml" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="solicitarPostagemResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="acompanharPedido">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="senha" type="xs:string" minOccurs="0"/>
<xs:element name="codAdministrativo" type="xs:int" minOccurs="0"/>
<xs:element name="tipoBusca" type="xs:string" minOccurs="0"/>
<xs:element name="tipoSolicitacao" type="xs:string" minOccurs="0"/>
<xs:element name="numeroPedido" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="acompanharPedidoResponse">
<xs:sequence>
<xs:element name="return" type="tns:retornoAcompanhamentoTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="retornoAcompanhamentoTO">
<xs:sequence>
<xs:element name="codigo_administrativo" type="xs:string" minOccurs="0"/>
<xs:element name="tipo_solicitacao" type="xs:string" minOccurs="0"/>
<xs:element name="coleta" type="tns:coletasSolicitadasTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="data" type="xs:string" minOccurs="0"/>
<xs:element name="hora" type="xs:string" minOccurs="0"/>
<xs:element name="cod_erro" type="xs:string" minOccurs="0"/>
<xs:element name="msg_erro" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="coletasSolicitadasTO">
<xs:sequence>
<xs:element name="numero_pedido" type="xs:int" minOccurs="0"/>
<xs:element name="controle_cliente" type="xs:string" minOccurs="0"/>
<xs:element name="historico" type="tns:historicoColetaTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="objeto" type="tns:objetoPostalTO" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="historicoColetaTO">
<xs:sequence>
<xs:element name="status" type="xs:int" minOccurs="0"/>
<xs:element name="descricao_status" type="xs:string" minOccurs="0"/>
<xs:element name="data_atualizacao" type="xs:string" minOccurs="0"/>
<xs:element name="hora_atualizacao" type="xs:string" minOccurs="0"/>
<xs:element name="observacao" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="objetoPostalTO">
<xs:sequence>
<xs:element name="numero_etiqueta" type="xs:string" minOccurs="0"/>
<xs:element name="controle_objeto_cliente" type="xs:string" minOccurs="0"/>
<xs:element name="ultimo_status" type="xs:string" minOccurs="0"/>
<xs:element name="descricao_status" type="xs:string" minOccurs="0"/>
<xs:element name="data_ultima_atualizacao" type="xs:string" minOccurs="0"/>
<xs:element name="hora_ultima_atualizacao" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cancelarPedido">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="senha" type="xs:string" minOccurs="0"/>
<xs:element name="codAdministrativo" type="xs:int" minOccurs="0"/>
<xs:element name="numeroPedido" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cancelarPedidoResponse">
<xs:sequence>
<xs:element name="return" type="tns:retornoCancelamentoTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="retornoCancelamentoTO">
<xs:sequence>
<xs:element name="codigo_administrativo" type="xs:string" minOccurs="0"/>
<xs:element name="objeto_postal" type="tns:objetoSimplificadoTO" minOccurs="0"/>
<xs:element name="data" type="xs:string" minOccurs="0"/>
<xs:element name="hora" type="xs:string" minOccurs="0"/>
<xs:element name="cod_erro" type="xs:string" minOccurs="0"/>
<xs:element name="msg_erro" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="objetoSimplificadoTO">
<xs:sequence>
<xs:element name="numero_pedido" type="xs:int" minOccurs="0"/>
<xs:element name="status_pedido" type="xs:string" minOccurs="0"/>
<xs:element name="datahora_cancelamento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</types>
<message name="solicitarPostagemSimultanea">
<part name="parameters" element="tns:solicitarPostagemSimultanea"/>
</message>
<message name="solicitarPostagemSimultaneaResponse">
<part name="parameters" element="tns:solicitarPostagemSimultaneaResponse"/>
</message>
<message name="acompanharPedido">
<part name="parameters" element="tns:acompanharPedido"/>
</message>
<message name="acompanharPedidoResponse">
<part name="parameters" element="tns:acompanharPedidoResponse"/>
</message>
<message name="solicitarRange">
<part name="parameters" element="tns:solicitarRange"/>
</message>
<message name="solicitarRangeResponse">
<part name="parameters" element="tns:solicitarRangeResponse"/>
</message>
<message name="solicitarPostagem">
<part name="parameters" element="tns:solicitarPostagem"/>
</message>
<message name="solicitarPostagemResponse">
<part name="parameters" element="tns:solicitarPostagemResponse"/>
</message>
<message name="validarPostagemReversa">
<part name="parameters" element="tns:validarPostagemReversa"/>
</message>
<message name="validarPostagemReversaResponse">
<part name="parameters" element="tns:validarPostagemReversaResponse"/>
</message>
<message name="validarPostagemSimultanea">
<part name="parameters" element="tns:validarPostagemSimultanea"/>
</message>
<message name="validarPostagemSimultaneaResponse">
<part name="parameters" element="tns:validarPostagemSimultaneaResponse"/>
</message>
<message name="cancelarPedido">
<part name="parameters" element="tns:cancelarPedido"/>
</message>
<message name="cancelarPedidoResponse">
<part name="parameters" element="tns:cancelarPedidoResponse"/>
</message>
<message name="calcularDigitoVerificador">
<part name="parameters" element="tns:calcularDigitoVerificador"/>
</message>
<message name="calcularDigitoVerificadorResponse">
<part name="parameters" element="tns:calcularDigitoVerificadorResponse"/>
</message>
<message name="solicitarPostagemReversa">
<part name="parameters" element="tns:solicitarPostagemReversa"/>
</message>
<message name="solicitarPostagemReversaResponse">
<part name="parameters" element="tns:solicitarPostagemReversaResponse"/>
</message>
<portType name="WebServiceScol">
<operation name="solicitarPostagemSimultanea">
<input wsam:Action="http://webservice.scol.correios.com.br/WebServiceScol/solicitarPostagemSimultaneaRequest" message="tns:solicitarPostagemSimultanea"/>
<output wsam:Action="http://webservice.scol.correios.com.br/WebServiceScol/solicitarPostagemSimultaneaResponse" message="tns:solicitarPostagemSimultaneaResponse"/>
</operation>
<operation name="acompanharPedido">
<input wsam:Action="http://webservice.scol.correios.com.br/WebServiceScol/acompanharPedidoRequest" message="tns:acompanharPedido"/>
<output wsam:Action="http://webservice.scol.correios.com.br/WebServiceScol/acompanharPedidoResponse" message="tns:acompanharPedidoResponse"/>
</operation>
<operation name="solicitarRange">
<input wsam:Action="http://webservice.scol.correios.com.br/WebServiceScol/solicitarRangeRequest" message="tns:solicitarRange"/>
<output wsam:Action="http://webservice.scol.correios.com.br/WebServiceScol/solicitarRangeResponse" message="tns:solicitarRangeResponse"/>
</operation>
<operation name="solicitarPostagem">
<input wsam:Action="http://webservice.scol.correios.com.br/WebServiceScol/solicitarPostagemRequest" message="tns:solicitarPostagem"/>
<output wsam:Action="http://webservice.scol.correios.com.br/WebServiceScol/solicitarPostagemResponse" message="tns:solicitarPostagemResponse"/>
</operation>
<operation name="validarPostagemReversa">
<input wsam:Action="http://webservice.scol.correios.com.br/WebServiceScol/validarPostagemReversaRequest" message="tns:validarPostagemReversa"/>
<output wsam:Action="http://webservice.scol.correios.com.br/WebServiceScol/validarPostagemReversaResponse" message="tns:validarPostagemReversaResponse"/>
</operation>
<operation name="validarPostagemSimultanea">
<input wsam:Action="http://webservice.scol.correios.com.br/WebServiceScol/validarPostagemSimultaneaRequest" message="tns:validarPostagemSimultanea"/>
<output wsam:Action="http://webservice.scol.correios.com.br/WebServiceScol/validarPostagemSimultaneaResponse" message="tns:validarPostagemSimultaneaResponse"/>
</operation>
<operation name="cancelarPedido">
<input wsam:Action="http://webservice.scol.correios.com.br/WebServiceScol/cancelarPedidoRequest" message="tns:cancelarPedido"/>
<output wsam:Action="http://webservice.scol.correios.com.br/WebServiceScol/cancelarPedidoResponse" message="tns:cancelarPedidoResponse"/>
</operation>
<operation name="calcularDigitoVerificador">
<input wsam:Action="http://webservice.scol.correios.com.br/WebServiceScol/calcularDigitoVerificadorRequest" message="tns:calcularDigitoVerificador"/>
<output wsam:Action="http://webservice.scol.correios.com.br/WebServiceScol/calcularDigitoVerificadorResponse" message="tns:calcularDigitoVerificadorResponse"/>
</operation>
<operation name="solicitarPostagemReversa">
<input wsam:Action="http://webservice.scol.correios.com.br/WebServiceScol/solicitarPostagemReversaRequest" message="tns:solicitarPostagemReversa"/>
<output wsam:Action="http://webservice.scol.correios.com.br/WebServiceScol/solicitarPostagemReversaResponse" message="tns:solicitarPostagemReversaResponse"/>
</operation>
</portType>
<binding name="WebServiceScolPortBinding" type="tns:WebServiceScol">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="solicitarPostagemSimultanea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="acompanharPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="solicitarRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="solicitarPostagem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarPostagemReversa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarPostagemSimultanea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelarPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calcularDigitoVerificador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="solicitarPostagemReversa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceScol">
<port name="WebServiceScolPort" binding="tns:WebServiceScolPortBinding">
<soap:address location="http://webservicescolhomologacao.correios.com.br:80/ScolWeb/WebServiceScol"/>
</port>
</service>
</definitions>
