distros/X/XML-Validator-Schema/t/bad.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="foo">
      <zomplexType>
        <sequence>
          <element name="no_type" minOccurs="0" />
          <element name="int" type="int" minOccurs="0" />
          <element name="integer" type="integer" minOccurs="0" />
          <element name="name" type="NMTOKEN" minOccurs="0"  />
          <element name="string" type="string" minOccurs="0" />
          <element name="bool" type="boolean" minOccurs="0" />
          <element name="date" type="dateTime" minOccurs="0" />
        </sequence>
      </complexType>
    </element>
  </schema>
