distros/B/Business-PaperlessTrans/share/svc.paperlesstrans.2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://schemas.datacontract.org/2004/07/BackOffice"
    xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/"
    elementFormDefault="qualified"
    targetNamespace="http://schemas.datacontract.org/2004/07/BackOffice"
  ><xs:import
      schemaLocation="http://svc.paperlesstrans.com:8888/?xsd=xsd1"
      namespace="http://schemas.microsoft.com/2003/10/Serialization/"
  /><xs:import
      schemaLocation="http://svc.paperlesstrans.com:8888/?xsd=xsd3"
      namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
  /><xs:complexType
      name="AuthenticationToken"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          name="TerminalID"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="TerminalKey"
          nillable="true"
          type="xs:string"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="AuthenticationToken"
      nillable="true"
      type="tns:AuthenticationToken"
  /><xs:complexType
      name="ScheduledCheck"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:ScheduledObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="Check"
              nillable="true"
              type="tns:Check"
          /><xs:element
              minOccurs="0"
              name="CheckID"
              type="ser:guid"
          /><xs:element
              minOccurs="0"
              name="CheckNumber"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="ScheduledCheck"
      nillable="true"
      type="tns:ScheduledCheck"
  /><xs:complexType
      name="ScheduledObject"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:ProfileObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="Amount"
              type="xs:double"
          /><xs:element
              minOccurs="0"
              name="BillingCycle"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="EndingDateTime"
              type="xs:dateTime"
          /><xs:element
              minOccurs="0"
              name="Frequency"
              type="tns:BillingFrequency"
          /><xs:element
              minOccurs="0"
              name="Memo"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="NextBillingDate"
              type="xs:dateTime"
          /><xs:element
              minOccurs="0"
              name="Pattern"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="ScheduleNumber"
              type="xs:int"
          /><xs:element
              minOccurs="0"
              name="StartDateTime"
              type="xs:dateTime"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="ScheduledObject"
      nillable="true"
      type="tns:ScheduledObject"
  /><xs:complexType
      name="ProfileObject"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:BaseObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="AccountInfo"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="CustomFields"
              nillable="true"
              type="tns:CustomFields"
          /><xs:element
              minOccurs="0"
              name="ExpirationDate"
              type="xs:dateTime"
          /><xs:element
              minOccurs="0"
              name="InitDateTime"
              type="xs:dateTime"
          /><xs:element
              minOccurs="0"
              name="LastBillingDate"
              type="xs:dateTime"
          /><xs:element
              minOccurs="0"
              name="ListingName"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="MerchantID"
              type="ser:guid"
          /><xs:element
              minOccurs="0"
              name="ProfileNumber"
              type="xs:int"
          /><xs:element
              minOccurs="0"
              name="TenderType"
              type="tns:TenderType"
          /><xs:element
              minOccurs="0"
              name="Version"
              type="xs:short"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="ProfileObject"
      nillable="true"
      type="tns:ProfileObject"
  /><xs:complexType
      name="BaseObject"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          name="ID"
          type="ser:guid"
      /><xs:element
          minOccurs="0"
          name="IsLoaded"
          type="xs:boolean"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="BaseObject"
      nillable="true"
      type="tns:BaseObject"
  /><xs:complexType
      name="CustomFields"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          name="Field_1"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_10"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_11"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_12"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_13"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_14"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_15"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_16"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_17"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_18"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_19"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_2"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_20"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_21"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_22"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_23"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_24"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_25"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_26"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_27"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_28"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_29"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_3"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_30"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_4"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_5"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_6"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_7"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_8"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Field_9"
          nillable="true"
          type="xs:string"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="CustomFields"
      nillable="true"
      type="tns:CustomFields"
  /><xs:simpleType
      name="TenderType"
    ><xs:restriction
        base="xs:string"
      ><xs:enumeration
          value="None"
      /><xs:enumeration
          value="Credit_Card"
      /><xs:enumeration
          value="Check"
      /></xs:restriction
    ></xs:simpleType
  ><xs:element
      name="TenderType"
      nillable="true"
      type="tns:TenderType"
  /><xs:simpleType
      name="BillingFrequency"
    ><xs:restriction
        base="xs:string"
      ><xs:enumeration
          value="One_Time_Only"
      /><xs:enumeration
          value="Weekly"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >52</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Semi_Weekly"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >26</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Bi_Monthly"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >24</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Monthly"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >12</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Quarterly"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >4</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Bi_Annually"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >2</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Annually"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >1</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ></xs:restriction
    ></xs:simpleType
  ><xs:element
      name="BillingFrequency"
      nillable="true"
      type="tns:BillingFrequency"
  /><xs:complexType
      name="Check"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:BaseObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="AccountNumber"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Address"
              nillable="true"
              type="tns:Address"
          /><xs:element
              minOccurs="0"
              name="EmailAddress"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Identification"
              nillable="true"
              type="tns:Identification"
          /><xs:element
              minOccurs="0"
              name="NameOnAccount"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Phone_1"
              nillable="true"
              type="tns:Phone"
          /><xs:element
              minOccurs="0"
              name="Phone_2"
              nillable="true"
              type="tns:Phone"
          /><xs:element
              minOccurs="0"
              name="RoutingNumber"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="Check"
      nillable="true"
      type="tns:Check"
  /><xs:complexType
      name="Address"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:BaseObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="City"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Country"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="State"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Street"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Zip"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="Address"
      nillable="true"
      type="tns:Address"
  /><xs:complexType
      name="Identification"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:BaseObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="Address"
              nillable="true"
              type="tns:Address"
          /><xs:element
              minOccurs="0"
              name="DOB"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Expiration"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="IDType"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Number"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="State"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="Identification"
      nillable="true"
      type="tns:Identification"
  /><xs:complexType
      name="Phone"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:BaseObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="Number"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Type"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="Phone"
      nillable="true"
      type="tns:Phone"
  /><xs:simpleType
      name="TransactionType"
    ><xs:restriction
        base="xs:string"
      ><xs:enumeration
          value="Unknown"
      /><xs:enumeration
          value="Card_Processing"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >111</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Card_Refund"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >112</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Card_Authorization"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >113</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Card_Settlement"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >114</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Check_Processing"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >121</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Check_Void"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >122</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ></xs:restriction
    ></xs:simpleType
  ><xs:element
      name="TransactionType"
      nillable="true"
      type="tns:TransactionType"
  /><xs:complexType
      name="ReceiptingConfiguration"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          name="DonationReceipts"
          nillable="true"
          type="tns:ArrayOfReceiptTemplate"
      /><xs:element
          minOccurs="0"
          name="EndOfScheduleNotices"
          nillable="true"
          type="tns:ArrayOfReceiptTemplate"
      /><xs:element
          minOccurs="0"
          name="EndofScheduleAdvisories"
          nillable="true"
          type="tns:ArrayOfReceiptTemplate"
      /><xs:element
          minOccurs="0"
          name="ExpiringCardAdvisories"
          nillable="true"
          type="tns:ArrayOfReceiptTemplate"
      /><xs:element
          minOccurs="0"
          name="FromAddress"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="MerchantToAddress"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="NewDonationAdvisories"
          nillable="true"
          type="tns:ArrayOfReceiptTemplate"
      /><xs:element
          minOccurs="0"
          name="NewScheduleAdvisories"
          nillable="true"
          type="tns:ArrayOfReceiptTemplate"
      /><xs:element
          minOccurs="0"
          name="NewScheduleConfirmations"
          nillable="true"
          type="tns:ArrayOfReceiptTemplate"
      /><xs:element
          minOccurs="0"
          name="ReceiptsByTerminal"
          nillable="true"
          type="tns:ArrayOfReceiptsByTerminal"
      /><xs:element
          minOccurs="0"
          name="RecurringDonationReceipts"
          nillable="true"
          type="tns:ArrayOfReceiptTemplate"
      /><xs:element
          minOccurs="0"
          name="SchedulerDeclineAdvisories"
          nillable="true"
          type="tns:ArrayOfReceiptTemplate"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ReceiptingConfiguration"
      nillable="true"
      type="tns:ReceiptingConfiguration"
  /><xs:complexType
      name="ArrayOfReceiptTemplate"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="ReceiptTemplate"
          nillable="true"
          type="tns:ReceiptTemplate"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfReceiptTemplate"
      nillable="true"
      type="tns:ArrayOfReceiptTemplate"
  /><xs:complexType
      name="ReceiptTemplate"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          name="Body"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="LastModified"
          type="xs:dateTime"
      /><xs:element
          xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
          minOccurs="0"
          name="MailMergeFields"
          nillable="true"
          type="q1:ArrayOfKeyValueOfstringstring"
      /><xs:element
          minOccurs="0"
          name="MailerID"
          type="xs:int"
      /><xs:element
          minOccurs="0"
          name="MailerName"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Subject"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="TerminalID"
          type="ser:guid"
      /><xs:element
          minOccurs="0"
          name="TerminalName"
          nillable="true"
          type="xs:string"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ReceiptTemplate"
      nillable="true"
      type="tns:ReceiptTemplate"
  /><xs:complexType
      name="ArrayOfReceiptsByTerminal"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="ReceiptsByTerminal"
          nillable="true"
          type="tns:ReceiptsByTerminal"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfReceiptsByTerminal"
      nillable="true"
      type="tns:ArrayOfReceiptsByTerminal"
  /><xs:complexType
      name="ReceiptsByTerminal"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          name="IsScheduler"
          type="xs:boolean"
      /><xs:element
          minOccurs="0"
          name="SendDonationReceipts"
          type="xs:boolean"
      /><xs:element
          minOccurs="0"
          name="SendEndOfScheduleNotices"
          type="xs:boolean"
      /><xs:element
          minOccurs="0"
          name="SendEndofScheduleAdvisories"
          type="xs:boolean"
      /><xs:element
          minOccurs="0"
          name="SendExpiringCardAdvisories"
          type="xs:boolean"
      /><xs:element
          minOccurs="0"
          name="SendNewDonationAdvisories"
          type="xs:boolean"
      /><xs:element
          minOccurs="0"
          name="SendNewScheduleAdvisories"
          type="xs:boolean"
      /><xs:element
          minOccurs="0"
          name="SendNewScheduleConfirmations"
          type="xs:boolean"
      /><xs:element
          minOccurs="0"
          name="SendRecurringDonationReceipts"
          type="xs:boolean"
      /><xs:element
          minOccurs="0"
          name="SendSchedulerDeclineAdvisories"
          type="xs:boolean"
      /><xs:element
          minOccurs="0"
          name="TerminalID"
          type="ser:guid"
      /><xs:element
          minOccurs="0"
          name="TerminalName"
          nillable="true"
          type="xs:string"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ReceiptsByTerminal"
      nillable="true"
      type="tns:ReceiptsByTerminal"
  /><xs:complexType
      name="ArrayOfCardSettlement"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="CardSettlement"
          nillable="true"
          type="tns:CardSettlement"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfCardSettlement"
      nillable="true"
      type="tns:ArrayOfCardSettlement"
  /><xs:complexType
      name="CardSettlement"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:TransactionObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="AuthTransactionID"
              type="ser:guid"
          /><xs:element
              minOccurs="0"
              name="GW_BatchID"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="GW_Message"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="GW_ResponseDateTime"
              type="xs:dateTime"
          /><xs:element
              minOccurs="0"
              name="GW_TransactionID"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="GW_TransactionIndex"
              type="xs:short"
          /><xs:element
              minOccurs="0"
              name="Gateway"
              type="tns:Gateway"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CardSettlement"
      nillable="true"
      type="tns:CardSettlement"
  /><xs:complexType
      name="TransactionObject"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:ProcedureObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="Amount"
              type="xs:double"
          /><xs:element
              minOccurs="0"
              name="AuthorizationMessage"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="AuthorizationNumber"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="ProfileNumber"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="PurchaserAddress"
              nillable="true"
              type="tns:Address"
          /><xs:element
              minOccurs="0"
              name="PurchaserName"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Tender"
              type="tns:TenderType"
          /><xs:element
              minOccurs="0"
              name="TransactionType"
              type="tns:TransactionType"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="TransactionObject"
      nillable="true"
      type="tns:TransactionObject"
  /><xs:complexType
      name="ProcedureObject"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:BaseObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="BatchNumber"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="ConnectionID"
              type="ser:guid"
          /><xs:element
              minOccurs="0"
              name="CustomFields"
              nillable="true"
              type="tns:CustomFields"
          /><xs:element
              minOccurs="0"
              name="DateTimeStamp"
              type="xs:dateTime"
          /><xs:element
              minOccurs="0"
              name="MerchantID"
              type="ser:guid"
          /><xs:element
              minOccurs="0"
              name="ProcedureType"
              type="tns:ProcedureType"
          /><xs:element
              minOccurs="0"
              name="ResponseCode"
              type="tns:ResponseCode"
          /><xs:element
              minOccurs="0"
              name="Status"
              type="tns:StatusCode"
          /><xs:element
              minOccurs="0"
              name="TerminalID"
              type="ser:guid"
          /><xs:element
              minOccurs="0"
              name="TerminalName"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="TestMode"
              type="xs:boolean"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="ProcedureObject"
      nillable="true"
      type="tns:ProcedureObject"
  /><xs:simpleType
      name="ProcedureType"
    ><xs:restriction
        base="xs:string"
      ><xs:enumeration
          value="Unknown"
      /><xs:enumeration
          value="Transaction"
      /><xs:enumeration
          value="Scheduling"
      /><xs:enumeration
          value="Batch"
      /></xs:restriction
    ></xs:simpleType
  ><xs:element
      name="ProcedureType"
      nillable="true"
      type="tns:ProcedureType"
  /><xs:simpleType
      name="ResponseCode"
    ><xs:restriction
        base="xs:string"
      ><xs:enumeration
          value="Success"
      /><xs:enumeration
          value="Communication_Error"
      /><xs:enumeration
          value="Syntax_Error"
      /></xs:restriction
    ></xs:simpleType
  ><xs:element
      name="ResponseCode"
      nillable="true"
      type="tns:ResponseCode"
  /><xs:simpleType
      name="StatusCode"
    ><xs:restriction
        base="xs:string"
      ><xs:enumeration
          value="Unknown"
      /><xs:enumeration
          value="Approved"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >101</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Accepted"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >102</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Success"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >103</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Declined"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >201</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Rejected"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >202</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Error"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >203</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ></xs:restriction
    ></xs:simpleType
  ><xs:element
      name="StatusCode"
      nillable="true"
      type="tns:StatusCode"
  /><xs:simpleType
      name="Gateway"
    ><xs:restriction
        base="xs:string"
      ><xs:enumeration
          value="None"
      /><xs:enumeration
          value="Testing"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >200</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Paymentech"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >201</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ></xs:restriction
    ></xs:simpleType
  ><xs:element
      name="Gateway"
      nillable="true"
      type="tns:Gateway"
  /><xs:complexType
      name="ArrayOfCheckProcessing"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="CheckProcessing"
          nillable="true"
          type="tns:CheckProcessing"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfCheckProcessing"
      nillable="true"
      type="tns:ArrayOfCheckProcessing"
  /><xs:complexType
      name="CheckProcessing"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:TransactionObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="CH_AuthorizationNumber"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="CH_IsAccepted"
              type="xs:boolean"
          /><xs:element
              minOccurs="0"
              name="CH_Message"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="CH_ResponseDateTime"
              type="xs:dateTime"
          /><xs:element
              minOccurs="0"
              name="CH_TransactionID"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Check"
              nillable="true"
              type="tns:Check"
          /><xs:element
              minOccurs="0"
              name="CheckID"
              type="ser:guid"
          /><xs:element
              minOccurs="0"
              name="CheckNumber"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Clearinghouse"
              type="tns:Clearinghouse"
          /><xs:element
              minOccurs="0"
              name="ScheduledItemID"
              type="ser:guid"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CheckProcessing"
      nillable="true"
      type="tns:CheckProcessing"
  /><xs:simpleType
      name="Clearinghouse"
    ><xs:restriction
        base="xs:string"
      ><xs:enumeration
          value="None"
      /><xs:enumeration
          value="Testing"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >100</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="eChex"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >101</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ></xs:restriction
    ></xs:simpleType
  ><xs:element
      name="Clearinghouse"
      nillable="true"
      type="tns:Clearinghouse"
  /><xs:complexType
      name="ArrayOfCheckVoid"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="CheckVoid"
          nillable="true"
          type="tns:CheckVoid"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfCheckVoid"
      nillable="true"
      type="tns:ArrayOfCheckVoid"
  /><xs:complexType
      name="CheckVoid"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:TransactionObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="CH_AuthorizationNumber"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="CH_Message"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="CH_ResponseDateTime"
              type="xs:dateTime"
          /><xs:element
              minOccurs="0"
              name="Clearinghouse"
              type="tns:Clearinghouse"
          /><xs:element
              minOccurs="0"
              name="ProcessedTransactionID"
              type="ser:guid"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CheckVoid"
      nillable="true"
      type="tns:CheckVoid"
  /><xs:complexType
      name="ArrayOfCardAuthorization"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="CardAuthorization"
          nillable="true"
          type="tns:CardAuthorization"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfCardAuthorization"
      nillable="true"
      type="tns:ArrayOfCardAuthorization"
  /><xs:complexType
      name="CardAuthorization"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:TransactionObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="AmountAvailable"
              type="xs:double"
          /><xs:element
              minOccurs="0"
              name="AmountCaptured"
              type="xs:double"
          /><xs:element
              minOccurs="0"
              name="Card"
              nillable="true"
              type="tns:Card"
          /><xs:element
              minOccurs="0"
              name="CardID"
              type="ser:guid"
          /><xs:element
              minOccurs="0"
              name="GW_AuthorizationNumber"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="GW_BatchID"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="GW_IsApproved"
              type="xs:boolean"
          /><xs:element
              minOccurs="0"
              name="GW_Message"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="GW_OrderID"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="GW_PassesAVS"
              type="xs:boolean"
          /><xs:element
              minOccurs="0"
              name="GW_PassesCVV"
              type="xs:boolean"
          /><xs:element
              minOccurs="0"
              name="GW_ResponseDateTime"
              type="xs:dateTime"
          /><xs:element
              minOccurs="0"
              name="GW_TransactionIndex"
              type="xs:short"
          /><xs:element
              minOccurs="0"
              name="Gateway"
              type="tns:Gateway"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CardAuthorization"
      nillable="true"
      type="tns:CardAuthorization"
  /><xs:complexType
      name="Card"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:BaseObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="AccountEnding"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Address"
              nillable="true"
              type="tns:Address"
          /><xs:element
              minOccurs="0"
              name="CardBrand"
              type="tns:CardBrand"
          /><xs:element
              minOccurs="0"
              name="CardNumber"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="EmailAddress"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="ExpirationMonth"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="ExpirationYear"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="Identification"
              nillable="true"
              type="tns:Identification"
          /><xs:element
              minOccurs="0"
              name="NameOnAccount"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="SecurityCode"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="TrackData"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="Card"
      nillable="true"
      type="tns:Card"
  /><xs:simpleType
      name="CardBrand"
    ><xs:restriction
        base="xs:string"
      ><xs:enumeration
          value="None"
      /><xs:enumeration
          value="American_Express"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >3</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Visa"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >4</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Master_Card"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >5</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Discover"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >6</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ></xs:restriction
    ></xs:simpleType
  ><xs:element
      name="CardBrand"
      nillable="true"
      type="tns:CardBrand"
  /><xs:complexType
      name="ArrayOfSchedulingObject"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="SchedulingObject"
          nillable="true"
          type="tns:SchedulingObject"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfSchedulingObject"
      nillable="true"
      type="tns:ArrayOfSchedulingObject"
  /><xs:complexType
      name="SchedulingObject"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:ProcedureObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="Schedule"
              nillable="true"
              type="tns:ScheduledCard"
          /><xs:element
              minOccurs="0"
              name="ScheduleID"
              type="ser:guid"
          /><xs:element
              minOccurs="0"
              name="SchedulingType"
              type="tns:SchedulingType"
          /><xs:element
              minOccurs="0"
              name="Tender"
              type="tns:TenderType"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="SchedulingObject"
      nillable="true"
      type="tns:SchedulingObject"
  /><xs:complexType
      name="ScheduledCard"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:ScheduledObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="Card"
              nillable="true"
              type="tns:Card"
          /><xs:element
              minOccurs="0"
              name="CardID"
              type="ser:guid"
          /><xs:element
              minOccurs="0"
              name="Gateway"
              type="tns:Gateway"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="ScheduledCard"
      nillable="true"
      type="tns:ScheduledCard"
  /><xs:simpleType
      name="SchedulingType"
    ><xs:restriction
        base="xs:string"
      ><xs:enumeration
          value="Unknown"
      /><xs:enumeration
          value="Card_Schedule_Setup"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >211</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Card_Schedule_Update"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >212</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Card_Schedule_Termination"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >213</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Check_Schedule_Setup"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >221</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Check_Schedule_Update"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >222</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Check_Schedule_Termination"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >223</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ></xs:restriction
    ></xs:simpleType
  ><xs:element
      name="SchedulingType"
      nillable="true"
      type="tns:SchedulingType"
  /><xs:complexType
      name="ArrayOfCardScheduleSetup"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="CardScheduleSetup"
          nillable="true"
          type="tns:CardScheduleSetup"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfCardScheduleSetup"
      nillable="true"
      type="tns:ArrayOfCardScheduleSetup"
  /><xs:complexType
      name="CardScheduleSetup"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:SchedulingObject"
        ><xs:sequence
        /></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CardScheduleSetup"
      nillable="true"
      type="tns:CardScheduleSetup"
  /><xs:complexType
      name="ArrayOfCardScheduleUpdate"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="CardScheduleUpdate"
          nillable="true"
          type="tns:CardScheduleUpdate"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfCardScheduleUpdate"
      nillable="true"
      type="tns:ArrayOfCardScheduleUpdate"
  /><xs:complexType
      name="CardScheduleUpdate"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:SchedulingObject"
        ><xs:sequence
        /></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CardScheduleUpdate"
      nillable="true"
      type="tns:CardScheduleUpdate"
  /><xs:complexType
      name="ArrayOfCardScheduleTermination"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="CardScheduleTermination"
          nillable="true"
          type="tns:CardScheduleTermination"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfCardScheduleTermination"
      nillable="true"
      type="tns:ArrayOfCardScheduleTermination"
  /><xs:complexType
      name="CardScheduleTermination"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:SchedulingObject"
        ><xs:sequence
        /></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CardScheduleTermination"
      nillable="true"
      type="tns:CardScheduleTermination"
  /><xs:complexType
      name="ArrayOfCheckScheduleSetup"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="CheckScheduleSetup"
          nillable="true"
          type="tns:CheckScheduleSetup"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfCheckScheduleSetup"
      nillable="true"
      type="tns:ArrayOfCheckScheduleSetup"
  /><xs:complexType
      name="CheckScheduleSetup"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:SchedulingObject"
        ><xs:sequence
        /></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CheckScheduleSetup"
      nillable="true"
      type="tns:CheckScheduleSetup"
  /><xs:complexType
      name="ArrayOfCheckScheduleUpdate"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="CheckScheduleUpdate"
          nillable="true"
          type="tns:CheckScheduleUpdate"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfCheckScheduleUpdate"
      nillable="true"
      type="tns:ArrayOfCheckScheduleUpdate"
  /><xs:complexType
      name="CheckScheduleUpdate"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:SchedulingObject"
        ><xs:sequence
        /></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CheckScheduleUpdate"
      nillable="true"
      type="tns:CheckScheduleUpdate"
  /><xs:complexType
      name="ArrayOfCheckScheduleTermination"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="CheckScheduleTermination"
          nillable="true"
          type="tns:CheckScheduleTermination"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfCheckScheduleTermination"
      nillable="true"
      type="tns:ArrayOfCheckScheduleTermination"
  /><xs:complexType
      name="CheckScheduleTermination"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:SchedulingObject"
        ><xs:sequence
        /></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CheckScheduleTermination"
      nillable="true"
      type="tns:CheckScheduleTermination"
  /><xs:complexType
      name="ArrayOfProfileObject"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="ProfileObject"
          nillable="true"
          type="tns:ProfileObject"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfProfileObject"
      nillable="true"
      type="tns:ArrayOfProfileObject"
  /><xs:complexType
      name="ArrayOfScheduledObject"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="ScheduledObject"
          nillable="true"
          type="tns:ScheduledObject"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfScheduledObject"
      nillable="true"
      type="tns:ArrayOfScheduledObject"
  /><xs:complexType
      name="CardProcessing"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:TransactionObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="AmountRefunded"
              type="xs:double"
          /><xs:element
              minOccurs="0"
              name="Card"
              nillable="true"
              type="tns:Card"
          /><xs:element
              minOccurs="0"
              name="CardID"
              type="ser:guid"
          /><xs:element
              minOccurs="0"
              name="GW_AuthorizationNumber"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="GW_BatchID"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="GW_IsApproved"
              type="xs:boolean"
          /><xs:element
              minOccurs="0"
              name="GW_Message"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="GW_OrderID"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="GW_PassesAVS"
              type="xs:boolean"
          /><xs:element
              minOccurs="0"
              name="GW_PassesCVV"
              type="xs:boolean"
          /><xs:element
              minOccurs="0"
              name="GW_ResponseDateTime"
              type="xs:dateTime"
          /><xs:element
              minOccurs="0"
              name="GW_TransactionID"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="GW_TransactionIndex"
              type="xs:short"
          /><xs:element
              minOccurs="0"
              name="Gateway"
              type="tns:Gateway"
          /><xs:element
              minOccurs="0"
              name="ScheduledItemID"
              type="ser:guid"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CardProcessing"
      nillable="true"
      type="tns:CardProcessing"
  /><xs:complexType
      name="CardRefund"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:TransactionObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="GW_BatchID"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="GW_Message"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="GW_ResponseDateTime"
              type="xs:dateTime"
          /><xs:element
              minOccurs="0"
              name="GW_TransactionID"
              nillable="true"
              type="xs:string"
          /><xs:element
              minOccurs="0"
              name="GW_TransactionIndex"
              type="xs:short"
          /><xs:element
              minOccurs="0"
              name="Gateway"
              type="tns:Gateway"
          /><xs:element
              minOccurs="0"
              name="ProcessedTransactionID"
              type="ser:guid"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CardRefund"
      nillable="true"
      type="tns:CardRefund"
  /><xs:complexType
      name="ArrayOfTransactionObject"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="TransactionObject"
          nillable="true"
          type="tns:TransactionObject"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfTransactionObject"
      nillable="true"
      type="tns:ArrayOfTransactionObject"
  /><xs:complexType
      name="CardProfile"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:ProfileObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="Card"
              nillable="true"
              type="tns:Card"
          /><xs:element
              minOccurs="0"
              name="CardID"
              type="ser:guid"
          /><xs:element
              minOccurs="0"
              name="Gateway"
              type="tns:Gateway"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CardProfile"
      nillable="true"
      type="tns:CardProfile"
  /><xs:complexType
      name="CheckProfile"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:ProfileObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="Check"
              nillable="true"
              type="tns:Check"
          /><xs:element
              minOccurs="0"
              name="CheckID"
              type="ser:guid"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CheckProfile"
      nillable="true"
      type="tns:CheckProfile"
  /><xs:complexType
      name="ArrayOfCardProcessing"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="CardProcessing"
          nillable="true"
          type="tns:CardProcessing"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfCardProcessing"
      nillable="true"
      type="tns:ArrayOfCardProcessing"
  /><xs:complexType
      name="ArrayOfCardRefund"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="CardRefund"
          nillable="true"
          type="tns:CardRefund"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfCardRefund"
      nillable="true"
      type="tns:ArrayOfCardRefund"
  /><xs:complexType
      name="ArrayOfCardProfileCreation"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="CardProfileCreation"
          nillable="true"
          type="tns:CardProfileCreation"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfCardProfileCreation"
      nillable="true"
      type="tns:ArrayOfCardProfileCreation"
  /><xs:complexType
      name="CardProfileCreation"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:ProfilingObject"
        ><xs:sequence
        /></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CardProfileCreation"
      nillable="true"
      type="tns:CardProfileCreation"
  /><xs:complexType
      name="ProfilingObject"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:ProcedureObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="Action"
              type="tns:ProfilingAction"
          /><xs:element
              minOccurs="0"
              name="ProfileID"
              type="ser:guid"
          /><xs:element
              minOccurs="0"
              name="Schedule"
              nillable="true"
              type="tns:ScheduledCard"
          /><xs:element
              minOccurs="0"
              name="Tender"
              type="tns:TenderType"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="ProfilingObject"
      nillable="true"
      type="tns:ProfilingObject"
  /><xs:simpleType
      name="ProfilingAction"
    ><xs:restriction
        base="xs:string"
      ><xs:enumeration
          value="Unknown"
      /><xs:enumeration
          value="Create_Card_Profile"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >211</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ><xs:enumeration
          value="Create_Check_Profile"
        ><xs:annotation
          ><xs:appinfo
            ><EnumerationValue
                xmlns="http://schemas.microsoft.com/2003/10/Serialization/"
              >221</EnumerationValue
            ></xs:appinfo
          ></xs:annotation
        ></xs:enumeration
      ></xs:restriction
    ></xs:simpleType
  ><xs:element
      name="ProfilingAction"
      nillable="true"
      type="tns:ProfilingAction"
  /><xs:complexType
      name="ArrayOfCheckProfileCreation"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="CheckProfileCreation"
          nillable="true"
          type="tns:CheckProfileCreation"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfCheckProfileCreation"
      nillable="true"
      type="tns:ArrayOfCheckProfileCreation"
  /><xs:complexType
      name="CheckProfileCreation"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:ProfilingObject"
        ><xs:sequence
        /></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="CheckProfileCreation"
      nillable="true"
      type="tns:CheckProfileCreation"
  /><xs:complexType
      name="ArrayOfTerminal"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          maxOccurs="unbounded"
          name="Terminal"
          nillable="true"
          type="tns:Terminal"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ArrayOfTerminal"
      nillable="true"
      type="tns:ArrayOfTerminal"
  /><xs:complexType
      name="Terminal"
    ><xs:complexContent
        mixed="false"
      ><xs:extension
          base="tns:BaseObject"
        ><xs:sequence
          ><xs:element
              minOccurs="0"
              name="IsIPRestricted"
              type="xs:boolean"
          /><xs:element
              minOccurs="0"
              name="MerchantID"
              type="ser:guid"
          /><xs:element
              minOccurs="0"
              name="NickName"
              nillable="true"
              type="xs:string"
          /></xs:sequence
        ></xs:extension
      ></xs:complexContent
    ></xs:complexType
  ><xs:element
      name="Terminal"
      nillable="true"
      type="tns:Terminal"
  /><xs:complexType
      name="RequestObject"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          name="BatchNumber"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="CustomFields"
          nillable="true"
          type="tns:CustomFields"
      /><xs:element
          minOccurs="0"
          name="TestMode"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Token"
          nillable="true"
          type="tns:AuthenticationToken"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="RequestObject"
      nillable="true"
      type="tns:RequestObject"
  /><xs:complexType
      name="ResponseObject"
    ><xs:sequence
      ><xs:element
          minOccurs="0"
          name="DateTimeStamp"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="DonorEmailSent"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="MerchantEmailSent"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="Message"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="ResponseCode"
          nillable="true"
          type="xs:string"
      /><xs:element
          minOccurs="0"
          name="TransactionID"
          nillable="true"
          type="xs:string"
      /></xs:sequence
    ></xs:complexType
  ><xs:element
      name="ResponseObject"
      nillable="true"
      type="tns:ResponseObject"
  /></xs:schema
>
