distros/X/XML-XForms-Validate/t/abc.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="data">
 <xs:complexType>
  <xs:sequence>
   <xs:element name="a" type="xs:integer"/>
   <xs:element name="b" type="xs:string"/>
   <xs:element name="c">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="d" type="xs:string"/>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
  </xs:sequence>
 </xs:complexType>
</xs:element>
</xs:schema>