distros/X/XSDSQL/t/xml_029/schema2.xsd

<?xml version="1.0"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"        
	targetNamespace="namespace2"  
    elementFormDefault="qualified"
>
	<xs:element name="s2">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="1">
				<xs:element name="el0" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="el1" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="s3" type="xs:string"/>

</xs:schema>

 
