distros/X/XSDSQL/t/xml_002/simple_schema_with_iteration.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="simple_schema_with_iteration">
	<xs:complexType>
    		<xs:sequence minOccurs="0" maxOccurs="1">
		      <xs:element name="el0" type="xs:string" minOccurs="0" maxOccurs="1"/>
		      <xs:element name="el1" type="xs:string" minOccurs="0" maxOccurs="1"/>
		      <xs:element name="el2" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    		</xs:sequence>
	</xs:complexType>
  </xs:element>
</xs:schema>

 
